<h3 class="grey-500 text-uppercase" >Diskusije</h3>
<p>Kod nas su prisutne {{{format.Count(CacheData.Discs)}}} diskusije, <a href="/diskusija#">pogledajte sve diskusije</a>.</p>
<ul class="list-group">
  {{#CacheData.Discs:i}}
  <li class="list-group-item">
    <div class="pull-right float-right padding-5 font-size-30">
        {{{.MsgCount}}}
    </div>
    <a href="/diskusija#{{{.guid}}}" class="black font-size-24 font-weight-500">{{{.title}}}</a>
    <br>
    <small>{{{.description}}}&nbsp;</small>
  </li>
  {{/}}
</ul>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvDisc = { 
        Name: 'Disc-List', 
        Rows: 'CacheData.Discs', 
        DetailRow: 'Disc', 
        ModalRow: 'DiscItem', 
        ModalName: '#DiscShow' 
      };
      self.on('doUrl', function (iUrl) {
        self.sync.Sync(self, SrvDisc);
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        //no code
      });
      self.on('doView', function (iRow) {
        self.sync.Sync(self, self.sync.ViewRow(SrvDisc, iRow));
      });
      self.fire('doUrl', Client.getUrlData());
    },
    data: function () {
      return {
        CacheData: {
          Discs: {},
          Msgs: {}
        },
        Lng: SiteLng
      }
    }
  }
</script>