<Element-Crumbs row={{Disc}} Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Crumbs>
{{#if(format.isDetails(Disc))}}
  {{#if(format.hasAcc(Live, kind))}}
  <div class="row">
    <div class="{{Lng.Page.MainBS}}">
      <Element-Header row={{Disc}} title={{{Disc.title}}} url={{{Disc.guid}}} kind={{kind}}>
        <small>{{{Disc.description}}}&nbsp;</small>
      </Element-Header>
      {{#if(format.hasAcc(Disc, kind))}}
      <p>{{{Disc.description}}}&nbsp;</p>
      {{#if(Disc.kind=="parlament")}}
      <Element-Parlament row={{Disc}} refresh={{Refresh}}></Element-Parlament>
      <br>
      {{/if}}
      <Element-Chat row={{Disc}} refresh={{Refresh}}></Element-Chat>
      {{else}}
      <br>
      <div class="alert alert-info">
        <h1>{{{format.Format(Lng.Disc.Msg.Registration.Msg, Disc.title)}}}</h1>
        <a class="btn btn-primary" href="/auth">{{{Lng.Disc.Msg.Registration.Btn}}}</a>
      </div>
      {{/if}}
      <br>
      <br>
    </div>
    <Element-Info Title="Diskusija" row={{Disc}} Action="doEdit,disc" doAction={{doAction}} kind={{kind}}>
      <small class="label label-info text-lowercase">{{{format.Label(.visibility, Lng.Disc.visibility)}}}</small>
      <small class="label label-info text-lowercase">{{{format.Label(.kind, Lng.Disc.kind)}}}</small>
      {{#if(format.isTrue(Disc.anonimus))}}
      <small class="label label-info text-lowercase">{{{Lng.Disc.anonimus.Text}}}</small>
      {{/if}}
      <br>
      <small>{{{Lng.Disc.moderators.Text}}} <span class="badge badge-primary">{{format.Count(Disc.moderators)}}</span></small>
      <br>
      <small>{{{Lng.Disc.parcipients.Text}}} <span class="badge badge-primary">{{format.Count(Disc.parcipients)}}</span></small>
      <br>
      <small>Viewers <a href="javascript:void(0)" class="badge badge-primary" on-click="@this.fire('doShow', 'Show.Viewers')">{{{format.Count(Viewers)}}}</a></small>
    </Element-Info>
  </div>
  {{else}}
  <div class="alert alert-danger">
    <h1>{{{Lng.Live.Msg.Acc.Msg}}}</h1>
    <a class="btn btn-xs btn-primary" href="/auth">{{{Lng.Live.Msg.Acc.Btn}}}</a>
  </div>
  {{/if}}
{{else}}
<div class="row">
  {{#CacheData.Discs:i}}
  <Element-Card row={{.}} title={{{.title}}} url={{{.guid}}}>
    <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;<span class="label label-primary">{{{.msg_count}}}</span>&nbsp;
    <small class="label label-info">{{{format.Label(.kind, Lng.Disc.kind)}}}</small>
  </Element-Card>
  {{/}}
  <div class="col-xs-12">
    <Element-Cmd Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Cmd>
  </div>
</div>
{{/if}}
<div id="DiscShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.Disc.Dialog.Title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <Element-Input meta={{Lng.Disc.title}} value={{DiscItem.title}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-3">
            <Element-Input meta={{Lng.Disc.visibility}} value={{DiscItem.visibility}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-12">
            {{#if(DiscItem.visibility=="open")}}
            <Element-Input meta={{Lng.Disc.anonimus}} value={{DiscItem.anonimus}}></Element-Input>
            {{else}}
            <Element-Input meta={{Lng.Disc.parcipients}} value={{DiscItem.parcipients}}></Element-Input>
            {{/if}}
          </div>
          <div class="col-xs-12 col-sm-6">
            <Element-Input meta={{Lng.Disc.kind}} value={{DiscItem.kind}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta={{Lng.Disc.parlament_talk}} value={{DiscItem.parlament_talk}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta={{Lng.Disc.parlament_reply}} value={{DiscItem.parlament_reply}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-12">
            <Element-Input meta={{Lng.Disc.moderators}} value={{DiscItem.moderators}}></Element-Input>
          </div>
        </div>
        <Element-Input meta={{Lng.Disc.tag}} value={{DiscItem.tag}}></Element-Input>
        <Element-Input meta={{Lng.Disc.description}} value={{DiscItem.description}}></Element-Input>
      </div>
      <div class="modal-footer">
        <Element-Cmd row={{DiscItem}} Action="doDialog" doAction={{doAction}} kind={{kind}}></Element-Cmd>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvViewers = { Name: 'Disc-Viewers',  Rows: 'Viewers' };
      var SrvDisc = { 
        Name: 'Disc-List', 
        Rows: 'CacheData.Discs', 
        DetailRow: 'Disc', 
        ModalRow: 'DiscItem', 
        ModalName: '#DiscShow' 
      };

      //($("element").data('bs.modal') || {})._isShown    // Bootstrap 4
      // if(($("element").data('bs.modal') || {}).isShown)     // Bootstrap <= 3
      // {$("#DiscShow>div>div :input").attr("disabled", true);

      // }
      self.on('doUrl', function (iUrl) {
        var fUrl =Client.getUrlData();
        console.log('EEEEEEEEEEEEEEEE', fUrl);
        switch(fUrl.cmd){
          case "list":
            self.sync.Sync(self, self.sync.Refresh(SrvDisc, self));
          break;
          case "detail":
            var fRow = self.sync.View(self, SrvDisc, { guid: fUrl.guid });
            //self.sync.Sync(self, self.sync.DetailRow(SrvDisc, fRow));
            self.sync.Sync(self, SrvDisc, 'detail', fRow, function(oSelf, oService, oData){
              console.log('BBB', oData);
              if(oData&&oData.guid){
                self.set(SrvDisc.DetailRow, oData);
              }else{
                if(fUrl.command=="add"){
                  if(fUrl.params&&Global.Session.UserEmail){
                    fRow.title = fUrl.params.title;
                    fRow.description = fUrl.params.description;
                    fRow.visibility = "open";
                    fRow.kind = "chat";
                    fRow.anonimus = true;
                    fRow.moderators = [Global.Session.UserEmail];
                    fRow.session = Client.session();
                    console.log('AAA', fRow);
                    self.set(SrvDisc.DetailRow, fRow);
                  }else{

                  }
                }
              }
            });
          break;
        }
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        if(self.isEcho()) console.log('doEvent', iMessage, iData, iFrom, iTo);
        switch (iMessage) {
          case "Disc.Update":
            if(self.get(SrvDisc.DetailRow).guid==iData.guid){
              self.set(SrvDisc.DetailRow, iData);
            }
          break;
        }
      });
      self.on('doShow', function (iKey) {
        self.set(iKey, !self.get(iKey));
      });
      self.on('doView', function (iRow) {
        self.sync.Sync(self, self.sync.ViewRow(SrvDisc, iRow));
      });
      self.on('doAdd', function () {
        self.sync.Sync(self, self.sync.EditRow(SrvDisc, self.sync.NewRow({  }, SiteLng.Disc)));
      });
      self.on('doEdit', function (iRow) {
        self.sync.Sync(self, self.sync.EditRow(SrvDisc, iRow, self));
      });
      self.on('doSave', function (iRow) {
        self.sync.Sync(self, self.sync.SaveRow(SrvDisc, iRow, self));
      });
      self.on('doDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvDisc, iRow, self));
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Disc",
        CacheData: {
          Discs: {}
        },
        Vote: {},
        Show: {
          Viewers: false
        },
        doAction: "",
        Page: 0,
        Disc: {}, 
        DiscItem: {},
        Lng: SiteLng
      }
    }
  }
</script>