{{#if(format.isAdmin())}}
  {{#if(format.isDetails(Election))}}
    {{#if(format.hasAcc(Election, kind))}}
    <div class="row">
      <div class="c{{Lng.Page.MainBS}}">
        <Element-Header row={{Election}} title={{{Election.title}}} url={{{Election.guid}}} kind={{kind}}>
          <small>{{{Election.description}}}&nbsp;</small>
        </Element-Header>
        <br>
        <div class="row">
          <div class="col-xs-12 text-right">
            ukupno <span style="font-size: 18px; font-weight: bolder;color: #424242;">{{{Election.went_max}}}</span>
            <button class="{{Lng.Dialog.Save.Class}}" on-click="@this.fire('doWentSave')">{{{Lng.Dialog.Save.Text}}}</button>
          </div>
          <div class="col-xs-12">
            <input style="text-align: center;" class="form-control input-lg empty" id="WentNumber" type="number" placeholder="Unesite broj..." value={{Election.went_count}}>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-lg btn-default btn-block dd-action" on-click="@this.fire('doWentMinus')"><i class="fa fa-minus-square text-danger"></i></button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-lg btn-default btn-block dd-action" on-click="@this.fire('doWentPlus')"><i class="fa fa-plus-square text-success"></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <small>Glasalo/Sigurno</small><span class="pull-right">{{Election.went_count_secure}}/{{Election.went_max_secure}}</span>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{format.Prc(Election.went_count_secure, Election.went_max_secure)}}%">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <small>Izašlo/Birača</small><span class="pull-right">{{Election.went_count}}/{{Election.went_max}}</span>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{format.Prc(Election.went_count, Election.went_max)}}%">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-{{#if(Filter.Active)}}primary{{else}}default{{/if}}" on-click="@this.fire('doFilterShow')" data-toggle="tooltip" data-placement="top" title="Ukljuci filter" data-original-title="Filter"><i class="fa fa-filter" aria-hidden="true"></i></button>
          </span>
          <input id="FilterFind" type="text" class="form-control" placeholder="Traži..." aria-label="Traži..." aria-describedby="basic-addon" value={{Filter.Find}}>
          <span class="input-group-btn">
            <button class="btn btn-outline-default" on-click="@this.fire('doFilterClear')" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reset" {{#if(format.isEmpty(Filter.Find)&&!Filter.Active)}}disabled{{/if}}><i class="fa fa-times" aria-hidden="true"></i></button>
            <button class="btn btn-primary" on-click="@this.fire('doFilterSave')" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pretraži podatke..."><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </div>
        <br>
        {{#if(formatIsVisible(Election))}}
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th style="width: 50px;">#</th>
              <th>&nbsp;</th>
              <th class="text-right">{{{Lng.Participant.status.Text}}}</th>
            </tr>
          </thead>
          <tbody>
            {{#Participants:p}}
            {{#if(format.isPage(p, Page))}}
            <tr on-click="@this.fire('doUserEdit', ., p)">
              <td style="width: 50px;">{{{p+1}}}</td>
              <td>{{{.firstname}}}&nbsp;{{{.familyname}}}</td>
              <td class="text-right">
                {{{format.Label(.status, Lng.Participant.status)}}}
                {{#if(.votestatus=="vote")}}<i class="fa fa-check text-success"></i>{{/if}}
                {{#if(.votestatus=="abstainer")}}<i class="fa fa-times text-warning"></i>{{/if}}
              </td>
            </tr>
            {{/if}}
            {{/}}
          </tbody>
        </table>
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-sm btn-primary btn-sm waves-effect waves-classic" on-click="@this.fire('doUserAdd')"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</button>
          </div>
          <div class="col-xs-6 text-right">
            <Element-Paging  page={{Page}} rows={{Participants}}></Element-Paging>
          </div>
        </div>
        {{/if}}
        <div style="height: 40px;"></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <Element-Info row={{Election}} Action="doEdit,disc" doAction={{doAction}} ShowDiv=false>
          <small class="label label-outline label-info text-lowercase">{{{format.Label(.visibility, Lng.Election.visibility)}}}</small>
          <span class="label label-default text-lowercase">{{{.went_max}}}</span>
          <br>
          <span class="label label-info">Moderatori&nbsp;<span class="badge">{{format.Count(.moderators)}}</span></span>
          <h4><span class="text-info">Izašlo</span>&nbsp;&nbsp;{{Election.went_count}}&nbsp;<span class="badge">{{format.Prc(Election.went_count, Election.went_max)}}%</span></h4>
          <h4><span class="text-info">Sigurni</span>&nbsp;&nbsp;{{Election.went_count_secure}}&nbsp;<span class="badge">{{format.Prc(Election.went_count_secure, Election.went_max_secure)}}%</span></h4>
        </Element-Info>
        <Element-Chart type="pie" title="Statusi" value={{Stats.Chart}}></Element-Chart>
        <table style="width: 100%; border: 0px; padding: 0px; font-size: smaller;">
        {{#Stats.StatusSort:s}}
        <tr>
          <td style="border-left-width: 2px; border-left-color: {{.Color}}; border-left-style: solid;">&nbsp;{{{.Title}}}</td>
          <td>
            <div class="progress" style="height: 3px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{format.Prc(.Vote, .Value)}}%">
            </div>
          </td>
          <td class="text-right">{{.Vote}}/{{.Value}}</td>
        </tr>
        {{/}}
        </table>
      </div>
    </div>
    {{else}}
    <div class="alert alert-danger">
      <h1>{{{Lng.Election.Msg.Acc.Msg}}}</h1>
      <a class="btn btn-xs btn-primary" href="/auth">{{{Lng.Election.Msg.Acc.Btn}}}</a>
    </div>
    {{/if}}
  {{else}}
  {{#if(format.hasView(kind))}}
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" on-click="@this.fire('doFilterShow')" data-toggle="tooltip" data-placement="top" title="" data-original-title="Filter"><i class="fa fa-filter" aria-hidden="true"></i></button>
      </span>
      <input id="FilterFind" type="text" class="form-control" placeholder="Traži..." aria-label="Traži..." aria-describedby="basic-addon" value={{Filter.Find}}>
      <span class="input-group-btn">
        <button class="btn btn-outline-default"  on-click="@this.fire('doFilterClear')"data-toggle="tooltip" data-placement="top" title="" data-original-title="Reset" {{#if(format.isEmpty(Filter.Find))}}disabled{{/if}}><i class="fa fa-times" aria-hidden="true"></i></button>
        <button class="btn btn-primary" on-click="@this.fire('doFilterSearch', Filter)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pretraži podatke...">traži <i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    </div>
    {{/if}}
    <button class="btn btn-default" on-click="@this.fire('doRpt1')">Test</button>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>&nbsp;</th>
          <th>G.Mesto</th>
          <th>Vodi</th>
          <th>kontakt</th>
          <th>rev</th>
          <th>datum</th>
          <th>Izasao</th>
          <th class="text-right">{{{Lng.Participant.status.Text}}}</th>
        </tr>
      </thead>
      <tbody>
        {{#Rpt1:s}}
        <tr on-click="@this.fire('doUserEdit', .)">
          <td>{{{.ident}}}</td>
          <td>{{{.firstname}}}&nbsp;{{{.familyname}}}</td>
          <td>{{{.voteplace}}}</td>
          <td>{{{.leadname}}}</td>
          <td>{{{.leadcontact}}}</td>
          <td>{{{.rev}}}</td>
          <td>{{{.date}}}</td>
          <td class="text-right">{{{.votestatus}}}</td>
          <td class="text-right">{{{format.Label(.status, Lng.Participant.status)}}}</td>
        </tr>
        {{/}}
      </tbody>
    </table>
    {{#if(Filter.Find)}}
    {{#if(searchWait)}}
    <span>{{{format.Format(Lng.Election.Msg.Search.Wait, Filter.Find)}}}</span>
    {{else}}
      {{#if(Filter.Found)}}
      <span>{{{format.Format(Lng.Election.Msg.Search.Found, format.Count(ParticipantSearch), Filter.Found)}}}</span>
      {{else}}
      <span>{{{format.Format(Lng.Election.Msg.Search.Typing, Filter.Find)}}}</span>
      {{/if}}
    {{/if}}
    {{#if(Filter.Found)}}
    <div class="table-responsive dd-fade">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>&nbsp;</th>
            <th class="text-right">{{{Lng.Participant.status.Text}}}</th>
          </tr>
        </thead>
        <tbody>
          {{#ParticipantSearch:s}}
          <tr on-click="@this.fire('doUserEdit', .)">
            <td>{{{.ident}}}</td>
            <td>{{{.firstname}}}&nbsp;{{{.familyname}}}<br><small>{{{.voteplace}}}&nbsp;{{{.leadname}}}&nbsp;{{{.leadcontact}}}</small></td>
            <td class="text-right">{{{.votestatus}}} {{{format.Label(.status, Lng.Participant.status)}}}</td>
          </tr>
          {{/}}
        </tbody>
      </table>
    </div>
    {{/if}}
    {{/if}}
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th class="text-right">Izašlo/Birača</th>
              <th class="text-right">Sigurni</th>
            </tr>
          </thead>
          <tbody>
            {{#Elections:i}}
            {{#if(format.hasView(kind, .))}}
            {{#if(getFilterMember(., Filter))}}
            <tr on-click="@this.fire('doEdit', .)">
              <td><a href="#{{.guid}}">{{{.guid}}}-{{{.title}}}</a></td>
              <td class="text-right" style="width: 90px;">{{{.went_count}}}/{{{.went_max}}}
                {{{getStylePrc(.went_max, .went_count)}}}
              </td>
              <td class="text-right" style="width: 90px;">{{{.went_count_secure}}}/{{{.went_max_secure}}}
                {{{getStylePrc(.went_max_secure, .went_count_secure)}}}
              </td>
            </tr>
            {{/if}}
            {{/if}}
            {{/}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <Element-Cmd Action="doAdd,doResetShow" doAction={{doAction}} kind={{kind}}></Element-Cmd>
      </div>
    </div>
  {{/if}}
{{else}}
<div class="alert alert-danger">
  <h1>{{{Lng.Election.Msg.Login.Msg}}}</h1>
  <a class="btn btn-primary" href="/auth">{{{Lng.Election.Msg.Login.Btn}}}</a>
</div>
{{/if}}
<div id="FilterShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.Election.Filter.Title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <Element-Input type="selectize" title="{{{Lng.Participant.votestatus.Text}}}" rows={{Lng.Participant.votestatus.Rows}} valuef="guid" labelf="title" value={{FilterDlg.votestatus}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <Element-Input type="selectize" title="{{{Lng.Participant.status.Text}}}" rows={{Lng.Participant.status.Rows}} valuef="guid" labelf="title" value={{FilterDlg.status}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-12">
            <Element-Input type="select" title="{{{Lng.Participant.leadname.Text}}}" rows={{Stats.Leads}} valuef="leadname" labelf="title" value={{FilterDlg.leadname}}></Element-Input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.Delete.Class}} pull-left" on-click="@this.fire('doFilterClear')">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{Lng.Dialog.Save.Class}}" on-click="@this.fire('doFilterSave', FilterDlg)">{{{Lng.Dialog.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<div id="ElectionResetShow" class="modal fade modal-danger in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.Election.Dialog.Reset.Title}}</h4>
      </div>
      <div class="modal-body">
        <h3>{{{Lng.Election.Dialog.Reset.Message}}}</h3>
        <br>
        {{#if(ResetState)}}
        <h3 class="alert alert-success">{{{Lng.Election.Dialog.Reset.Success}}}</h3>
        {{else}}
        <button class="{{Lng.Election.Dialog.Reset.Class}}" on-click="@this.fire('doReset')">{{{Lng.Election.Dialog.Reset.Text}}}</button>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<div id="ElectionShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.Election.Dialog.Title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <Element-Input meta="{{Lng.Election.title}}" value={{ElectionItem.title}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-3">
            <Element-Input meta={{Lng.Election.visibility}} value={{ElectionItem.visibility}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <Element-Input meta="{{Lng.Election.committee}}" value={{ElectionItem.committee}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <Element-Input meta="{{Lng.Election.municipal}}" value={{ElectionItem.municipal}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <Element-Input meta="{{Lng.Election.city}}" value={{ElectionItem.city}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <Element-Input meta="{{Lng.Election.address}}" value={{ElectionItem.address}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-12">
            <Element-Input meta="{{Lng.Election.moderators}}" value={{ElectionItem.moderators}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-6">
            <Element-Input meta="{{Lng.Election.geo_lat}}" value={{ElectionItem.geo_lat}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-6">
            <Element-Input meta={{Lng.Election.geo_lng}} value={{ElectionItem.geo_lng}}></Element-Input>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label">{{{Lng.Election.members_file.Text}}}</label>
          </div>
          <input type="file" id="files" class="form-control">
          <small>preuzmi <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRlngX8BYJN2FJn_8x21IErWrXvHqsNi1AyZ0KaiFDJKTuY_AiRO1j84xhd61RArqkZa5j0_L-bGf6Y/pub?output=xlsx">template</a></small>
          <div style="height: 3px;"></div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="{{ElectionItem.members_fileareset}}">
            <label class="custom-control-label" for="customSwitch1">{{{Lng.Election.members_fileareset.Text}}}</label>
          </div>
        </div>
        <br>
        <Element-Input meta={{Lng.Election.description}} value={{ElectionItem.description}}></Element-Input>
    </div>
      <div class="modal-footer">
        <Element-Cmd row={{ElectionItem}} Action="doDialog" doAction={{doAction}} kind={{kind}}></Element-Cmd>
      </div>
    </div>
  </div>
</div>
<div id="ParticipantShow" class="modal fade modal-default in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{{ParticipantItem.firstname}}}&nbsp;{{{ParticipantItem.familyname}}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.ident}} value={{ParticipantItem.ident}}></Element-Input>
          </div>
          <div class="col-xs-0 col-sm-4">

          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.status}} value={{ParticipantItem.status}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-6">
            <Element-Input meta="{{Lng.Participant.firstname}}" value={{ParticipantItem.firstname}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-6">
            <Element-Input meta="{{Lng.Participant.familyname}}" value={{ParticipantItem.familyname}}></Element-Input>
          </div>
        </div>
        {{#if(UserEditDlg)}}
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta="{{Lng.Participant.mb}}" value={{ParticipantItem.mb}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta="{{Lng.Participant.cid}}" value={{ParticipantItem.cid}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta="{{Lng.Participant.gid}}" value={{ParticipantItem.gid}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.birthstate}} value={{ParticipantItem.birthstate}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.birthplace}} value={{ParticipantItem.birthplace}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.Participant.birthdate}} value={{ParticipantItem.birthdate}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.state}} value={{ParticipantItem.state}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.city}} value={{ParticipantItem.city}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.Participant.address}} value={{ParticipantItem.address}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.telephone}} value={{ParticipantItem.telephone}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.votesecure}} value={{ParticipantItem.votesecure}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.voteplace}} value={{ParticipantItem.voteplace}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.votemember}} value={{ParticipantItem.votemember}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.leadname}} value={{ParticipantItem.leadname}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.Participant.leadcontact}} value={{ParticipantItem.leadcontact}}></Element-Input>
          </div>
        </div>
        {{else}}
        <div class="row">
          <div class="col-xs-12 col-md-6">
            {{#if(format.IsNotEmpty(ParticipantItem.telephone))}}
              <a href="tel:{{format.Phone(ParticipantItem.telephone)}}" class="btn btn-sm btn-primary" on-click="@this.fire('doUserLog', 'call', ParticipantItem.telephone)"><i class="fa fa-phone"></i>&nbsp;{{format.Phone(ParticipantItem.telephone)}}&nbsp;&nbsp;{{{ParticipantItem.firstname}}}</a>
              <div style="height: 10px;"></div>
            {{/if}}
          </div>
          <div class="col-xs-12 col-md-6">
            {{#if(format.IsNotEmpty(ParticipantItem.leadcontact))}}
              <a href="tel:{{format.Phone(ParticipantItem.leadcontact)}}" class="btn btn-sm btn-info" on-click="@this.fire('doUserLog', 'calllead', ParticipantItem.leadcontact)"><i class="fa fa-phone"></i>&nbsp;{{format.Phone(ParticipantItem.leadcontact)}}&nbsp;&nbsp;{{{ParticipantItem.leadname}}}</a>
              <div style="height: 10px;"></div>
            {{/if}}
          </div>
        </div>
        {{/if}}
        <div class="row">
          <div class="col-xs-12">
            <button class="{{Lng.Election.Dialog.Edit.Class}}" on-click="@this.fire('doUserEditDlg')">{{{Lng.Election.Dialog.Edit.Text}}}</button>
            &nbsp;
            <button class="btn btn-sm {{#if(ParticipantItem.votestatus=='vote')}}btn-success{{else}}btn-outline-default{{/if}}" on-click="@this.fire('doUserAction', 'vote')">{{{Lng.Election.Dialog.Voted.Text}}}</button>
            &nbsp;
            <button class="btn btn-sm {{#if(ParticipantItem.votestatus=='abstainer')}}btn-warning{{else}}btn-outline-default{{/if}}" on-click="@this.fire('doUserAction', 'abstainer')">{{{Lng.Election.Dialog.Abstainer.Text}}}</button>
            {{#if(ParticipantItem.votestatus)}}
            &nbsp;
            <button class="{{Lng.Election.Dialog.VoteClear.Class}}" on-click="@this.fire('doUserAction', 'clear')">{{{Lng.Election.Dialog.VoteClear.Text}}}</button>
            {{/if}}
            <span class="pull-right float-right" style="font-size: 18px; font-weight: 900; color: black;">{{{ParticipantItem.votestatus}}}</span>
          </div>
        </div>
        <Element-Input meta={{Lng.Participant.description}} value={{ElectionItem.description}}></Element-Input>
        <div>
          <span><a href="javascript:void(0);" on-click="@this.fire('doUserHistorySH')">Istorija</a> <span class="badge">{{{format.Count(ParticipantLog)}}}</span></span>
          {{#if(!UserHistorySH)}}
          <span class="pull-right float-right">{{{ParticipantLog[0].UserName}}}&nbsp;{{{format.Ago(ParticipantLog[0].date)}}}</span>
          {{/if}}
        </div>
        {{#if(UserHistorySH)}}
        {{#ParticipantLog:n}}
        <div>
          <span>
            {{#if(.action=='vote')}}<i class="fa fa-check-square"></i>{{/if}}
            {{#if(.action=='abstainer')}}<i class="fa fa-window-close"></i>{{/if}}
            {{#if(.action=='call')}}<i class="fa fa-phone-square"></i>{{/if}}
            {{#if(.action=='calllead')}}<i class="fa fa-user"></i>{{/if}}&nbsp;{{{.title}}}</span><span class="pull-right float-right">{{{.UserName}}}&nbsp;{{{format.Ago(.date)}}}</span>
        </div>
        {{/}}
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if(UserEditDlg)}}
        {{#if(ParticipantItem.rev)}}
        <button class="{{Lng.Dialog.Delete.Class}}" on-click="@this.fire('doUserDelete', ParticipantItem)">{{{Lng.Dialog.Delete.Text}}}</button>
        {{/if}}
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{Lng.Dialog.Save.Class}}" on-click="@this.fire('doUserSave', ParticipantItem)">{{{Lng.Dialog.Save.Text}}}</button>
        {{else}}
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvElection = {
        Name: 'Election-List',
        Rows: 'Elections',
        DetailRow: 'Election',
        ModalRow: 'ElectionItem',
        ModalName: '#ElectionShow',
        Behavior: {
          KeyName: "guid",
          Validate: "Election"
        }
      };
      var SrvElectionsReset = {
        Name: 'Election-Reset',
        Rows: 'Elections',
        DetailRow: 'Election',
        Behavior: {
          KeyName: "guid",
          FireName: "doResetFinish"
        }
      };
      var SrvElectionStats = {
        Name: 'Election-Stats',
        Rows: 'Stats',
        Behavior: {
          FireName: "doStatsFinish"
        }
      };
      var SrvParticipant = {
        Name: 'Election-Users',
        Rows: 'ParticipantsTmp',
        DetailRow: 'Participant',
        ModalRow: 'ParticipantItem',
        ModalName: '#ParticipantShow',
        Behavior: {
          KeyName: "guid",
          Validate: "Participant", 
          FireName: "doFilterSave"
        }
      };
      Client.syncGeo();
      self.on('doUrl', function (iUrl) {
        var fUrl =Client.getUrlData();

        switch(fUrl.cmd){
          case "list":
          self.sync.Sync(self, self.sync.Refresh(SrvElection, self));
          
          $( "#FilterFind" ).keypress(function( event ) {
            if ( event.which == 13 ) {
              event.preventDefault();
              self.fire('doFilterSearch', self.get('Filter'));
            } 
          });
          break;
          case "add":
            var fRow = self.sync.NewRow({  }, SiteLng.Election);
            self.sync.New(self, SrvElection, fRow);
            if(Format.getCount(self.get(SrvElection.Rows))==0){
              self.sync.Sync(self, self.sync.Refresh(SrvElection, self));
            }
            break;
          case "detail":
            self.set('Election', {});
            self.set('Page', 0);
            var fRow = self.sync.View(self, SrvElection, { guid: fUrl.guid, pguid: fUrl.guid });
            self.sync.Sync(self, self.sync.DetailRow(SrvElection, fRow));
            self.sync.Sync(self, SrvParticipant, undefined, { pguid: fUrl.guid  });
            self.sync.Sync(self, SrvElectionStats, undefined, fRow);
            break;
          default:
          break;
        }
      });
      self.on('doWentSave', function (iRow) {
        var fRow = self.get('Election');
        self.sync.Sync(self, self.sync.SaveRow(SrvElection, fRow, self));
      });
      self.on('doWentMinus', function (iRow) {
        Client.Busy(true);
        var fRow = self.get('Election');
        self.sync.Sync(self, SrvElection, 'minus', fRow, function(iSelf, iService, iData){
          if(iData[fRow.guid]){
            self.get('Election', iData[fRow.guid]);
          }
          self.get('Elections', iData);
          Client.Busy(false);
        });
      });
      self.on('doWentPlus', function (iRow) {
        Client.Busy(true);
        var fRow = self.get('Election');
        self.sync.Sync(self, SrvElection, 'plus', fRow, function(iSelf, iService, iData){
          if(iData[fRow.guid]){
            self.get('Election', iData[fRow.guid]);
          }
          self.get('Elections', iData);
          Client.Busy(false);
        });
      });
      self.on('doAdd', function (iRow) {
        self.sync.Sync(self, self.sync.EditRow(SrvElection, self.sync.NewRow({}, SiteLng.Election)));
      });
      self.on('doEdit', function (iRow) {
        if(iRow){
          window.location.href = '#'+iRow.guid;
        }else{
          self.sync.Sync(self, self.sync.EditRow(SrvElection, iRow, self));
        }
      });
      self.on('doSave', function (iRow) {
        var fRow = (iRow)? Client.getClone(iRow): self.get(SrvElection.ModalRow);
        if(fUsersRows=self.get('ParticipantsTmp')){
          fRow.item_count = Format.getCount(fUsersRows);
        }
        var file = document.getElementById('files').files[0];
        Client.getFileBase64(file, function(oData, err){
          //console.log('oData', oData, err);
          if(oData){
            fRow.members_file = oData;
          }else{

          }
          self.sync.Sync(self, self.sync.SaveRow(SrvElection, fRow, self));
        }); 

      });
      self.on('doDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvElection, iRow, self));
      });
      self.on('doResetShow', function (iRow) {
        self.set('ResetState', false);
        $('#ElectionResetShow').modal('show');
      });
      self.on('doReset', function (iRow) {
        self.sync.Sync(self, SrvElectionsReset, undefined, iRow);
      });
      self.on('doResetFinish', function (iData) {
        self.set('ResetState', true);
        toastr.success(SiteLng.Election.Dialog.Reset.Success);
      });
      self.on('doUserAdd', function (iRow) {
        var fRow = self.sync.NewRow({ }, SiteLng.User);
        self.sync.New(self, SrvParticipant, fRow);
      });
      self.on('doUserEdit', function (iRow, iKey) {
        self.set('UserSelectKey', iKey);
        self.set('UserEditDlg', false);
        self.set('ParticipantLog', []);
        self.sync.Sync(self, self.sync.EditRow(SrvParticipant, iRow));
        var SrvElectionLog = { Name: 'Election-Log', Rows: "ParticipantLog" };
        self.sync.Sync(self, SrvElectionLog, 'view', { euid: self.get(SrvElection.DetailRow).guid, puid: iRow.guid });
      });
      self.on('doUserEditDlg', function (iRow) {
        self.set('UserEditDlg', !self.get('UserEditDlg'));
      });
      self.on('doUserHistorySH', function (iRow) {
        self.set('UserHistorySH', !self.get('UserHistorySH'));
      });
      self.on('doUserLog', function (iAction, iData) {
        var SrvElectionLog = { Name: 'Election-Log', Rows: "ParticipantLog" };
        var fUser = self.get('ParticipantItem');
        var fTitle = fUser.firstname+" "+fUser.familyname;
        var fNotify;
        switch(iAction){
          case "vote":
            fTitle = "<span class='label label-success'>glasao</span>&nbsp;&nbsp;"+fUser.firstname+" "+fUser.familyname;
            fNotify = "glasao "+fUser.firstname+" "+fUser.familyname;
          break;
          case "abstainer":
            fTitle = "<span class='label label-warning'>odustao</span>&nbsp;&nbsp;"+fUser.firstname+" "+fUser.familyname;
            fNotify = "odustao "+fUser.firstname+" "+fUser.familyname;
          break;
          case "clear":
            fTitle = "<span class='label label-warning'>promena</span>&nbsp;&nbsp;"+fUser.firstname+" "+fUser.familyname;
            fNotify = "promena "+fUser.firstname+" "+fUser.familyname;
          break;
          case "call":
            fTitle = "<span class='label label-default'>"+fUser.telephone+"</span>&nbsp;&nbsp;"+fUser.firstname+" "+fUser.familyname;
            fNotify = "tel:"+fUser.telephone+" "+fUser.firstname+" "+fUser.familyname;
          break;
          case "calllead":
            fTitle = "<span class='label label-default'>"+fUser.leadcontact+"</span>&nbsp;&nbsp;"+fUser.leadname+" &nbsp;("+fUser.firstname+" "+fUser.familyname+")";
            fNotify = "tel:"+fUser.leadcontact+" "+fUser.leadname+" ("+fUser.firstname+" "+fUser.familyname+")";
          break;
        }
        var fLog = {
          guid: Client.getGuid(),
          euid: self.get(SrvElection.DetailRow).guid,
          puid: fUser.guid,
          action: iAction,
          title: fTitle, 
          notify: fNotify, 
          data: {
            Participant: fUser,
            Election: self.get(SrvElection.DetailRow)
          },
          UserName: Global.Session.UserName,
          session: Client.session(),
          date: Client.getNow()
        };
        self.sync.Sync(self, SrvElectionLog, 'insert', fLog);
        self.unshift('ParticipantLog', fLog);
      });
      self.on('doUserAction', function (iAction) {
        var fUser = self.get('ParticipantItem');
        fUser.pguid = self.get('Election.guid');
        fUser.votestatus = iAction;
        var fAction = (iAction=="clear")? "": iAction;
        self.set('ParticipantItem.votestatus', fAction);
        //toastr.info("Snimljeno", " "+fUser.firstname, { timeOut: 5000 });
        self.sync.Sync(self, SrvParticipant, 'action', fUser, function(iSelf, iService, iData){
          self.set('Elections', iData.Elections);
          if(iData.Elections[fRow.pguid]){
            self.set('Election', iData.Elections[fRow.pguid]);
          }
          self.set(SrvParticipant.Rows, iData.Users);
          if(self.get('Participants['+self.get('UserSelectKey')+']')){
            self.set('Participants['+self.get('UserSelectKey')+'].votestatus', fAction);
          }
          self.set('ParticipantItem.votestatus', fAction);
          self.sync.Sync(self, SrvElectionStats, undefined, self.get('Election'));
          Client.Busy(false);
          $("#ParticipantShow").modal('hide');
        });
        self.fire('doUserLog', iAction);
      });
      self.on('doUserHistory', function (iAction) {
        var fUser = self.get('ParticipantItem');
        if(!fUser.notes){
          fUser.notes = [];
        }
        fUser.notes.unshift({ action: iAction, date: new Date(), UserName: Global.Session.UserName })
        self.set('ParticipantItem', fUser);
        fUser.pguid = self.get('Election.guid');
        fUser.votestatus = iAction;
        toastr.info("Snimljeno", " "+fUser.firstname, { timeOut: 5000 });
        self.sync.Sync(self, SrvParticipant, 'save', fUser);

        var fcount_secure = 0;
        var fmax_secure = 0;
        var fTable =  self.get('ParticipantsTmp');
        for(var fKey in fTable){
          fRow = fTable[fKey];
          fRow.status = fRow.status.toUpperCase();
          if(fRow.status=="S"){
            fmax_secure++;
            if(fRow.votestatus=="vote"){
              fcount_secure++;
            }
          }
        }
        var fElection = self.get('Election');
        var fElectionChange = false;
        if((fElection.went_max_secure!=fmax_secure)||(fElection.went_count_secure!=fcount_secure)){
          fElection.went_max_secure=fmax_secure;
          fElection.went_count_secure=fcount_secure;
          fElectionChange = true;
        }
        if(fElectionChange){
          self.sync.Sync(self, self.sync.SaveRow(SrvElection, fElection, self));
          self.set('Election', fElection);
        }
      });
      self.on('doUserSave', function (iRow) {
        var fRow = Client.getClone(iRow);
        fRow.pguid = self.get('Election.guid');
        self.sync.Sync(self, self.sync.SaveRow(SrvParticipant, fRow));
      });
      self.on('doUserDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvParticipant, iRow));
      });
      self.on('doFilterShow', function () {
        self.set('FilterDlg', self.get('Filter'));
        self.set('FilterDlg.firstname', self.get('Filter.Find'));
        self.set('FilterDlg.Active', true);
        $('#FilterShow').modal('show');
      });
      self.on('doFilterCancel', function (iFilter) {
        $('#FilterShow').modal('hide');
        /*self.set('Filter.Active', false);
        var fRows = self.get('ParticipantsTmp');
        self.set('Participants', fRows);*/
      });
      self.on('doFilterSave', function (iFilter) {
        $('#FilterShow').modal('hide');
        var fFilter = (iFilter)? iFilter:self.get('Filter');
        var fData = self.get('ParticipantsTmp');
        if(Client.isEcho(8)) console.log('doFilterSave', fFilter);
        if(Format.isNotEmpty(fFilter.status)||Format.isNotEmpty(fFilter.Find)||Format.isNotEmpty(fFilter.familyname)||Format.isNotEmpty(fFilter.votestatus)||Format.isNotEmpty(fFilter.leadname)){
          fFilter.Active = true;
        }
        if(!fFilter.Active){
          self.set('Page', 0);
          self.set('Participants', Client.getArray(fData));
          return;
        }
        var fRows = [];
        for(var i in fData){
          var fDoAdd = false;
          var fRow = fData[i];
          var fDoAddCount = 0;
          var fDoAddMax = 0;

          if(fFilter.status&&fFilter.status.length){
            fDoAddMax++;
            if(fRow.status){
              fFilter.status.forEach(function(oValue){
                if(-1!=fRow.status.indexOf(oValue)){
                  fDoAddCount++;
                }
              });
            }
          }
          
          if(fFilter.votestatus&&fFilter.votestatus.length){
            fDoAddMax++;
            if(fRow.votestatus){
              fFilter.votestatus.forEach(function(oValue){
                if(-1!=fRow.votestatus.indexOf(oValue)){
                  fDoAddCount++;
                }
              });
            }
          }

          if(fFilter.leadname&&fFilter.leadname.length){
            fDoAddMax++;
            if(fRow.leadname){
              if(-1!=fRow.leadname.indexOf(fFilter.leadname)){
                fDoAddCount++;
              }
            }
          }

          if(fFilter.Find){
            fDoAddMax++;
            if(-1!=JSON.stringify(fRow).toLowerCase().indexOf(fFilter.Find.toLowerCase())){
              fDoAddCount++;
            }
          }

          fDoAdd = (fDoAddCount==fDoAddMax);
          if(fDoAdd){
            fRows.push(fRow);
          }
        }
        self.set('Page', 0);
        self.set('Participants', fRows);
        if(iFilter){
          self.set('Filter', iFilter);
        }
      });
      self.on('doRpt1', function (){
        var SrvRpt1 = {
          Name: 'Election-Rpt1',
          Rows: 'Rpt1'
        };
        self.sync.Sync(self, SrvRpt1);
      });
      self.on('doFilterSearch', function (iFilter) {
        var SrvMemberFilter = {
          Name: 'Election-Search',
          Rows: 'ParticipantSearch',
          Row: iFilter,
          Behavior: {
            Loading: ["searchWait"]
          }
        };
        self.set('Filter.Found', iFilter.Find);
        self.set('ParticipantSearch', []);
        self.sync.Sync(self, self.sync.Refresh(SrvMemberFilter, self));
      });
      self.on('doFilterClear', function () {
        self.set('Filter', {});
        self.set('ParticipantSearch', []);
        self.fire('doFilterSave');
        $('#FilterShow').modal('hide');
        $('#FilterFind').focus();
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        if(self.isEcho()) console.log('doEvent-Election', iMessage, iData, iFrom, iTo);
        switch (iMessage) {
          case "Election.Stat":
          break;
          case "Election":
            if(iData){
              if(fRow=iData.Row){
                if(self.get('Election').guid==fRow.guid){
                  self.set('Election', fRow);
                }
              }
              if(fTable=iData.Table){
                self.set('Elections', fTable);
              }
            }
          break;
        }
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Election",
        doAction: '',
        Election: {},
        Elections: {},
        Participant: {},
        ParticipantItem: {},
        ParticipantLog: [],
        Participants: [],
        Page: 0,
        LeadsPage: 0,
        UserEditDlg: false,
        UserHistorySH: false,
        ResetState: false,
        Filter: {
          Find: "",
          status: [],
          firstname: "",
          familyname: ""
        },
        Went: {
          People: 0
        },
        getUsers: function(iData){
          return Client.getArray(iData);
        },
        getRows: function(iData){
          var fRows = [];
          for(var fKey in iData){
            fRows.push(iData[fKey]);
          }
          return fRows;
        },
        formatIsVisible: function(iMember){
          if(iMember&&iMember.session&&Global&&Global.Session&&iMember.session.UserUID==Global.Session.UserUID){
            return true;
          }
          if(iMember&&iMember.moderators&&-1<iMember.moderators.indexOf(Global.Session.UserEmail)){
            return true;
          }
          if(iMember&&iMember.visibility&&iMember.visibility=="open"){
            return true;
          }
          if(iMember&&iMember.visibility&&iMember.visibility=="close"){
            return true;
          }
          if(iMember&&iMember.visibility&&iMember.visibility=="registrate"){
            return true;
          }

          return false;
        },
        getFilterRows: function(iData, iFilter){
          //console.log('Filter',iFilter);
          if(iFilter){
            if(iFilter.Active||iFilter.Find){
              var fRows = [];
              for(var i in iData){
                var fDoAdd = false;
                var fRow = iData[i];

                if(iFilter.Find){
                  var fFinds = iFilter.Find.toString().split(" ");
                  var fStr = JSON.stringify(fRow).toLocaleLowerCase();
                  fFinds.forEach(function(oValue){
                    if(-1!=fStr.indexOf(oValue.toLocaleLowerCase())){
                      fDoAdd = true;
                    }
                  });
                }
                if(fDoAdd){
                  fRows.push(fRow);
                }
              }
              
              return fRows;
            }
          }

          return Client.getArray(iData);
        },
        getFilterMember: function(iRow, iFilter){
          if(iRow&&iRow.title&&iFilter&&iFilter.Find){
            if(-1==iRow.title.toLocaleLowerCase().indexOf(iFilter.Find.toLocaleLowerCase())){
              return false;
            }
          }
          
          return true;
        },
        getStylePrc: function(iMax, iCount){
          if(iCount&&iMax){
            var fPrc = parseInt(((iCount*100)/iMax));
            var fColor = "black";
            if(fPrc<20){
              fColor = "red";
            }
            if(40<fPrc){
              fColor = "green";
            }            
            return '<div style="width: '+fPrc+'%;height: 2px; background-color: '+fColor+';"></div>';
          }
          
          return '';
        },
        Lng: SiteLng
      }
    }
  }
</script>