<div>
  <div id="map" style="height: 600px; width: 100%;">
  </div>
  {{#if(HistorySelected.guid)}}
  <div style="position: absolute; top: 0px; right: 0px; z-index: 99; width: 20%;height: 600px; padding: 5px; color: whitesmoke; background-color: rgba(71, 71, 71, 0.6); ">
    <div>
      <button class="close white" on-click="@this.fire('doCancel')"><i class='fa fa-times'></i></button>      
      {{#if(format.IsNotEmpty(HistorySelected.date_day))}}<small>{{{HistorySelected.date_day}}}.&nbsp;</small>{{/if}}{{#if(format.IsNotEmpty(HistorySelected.date_month))}}<small>{{{HistorySelected.date_month}}}.&nbsp;</small>{{/if}}<strong>{{{HistorySelected.date_year}}}</strong> godina
      <h4 class="white">{{{HistorySelected.title}}}</h4>
      <p class="white text-break" style="max-height: 220px;">{{{HistorySelected.description}}}</p>
      {{#HistorySelected.links:l}}
      {{{formatResourceHtml(HistorySelected.links[l])}}}&nbsp;&nbsp;
      {{/}}
      <br><br>
      <button class="{{Lng.History.Button.Edit.Class}}" on-click="@this.fire('doEdit', HistorySelected)">{{{Lng.History.Button.Edit.Text}}}</button>
    </div>
  </div>
  {{/if}}
  {{#if(AddCan)}}
  <div style="position: absolute; top: 0px; right: 0px; z-index: 99; width: 20%;height: 600px; padding: 5px; color: whitesmoke; background-color: rgba(71, 71, 71, 0.6); ">
    <div>
      <button class="close white" on-click="@this.fire('doCancel')"><i class='fa fa-times'></i></button>
      {{#if(format.IsNotEmpty(HistorySelected.date_day))}}<small>{{{HistorySelected.date_day}}}.&nbsp;</small>{{/if}}{{#if(format.IsNotEmpty(HistorySelected.date_month))}}<small>{{{HistorySelected.date_month}}}.&nbsp;</small>{{/if}}<strong>{{{HistorySelected.date_year}}}</strong> godina
      <h4 class="white">Novi podatak?</h4>
      <button class="btn btn-sm btn-primary" on-click="@this.fire('doAdd')"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;dodaj</button> 
    </div>
  </div>
  {{/if}}
</div>
<div class="slidecontainer">
  <input type="range" min="{{DateLine.Min}}" max="{{DateLine.Max}}" value="{{DateLine.Default}}" class="slider" id="myRange">
  <div class="form-group" style="width: 250px;">
    <div class="input-group">
      <span class="input-group-btn">
        {{#if(ShowPlay)}}
        <button class="btn btn-xs btn-primary" on-click="@this.fire('doPlay')"><i class="fa fa-play"></i></button>
        {{else}}
        <button class="btn btn-xs btn-warning" on-click="@this.fire('doPlay')"><i class="fa fa-pause"></i></button>
        {{/if}}
      </span>
      <span class="input-group-btn">
        <button class="btn btn-xs btn-default" on-click="@this.fire('doDateInc', -1)"><i class="fa fa-chevron-circle-left"></i></button>
      </span>
      <span class="font-size-14 font-weight-500 margin-10">{{{format.DateObj(DateLine).Text}}}</span>
      <span class="input-group-btn">
        <button class="btn btn-xs btn-default" on-click="@this.fire('doDateInc', 1)"><i class="fa fa-chevron-circle-right"></i></button>
      </span>
    </div>
  </div>  
</div>
<br>
{{#if(ShowAdmin)}}
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary panel-line">
      <div class="panel-heading">
        <div class="pull-right ">
          {{#if(AddCan)}}
          <button class="btn btn-sm btn-primary btn-floating" on-click="@this.fire('doAdd')"><i class="fa fa-plus" aria-hidden="true"></i></button> 
          <button class="btn btn-sm btn-warning btn-floating" on-click="@this.fire('doCancel')"><i class="fa fa-times" aria-hidden="true"></i></button>
          {{/if}}
          &nbsp; 
          <button class="btn btn-sm btn-default btn-floating" on-click="@this.fire('doRefresh')"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        </div>
        <span class="font-size-24 font-weight-500 margin-10">{{{format.DateObj(DateLine).Text}}}</span>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" style="width: 55px;" class="text-right">Godina</th>
              <th scope="col">Naziv</th>
            </tr>
          </thead>
          <tbody>
            {{#CacheData.History:i}}
            <tr on-click="@this.fire('doEdit', .)">
              <th class="text-right">
                {{#if(format.IsNotEmpty(.date_day))}}<small>{{{.date_day}}}.</small>{{/if}}{{#if(format.IsNotEmpty(.date_month))}}<small>{{{.date_month}}}.</small>{{/if}}<strong>{{{.date_year}}}</strong>
              </th>
              <td>
                <strong>{{{.title}}}</strong>&nbsp;&nbsp; <small>{{{.description}}}</small>
              </td>
            </tr>
            {{/}}
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button class="btn btn-sm btn-primary btn-sm waves-effect waves-classic" on-click="@this.fire('doEdit')"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<div id="HistoryShow" class="modal {{Lng.History.Dialog.Class}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.History.Dialog.Title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <Element-Input type="number" meta={{Lng.History.date_day}} value={{HistoryItem.date_day}}></Element-Input>
          </div>
          <div class="col-sm-3">
            <Element-Input type="number" meta={{Lng.History.date_month}} value={{HistoryItem.date_month}}></Element-Input>
          </div>
          <div class="col-sm-3">
            <Element-Input type="number" meta={{Lng.History.date_year}} value={{HistoryItem.date_year}}></Element-Input>
          </div>
          <div class="col-sm-3">
            <Element-Input title="Vrsta" value={{HistoryItem.type}} type="select" rows={{Lng.History.Types}} valuef="Id" labelf="Title"></Element-Input>
          </div>
        </div>
        {{#if(HistoryItem.type=="period")}}
        <div class="row">
          <div class="col-sm-3">
            <Element-Input type="number" meta={{Lng.History.dateend_day}} value={{HistoryItem.dateend_day}}></Element-Input>
          </div>
          <div class="col-sm-3">
            <Element-Input type="number" meta={{Lng.History.dateend_month}} value={{HistoryItem.dateend_month}}></Element-Input>
          </div>
          <div class="col-sm-3">
            <Element-Input type="number" meta={{Lng.History.dateend_year}} value={{HistoryItem.dateend_year}}></Element-Input>
          </div>
          <div class="col-sm-3">

          </div>
        </div>
        {{/if}}
        <Element-Input meta="{{Lng.History.title}}" value={{HistoryItem.title}}></Element-Input>
        <Element-Input meta={{Lng.History.description}} value={{HistoryItem.description}}></Element-Input>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">{{Lng.History.links.Text}}</th>
              <th scope="col" style="width: 35px;"></th>
            </tr>
          </thead>
          <tbody>
            {{#HistoryItem.links:l}}
            <tr>
              <th>
                <a  href="{{{HistoryItem.links[l]}}}" target="_blank" class="text-truncate">{{{format.TextShort(HistoryItem.links[l], 60)}}}</a>
              </th>
              <th><button class="btn btn-xs btn-danger btn-block" on-click="@this.fire('doLinkDelete', l)"><i class="fa fa-trash"></i></button></th>
            </tr>
            {{/}}
            <tr>
              <th>
                <div class="form-material">
                  <input type="text" class="form-control form-control-sm" placeholder="{{Lng.History.links.Placeholder}}" value={{LinkAdd}}>
                </div>
              </th>
              <th><button class="btn btn-sm btn-success btn-block" on-click="@this.fire('doLinkAdd', LinkAdd)"><i class="fa fa-check"></i></button></th>
            </tr>
          </tbody>
        </table>
        <Element-Input meta={{Lng.History.tag}} value={{HistoryItem.tag}}>
          <option value="ivent">Pronalazak</option>
          <option value="law">Zakon</option>
          <option value="rise">Ustanak</option>
          <option value="battle">Bitka</option>
        </Element-Input>
        <Element-Input meta={{Lng.History.kzm}} value={{HistoryItem.kzm}}></Element-Input>
      </div>
      <div class="modal-footer">
        {{#if(0<HistoryItem.rev)}}
        <button class="{{Lng.History.Dialog.Delete.Class}}" data-dismiss="modal" on-click="@this.fire('doDelete', HistoryItem)">{{{Lng.History.Dialog.Delete.Text}}}</button>
        {{/if}}
        <button class="{{Lng.History.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.History.Dialog.Cancel.Text}}}</button>
        <button class="{{Lng.History.Dialog.Save.Class}}" data-dismiss="modal" on-click="@this.fire('doSave', HistoryItem)">{{{Lng.History.Dialog.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<script>
    component.exports = {
        onrender: function (options) {
            var self = this;
            var map;
            var slider;
            var QuickInfo;
            var PlayTimer;
            var Markers = {};
            var SrvHistory = { Name: 'History-List', Rows: 'CacheData.History' };
            var gMapOptions = {
                zoom: 6,
                center: { lat: 44.8029091, lng: 21.49941 },
                minZoom: 4,
                maxZoom: 10,
                mapTypeId: 'satellite',
                disableDefaultUI: true
            }
            var initMap = function () {
                map = new google.maps.Map(document.getElementById('map'), gMapOptions);
                slider = document.getElementById("myRange");

                slider.oninput = function () {
                    self.set('DateLine.Current', this.value);
                    console.log('DateLine.Current', this.value);
                }
                map.addListener('click', function (e) {
                    placeMarkerAndPanTo(e.latLng, map, e);
                });

            }
            initMap();
            var placeMarkerAndPanTo = function (latLng, map, e) {
              if (QuickInfo) {
                  QuickInfo.setMap(null);
                  delete (QuickInfo);
                  self.set('AddCan', false);
              }
              QuickInfo = new google.maps.Marker({
                  position: latLng,
                  map: map
              });
              console.log('Add', latLng.toString(), e);
              map.panTo(latLng);

              var fRow = {};
              fRow.lat =  parseFloat(QuickInfo.position.lat());
              fRow.lng =  parseFloat(QuickInfo.position.lng());
              var iDate = self.get('DateLine');
              var fDate = Format.formatDateObj(iDate);

              fRow.date_day = fDate.Day;
              fRow.date_month = fDate.Month;
              fRow.date_year = fDate.Year;
              
              self.set('HistorySelected', fRow);
              self.set('AddCan', true);
            }
            var drawItem = function (iRow, iIndex) {
                var fRow = iRow;
                //console.log('Draw', fCity);
                magnitude = 6;//iRow.Population/1000;
                fScale = Math.pow(2, magnitude) / 2;
                fScale =1000 / 10;

                var fGraph = {
                    path: google.maps.SymbolPath.CIRCLE,
                    fillColor: "#FFFFFF",
                    fillOpacity: 0.4,
                    scale: fScale,
                    radius: 50,
                    strokeColor: 'black',
                    strokeWeight: .5
                };

                fMarker = new google.maps.Marker({
                    position: new google.maps.LatLng(fRow.lat, fRow.lng),
                    icon: {
                      path: google.maps.SymbolPath.CIRCLE,
                      fillColor: "#FFFFFF",
                      fillOpacity: 0.4,
                      scale: 8,
                      strokeColor: 'black',
                      strokeWeight: .5
                    },
                    draggable: false,
                    map: map,
                    title: fRow.title,
                    Index: iIndex
                });
                if(fRow.kmz){
                  var ctaLayer = new google.maps.KmlLayer({
                    url: fRow.kmz,
                    map: map
                  });
                }
                console.log('Draw item', iRow);
                fMarker.addListener('click', function () {
                  if (QuickInfo) {
                    QuickInfo.setMap(null);
                    delete (QuickInfo);
                  }
                  self.set('AddCan', false);
                  var fHistorySelected =  self.get('CacheData.History')[this.Index];
                  if(fHistorySelected){
                    self.set('HistorySelected', fHistorySelected);
                  }
                  console.log('Marker', this.Index, fHistorySelected);
                });

                return fMarker;
            }
            self.on('doDraw', function () {
              var fDateLine = self.get('DateLine');
              var fDateObj = Format.formatDateObj(fDateLine);
              var fDraw = self.get('CacheData.History');
              var fKeys = {};

              for(var fItemKey in fDraw){
                var fDoAdd = false;
                if((fDateLine.Current<100)){
                  fDoAdd = true;
                }
                if(!fDoAdd&&fDateObj.Year==fDraw[fItemKey].date_year){
                  fDoAdd = true;
                }
                if(!fDoAdd&&(fDraw[fItemKey].date_year-10)<=fDateObj.Year&&fDateObj.Year<=(fDraw[fItemKey].date_year+10)){
                  fDoAdd = true;
                }
                if(fDoAdd){
                  fKeys[fItemKey] = fItemKey;
                  if(!Markers[fItemKey]){
                    Markers[fItemKey] = drawItem(fDraw[fItemKey], fItemKey);
                  }
                }
              }

              for(fKey in Markers){
                if(!fKeys[fKey]){
                  Markers[fKey].setMap(null);
                  delete (Markers[fKey]);
                }
              }

            });
            self.on('doCancel', function () {
              if (QuickInfo) {
                QuickInfo.setMap(null);
                delete (QuickInfo);
                self.set('AddCan', false);
              }
              self.set('HistorySelected', {});
            });
            self.on('doRefresh', function () {
              self.sync.Sync(self, SrvHistory);
            });
            self.on('doEvent', function (iMessage, iFrom) {
              self.fire('doRefresh');
            });
            self.on('doPlay', function () {
              if(PlayTimer){
                clearInterval(PlayTimer);
                PlayTimer = undefined;
                console.log('doPlay', false);
                self.set('ShowPlay', true);
              }else{
                PlayTimer = setInterval(function(){ self.fire('doDateInc', 1); }, 1000);
                console.log('doPlay', true);
                self.set('ShowPlay', false);
              }
            });
            self.on('doDateInc', function (iDays) {
              var  fCurrent = parseInt(self.get('DateLine.Current'))+iDays;
              console.log('DateLine.Current', fCurrent);
              self.set('DateLine.Current', parseInt(fCurrent));
            });
            self.on('doLinkAdd', function (iLink) {
              if(iLink){
                var fList = self.get('HistoryItem.links');
                if(!Array.isArray(fList)){
                  fList = [];
                }
                fList.push(iLink);
                self.set('HistoryItem.links', fList);
                self.set('LinkAdd', '');
              }
            });
            self.on('doLinkDelete', function (iLinkIndex) {
              var fList = self.get('HistoryItem.links');
              fList.splice(iLinkIndex, 1);
              self.set('HistoryItem.links', fList);
            });
            self.on('doAdd', function () {
              var fRow = self.sync.NewRow({ tag: "", type: "one"});
              if (QuickInfo) {
                fRow.lat =  parseFloat(QuickInfo.position.lat());
                fRow.lng =  parseFloat(QuickInfo.position.lng());
              }
              var iDate = self.get('DateLine');
              var fDate = new Date(iDate.StartYear, 0, 1, 0, 0, 0, 0);
              fDate.setDate(fDate.getDate() + iDate.Current);

              fRow.date_day = fDate.getDate();
              fRow.date_month = fDate.getMonth()+1;
              fRow.date_year = fDate.getFullYear();

              console.log('doAdd', fRow);
              window.location.hash = fRow.guid+'/edit';
              self.set('HistoryItem', fRow);
              $("#HistoryShow").modal('show');
            });
            self.on('doEdit', function (iRow) {
              var fRow = (iRow) ? Client.getClone(iRow) : self.sync.NewRow();
              console.log('doEdit', fRow);
              window.location.hash = fRow.guid+'/edit';
              self.set('HistoryItem', fRow);
              $("#HistoryShow").modal('show');
            });
            self.on('doSave', function (iRow) {
              self.sync.Sync(self, self.sync.SaveRow(SrvHistory, iRow));
            });
            self.on('doDelete', function (iRow) {
              self.sync.Sync(self, self.sync.DeleteRow(SrvHistory, iRow));
            });
            self.fire('doRefresh');
            self.observe('CacheData.History DateLine.Current', function (n, o) {
              console.log('Dateline change', n);
              self.fire('doDraw');
            });
        },
        data: function () {
            return {
                CacheData: {
                  History: {}
                },
                DateLine: {
                    Start: 'January 1 0111 00:00:01 GMT+0200',
                    StartYear: 600,
                    Min: 1,
                    Default: 0,
                    Current: 0,
                    Max: 518300
                },
                AddCan: false,
                ShowAdmin: false,
                ShowPlay: true,
                HistoryItem: {},
                HistorySelected: {},
                Draw: {},
                formatResource: function(iLink){
                  if(0<iLink.indexOf('youtube')){
                    return "<i class='fa fa-youtube white'></i>";
                  }
                  if(0<iLink.indexOf('youtu.be')){
                    return "<i class='fa fa-youtube white'></i>";
                  }
                  if(0<iLink.indexOf('wiki')){
                    return "<i class='fa fa-wikipedia-w white'></i>";
                  }

                  return "<i class='fa fa-link white'></i>";
                },
                formatResourceHtml: function(iLink){
                  if(0<iLink.indexOf('youtube')){
                    return '<a  href="'+iLink+'" target="_blank"><i class="fa fa-youtube white"></i></a>';
                  }
                  if(0<iLink.indexOf('youtu.be')){
                    return '<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/'+iLink.replace('https://youtu.be/', '')+'?rel=0" allowfullscreen></iframe></div>';
                  }
                  if(0<iLink.indexOf('wiki')){
                    return '<a  href="'+iLink+'" target="_blank"><i class="fa fa-wikipedia-w white"></i></a>';
                  }

                  return '<a  href="'+iLink+"' target='_blank'><i class='fa fa-link white'></i></a>";
                },
                Lng: SiteLng
            }
        }
    }
</script>