{{#if(!Session.UserAuth)}}
<br><br>
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title text-uppercase">{{{Lng.Auth.Dialog.AuthInTitle}}}</h4>
      </div>
      <div class="panel-body">
        <br>
        {{#if(Auth.emailNext)}}
        <p>Na email <strong>{{{Auth.email}}}</strong> vam je poslat PIN!</p>
        <Element-Input id="AuthPin" title="PIN" notvalid={{Auth.pinnotvalid}} type="pin" value={{Auth.pin}} placeholder="unesite PIN da ga nastavite dalje..."></Element-Input>
        {{#if(Auth.pinnotvalidSrv)}}
        <div class="alert alert-warning">
          <h5>Pin nije prosao</h5>
        </div>
        {{/if}}
        {{else}}
        <p>{{{Lng.Auth.Dialog.AuthInDesc}}}</p>
        <Element-Input id="AuthEmail" title="Email" notvalid={{Auth.emailnotvalid}} type="text" value={{Auth.email}} placeholder="unesite email da ga nastavite dalje..."></Element-Input>
        {{/if}}
      </div>
      <div class="panel-footer">
        {{#if(Auth.emailNext)}}
        <button class={{Lng.Auth.Button.Check.Class}} on-click="@this.fire('doAuthCheck', Auth)">{{{Lng.Auth.Button.Check.Text}}}</button>
        {{else}}
        <button class={{Lng.Auth.Button.Next.Class}} on-click="@this.fire('doAuthStart', Auth)">{{{Lng.Auth.Button.Next.Text}}}</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="row">
  <div class="{{Lng.Page.MainBS}}">
    <Element-Header row={{User}} title={{{User.firstname}}} url={{{User.guid}}} kind={{kind}}>
      <small>{{{Disc.description}}}&nbsp;</small>
    </Element-Header>
    <br>
    <br>
    <small class="text-uppercase">Autentifikacije</small>
    <div class="row">
      {{#CacheData.Auths:i}}
      <div class="col-xs-12 col-sd-6 col-sm-4 col-md-3 col-lg-2 margin-bottom-5">
        {{#if(IsAuth(., User))}}
          <button class="btn btn-sm btn-block btn-success" on-click="@this.fire('doAuthItem', .)">{{{format.Str(.Title)}}}</button>
        {{else}}
          <button class="btn btn-sm btn-block btn-default" on-click="@this.fire('doAuthItem', .)">{{{format.Str(.Title)}}}</button>
        {{/if}}
      </div>
      {{/}}
    </div>
    <br>
    <small class="text-uppercase">Društvo</small>
    <div class="row">
      <div class="col-xs-6">
        <h4>Nema podataka!</h4>
      </div>
      <div class="col-xs-6 text-right">
        <h4><i class="fa fa-star-o grey"></i></h4>
      </div>
    </div>
    <br>
    <small class="text-uppercase">Obrazovanje</small>
    <div class="row">
      <div class="col-xs-6">
        <h4>
          {{#if(User.education)}}
          <a href="javascript:void(0);" class="text-success" on-click="@this.fire('doUserEducationShow', User)" >{{{format.Label(User.education, Lng.User.education, 'Nema podataka')}}}</a>
          {{else}}
          <a href="javascript:void(0);" class="text-danger" on-click="@this.fire('doUserEducationShow', User)" >Nema podataka!</a>
          {{/if}}
        </h4>
      </div>
      <div class="col-xs-6 text-right">
        <h4>{{{formatStars(User.education, Lng.User.education)}}}</h4>
      </div>
    </div>
    <br>
    <small class="text-uppercase">Aktivizam</small>
    <div class="row">
      <div class="col-xs-6">
        <h4>Nema podataka!</h4>
      </div>
      <div class="col-xs-6 text-right">
        <h4><i class="fa fa-star-o grey"></i></h4>
      </div>
    </div>
  </div>
  <Element-Info Title="Profil" row={{User}} Action="doEdit,doLogout" doAction={{doAction}} kind={{kind}}>
    <div class="row">
      <div class="col-xs-12">
        <small class="text-uppercase">{{{Lng.Auth.emails.Text}}}</small><br><span class="font-size-16 black font-weight-500">{{{User.emails}}}</span>
        <br>
        <small class="text-uppercase">{{{Lng.Auth.firstname.Text}}}</small><br><strong class="font-size-16 black font-weight-500">{{{User.firstname}}} {{{User.familyname}}}</strong><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <small class="text-uppercase">{{{Lng.Auth.birthdate.Text}}}/{{{Lng.Auth.birthplace.Text}}}</small>
        <br>
        <span class="font-size-16 black font-weight-500">{{{format.DateLong(User.birthdate)}}}</span>
        /
        <span class="font-size-16 black font-weight-500">{{{User.birthplace}}}, {{{User.birthstate}}}</span>
      </div>
    </div>
    <br>
  </Element-Info>
</div>
{{/if}}
<div id="ShowUser" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Profil</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <small><i class="fa fa-hashtag"></i>&nbsp;{{UserItem.guid}}</small>
            {{#if(UserItem.image)}}
            <img class="img-circle img-64 pull-right" src="{{UserItem.image}}" onerror="this.src='/res/img/user_default.jpg'">
            {{else}}
            <i class="fa fa-user-circle fa-2x pull-right" style="color: #{{format.Color(Session.UserUID)}};"></i>
            {{/if}}
            <br><small><i class="fa fa-envelope-o"></i>&nbsp;{{UserItem.emails}}</small>
            <br><br>
          </div>
          <div class="col-xs-12 col-sm-6">
            <Element-Input meta={{Lng.Auth.firstname}} value={{UserItem.firstname}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <Element-Input meta={{Lng.Auth.familyname}} value={{UserItem.familyname}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.Auth.birthdate}} value={{UserItem.birthdate}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.Auth.birthplace}} value={{UserItem.birthplace}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.Auth.birthstate}} value={{UserItem.birthstate}}></Element-Input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="{{{Lng.Dialog.Cancel.Class}}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{{Lng.Dialog.Save.Class}}}" on-click="@this.fire('doUserSave', UserItem)">{{{Lng.Dialog.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<div id="ShowUserEducation" class="modal fade modal-default in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Obrazovanje</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <Element-Input meta={{Lng.User.education}} value={{UserItem.education}}></Element-Input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="{{{Lng.Dialog.Cancel.Class}}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{{Lng.Dialog.Save.Class}}}" on-click="@this.fire('doUserEducationSave', UserItem)">{{{Lng.Dialog.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<!--
<div id="ShowGoogle" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Google nalog</h4>
      </div>
      <div class="modal-body">
        <div id="GoogleSignin" class="g-signin2" data-onsuccess="onSignInGoogle"></div>
        <div id="GoogleData" style="display:none"></div>
        <div id="GoogleUser" style="color:black;display: none;">
          <div class="row">
            <div class="col-xs-8">
              <h4 id="GoogleName">.</h4>
              <span id="GoogleEmail">.</span><br>
              <a href="javascript:" onclick="signOut();">&#382;elim drugi google nalog...</a>
            </div>
            <div class="col-xs-3">
              <div id="GooglePicture" class="pull-right"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="{{{Lng.Dialog.Cancel.Class}}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{{Lng.Button.Save.Class}}}" on-click="@this.fire('doAuth')">{{{Lng.Button.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>-->
{{#if(ActiveAuth.Type=='Email')}}
<div id="ShowEmail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Email</h4>
      </div>
      <div class="modal-body">
        <div class="form-group form-material">
          <label class="control-label">Email</label>
          <input class="form-control control-lg empty font-weight-500" type="text" placeholder="" value="{{AuthData.Email}}">
        </div>
      </div>
      <div class="modal-footer">
        <button class="{{{Lng.Button.Cancel.Class}}}" data-dismiss="modal">{{{Lng.Button.Cancel.Text}}}</button>
        <button class="{{{Lng.Button.Save.Class}}}" on-click="@this.fire('doAuth')">{{{Lng.Button.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#if(ActiveAuth.Type=='JMBG')}}
<div id="ShowJMBG" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">JMBG</h4>
      </div>
      <div class="modal-body">
        <div class="form-group form-material">
          <label class="control-label">JMBG</label>
          <input class="form-control control-lg empty font-weight-500" type="text" placeholder="" value="{{AuthData.JMBG}}">
        </div>
      </div>
      <div class="modal-footer">
        <button class="{{{Lng.Button.Cancel.Class}}}" data-dismiss="modal">{{{Lng.Button.Cancel.Text}}}</button>
        <button class="{{{Lng.Button.Save.Class}}}" on-click="@this.fire('doAuth')">{{{Lng.Button.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#if(ActiveAuth.Type=='Web')}}
<div id="ShowWeb" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Web</h4>
      </div>
      <div class="modal-body">
        <button class="{{{Lng.Button.Cancel.Class}}}">Check</button>
      </div>
      <div class="modal-footer">
        <button class="{{{Lng.Button.Cancel.Class}}}" data-dismiss="modal">{{{Lng.Button.Cancel.Text}}}</button>
        <button class="{{{Lng.Button.Save.Class}}}" on-click="@this.fire('doAuth')">{{{Lng.Button.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvAuth = { Name: 'Buildin-Auth', Rows: 'CacheData.Auths' };
      var SrvAuthStart = { Name: 'Buildin-Auth-Start',  Rows: 'Auths' };
      var SrvAuthCheck = { Name: 'Buildin-Auth-Check',  Rows: 'Checks' };
      var SrvAuthLogout = { Name: 'Buildin-Auth-Logout',  Rows: 'Users' };
      var SrvUser = { Name: 'Buildin-User',  Rows: 'Users' };

      var fUser = Client.getCache('Session', Global.Session);
      self.set('Session', fUser);
      self.set('User', fUser.UserData);
      self.on('doRefresh', function (iParams) {
        self.sync.Sync(self, SrvAuth);
        if(!this.get("Auth.emailNext")){
          $("#AuthEmail").focus();
          $( "#AuthEmail" ).keypress(function( event ) {
              if ( event.which == 13 ) {
                event.preventDefault();
                self.fire('doAuthStart', self.get('Auth'));
              } 
          });
        }
      });
      self.on('doEdit', function (iUser) {
        var fUser = (iUser)? iUser:self.get('User');
        self.set('UserItem', fUser);
        $('#ShowUser').modal('show');
      });
      self.on('doUserSave', function (iRow) {
        if(self.isEcho()) console.log('doUserSave', iRow);
        self.sync.Sync(self, SrvUser, "save", iRow, function(oSelf, oService, oData){
          if(self.isEcho()) console.log('doUserSave', oData);
          self.set('User', oData);
          Global.Session.UserData = oData;
          Client.setCache('Session', Global.Session);
          $('#ShowUser').modal('hide');
        });
      });
      self.on('doUserLogout', function (iRow) {
        self.sync.Sync(self, SrvAuthLogout, "default", iRow, function(oSelf, oService, oData){
          if(self.isEcho()) console.log('AuthLogout', oData);
          console.log('Echo doUserLogout', oData);
          Global.Session.UserAuth = false;
          Global.Session.UserUID = undefined;
          Global.Session.UserName = undefined;
          Global.Session.UserEmail = undefined;
          Global.Session.UserData = oData.Session.UserData;
          self.set('User', oData.Session.UserData);
          self.set('Session', oData.Session);
          Client.setCache('Session', Global.Session);
        });
      });
      self.on('doUserEducationShow', function (iRow) {
        self.set('UserItem', iRow);
        $('#ShowUserEducation').modal('show');
      });
      self.on('doUserEducationSave', function (iRow) {
        if(self.isEcho()) console.log('doUserEducationSave', iRow);
        self.sync.Sync(self, SrvUser, "save", iRow, function(oSelf, oService, oData){
          if(self.isEcho()) console.log('doUserSave', oData);
          self.set('User', oData);
          Global.Session.UserData = oData;
          Client.setCache('Session', Global.Session);
          $('#ShowUserEducation').modal('hide');
        });
      });
      self.on('doAuthItem', function (iAuth) {
        self.set('AuthData', {});
        self.set('ActiveAuth', iAuth);
        $('#Show' + iAuth.Type).modal('show');
      });
      self.on('doAuthStart', function (iRow) {
        var fEmail = (iRow&&iRow.email)? iRow.email.toString().toLowerCase().trim():"";
        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
        if(fEmail&&validateEmail(fEmail)){
          self.set('Auth.emailnotvalid', false);
        }else{
          self.set('Auth.emailnotvalid', true);
          $("#AuthEmail").focus();
          return ;
        }

        var fRow = { 
          email:  fEmail,
          pin: "",
          checkpin: "",
          emailNext: false
        };
        if(Global.Behavior.echoTest){
          fRow.checkpin = Client.getPin();
          fRow.pin = fRow.checkpin;
        }
        self.set('Auth', fRow);
        self.sync.Sync(self, SrvAuthStart, "default", fRow, function(oSelf, oService, oData){
          if(self.isEcho()) console.log('AuthStart', oData);
          if(oData.status){
            var fUser = oData.Session;
            fUser.UserEmail = fRow.email;
            fRow.emailNext = true;
            self.set('Auth', fRow);
            $("#AuthPin").focus();
            $( "#AuthPin" ).keypress(function( event ) {
              if ( event.which == 13 ) {
                event.preventDefault();
                self.fire('doAuthCheck', self.get('Auth'));
              } 
            });
          }
        });
      });
      self.on('doAuthCheck', function (iRow) {
        var fRow = iRow;
        var fPin = (iRow&&iRow.pin)? iRow.pin.toString().trim():"";

        function validatePin(iPin) {
            var re = /^[0-9]{4}$/;
            return re.test(String(iPin));
        }
        if(fPin&&validatePin(fPin)){
          self.set('Auth.pinnotvalid', false);
        }else{
          self.set('Auth.pinnotvalid', true);
          $("#AuthPin").focus();
          return ;
        }
        self.set('Auth.pinnotvalidSrv', false);
        self.sync.Sync(self, SrvAuthCheck, "default", fRow, function(oSelf, oService, oData){
          if(self.isEcho()) console.log('doAuthCheck', oData);
          if(oData.status){
            var fUser = oData.Session;
            fUser.UserEmail = fRow.email;
            self.set('Session', fUser);
            self.set('User', fUser.UserData);
          }else{
            self.set('Auth.pinnotvalidSrv', true);
            $("#AuthPin").focus();
          }
        });
      });
      self.on('doAuth', function (iRow) {
        var fActiveAuth = self.get('ActiveAuth');
        var fUser = self.get('User');
        var fData = iRow||self.get('AuthData')||{};
        var fStatus = false;

        switch(fActiveAuth.Type.toLowerCase().trim()){
          case "google":
              if( GlobalGoogleProfile.Id ){
                fStatus = true;
                fData = GlobalGoogleProfile;
              }
          break;
          case "email":
              //if((iRow.JMBG)&&(fJMBGData = Client.authJMBG(iRow.JMBG))&&(fJMBGData.Status) ){
                fStatus = true;
                //fData = fJMBGData;
              //}
          break;
          case "jmbg":
              if((iRow.JMBG)&&(fJMBGData = Client.authJMBG(iRow.JMBG))&&(fJMBGData.Status) ){
                fStatus = true;
                fData = fJMBGData;
              }
          break;
        }

        if(fStatus){
          var fSrvAuthCheck = { Name: 'Buildin-AuthCheck', Row: { Auth: fActiveAuth, User: fUser, Data: fData } };
          self.sync.Sync(self, fSrvAuthCheck, undefined, undefined, function(oComp, oService, oData){
            console.log("Auth", oComp, oService, oData);
            if(oData&&oData.Status){
              self.set('User', oData.User);
              $('#Show' + fActiveAuth.Type).modal('hide');
            }
          });
        }
      });
      self.on('doAuthGo', function () {
        var fUser = self.get('User');

        if(Client.setSession(fUser)){
          window.location.href = "/";
        }
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doRefresh');
    },
    data: function () {
      return {
        CacheData: {
          Auths: {}
        },
        Auth: { 
          email: '',
          pin: '',
          checkpin: '',
          emailNext: false
        },
        User: {
          guid: undefined,
          state: "",
          firstname: "",
          familyname: "",
          image: "",
          sex: "",
          birthdate: "",
          birthplace: "",
          birthstate: "",
          Auths: {
          }
        },
        AuthData: {
          JMBG: ""
        },
        navigate: "",
        ActiveAuth: {

        },
        Session: {
          UserAuth: false
        },
        formatPrc: function(iRow){
          return parseInt(iRow.Points*100);
        },
        formatPonder: function(iRow){
          if(iRow&&iRow.Points){
            return parseFloat(iRow.Points);
          }

          return 0.01;
        },
        formatStars: function(iValue, iCodebook){
          var fResult = "<i class='fa fa-star-o grey'></i>";
          if(iCodebook.Rows&&iCodebook.Rows[iValue]&&iCodebook.Rows[iValue].points){
            var fPoints = parseFloat(iCodebook.Rows[iValue].points);
            fResult = "<i class='fa fa-star gold'></i>".repeat(fPoints);
            if(fPoints!=parseInt(fPoints)){
              fResult += "<i class='fa fa-star-half gold'></i>";
            }
          }

          return fResult;
        },
        formatBirthPlace:  function(iRow){
          if(iRow.birthplace&&SiteLng.Auth.JMBGReg[iRow.birthplace]){
            return SiteLng.Auth.JMBGReg[iRow.birthplace];
          }
          return iRow.birthplace;
        },
        IsAuth: function(iAuth, iUser){
          if(iAuth&&iUser&&iAuth.Type&&iUser.Auths){
            var fType = iAuth.Type.toLowerCase();
            //console.log('y', fType, iUser.Auths, iUser.Auths[fType]);
            if(iUser.Auths[fType]){
              return iUser.Auths[fType].Status;
            }
          }
          return false;
        },
        Lng: SiteLng
      }
    }
  }
</script>