{{#if(format.isDetails(Stat))}}
<div class="row">
  <div class="{{Lng.Page.MainBS}}">
    <Element-Header row={{Stat}} title={{{Stat.title}}} url={{{Stat.guid}}} kind={{kind}}>
      <small>{{{Stat.description}}}&nbsp;</small>
    </Element-Header>
    <br>
    {{#if(Stat.feed_kind=='bar')}}
    <Element-Chart type="bar" title="{{{Stat.title}}}" value={{formatChart(Stat)}} meta={{Stat.data_meta}}></Element-Chart>
    {{else}}
    <Element-Chart type={{Stat.feed_kind}} title="{{{Stat.title}}}" value={{formatChart(Stat)}} meta={{Stat.data_meta}}></Element-Chart>
    {{/if}}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 15px;"></th>
          <th scope="col">Naziv</th>
          <th scope="col" class="text-right">Vrednost</th>
        </tr>
      </thead>
      <tbody>
        {{#Stat.Pull.Data:i}}
        <tr>
          <th style="width: 15px; background-color: {{{.Color}}}"></th>
          <td class="font-size-8">{{{.Title}}}</td>
          <td class="font-size-8 text-right">{{{.Value}}}</td>
        </tr>
        {{/}}
      </tbody>
    </table>
  </div>
  <Element-Info row={{Stat}} Action="doEdit,disc" doAction={{doAction}}>
    <br>
    {{#if(format.IsNotEmpty(Stat.Pull.Date))}}<small>osve&#382;eno {{{format.Ago(Stat.Pull.Date)}}}</small>{{/if}}
    <br>
    <a href="{{Stat.feed_url}}" class="font-size-8 gray-800 text-break">{{Stat.feed_url}}</a>
  </Element-Info>
</div>
{{else}}
<div class="row">
  {{#CacheData.Stats:i}}
  <Element-Card row={{.}} title={{.title}} url={{.guid}}>
    <Element-Chart type={{.feed_kind}} title="{{{.title}}}" value={{formatChart(.)}} meta={{.data_meta}} style="height:150px;"></Element-Chart>
    <small>{{{.description}}}&nbsp;</small>
  </Element-Card>
  {{/}}
</div>
<div class="row">
  <div class="col-xs-12">
    <Element-Cmd Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Cmd>
  </div>
</div>
{{/if}}
<div id="StatShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.Stat.Dialog.Title}}</h4>
      </div>
      <div class="modal-body">
        <Element-Input meta={{Lng.Stat.title}} value={{StatItem.title}}></Element-Input>
        <Element-Input meta={{Lng.Stat.feed_url}} value={{StatItem.feed_url}}></Element-Input>
        <div class="row">
          <div class="col-sm-12">
            <button class="{{Lng.Stat.Dialog.Pull.Class}}" on-click="@this.fire('doPull', StatItem)">{{{Lng.Stat.Dialog.Pull.Text}}}</button>
            {{#if(format.IsNotEmpty(StatItem.Pull.Date))}}<small>poslednji put {{{format.Ago(StatItem.Pull.Date)}}}</small>{{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <br>
            <button class="btn btn-sm btn-pure {{#if(StatItem.feed_kind=='pie')}}btn-success{{else}}btn-default{{/if}}" on-click="@this.fire('doSelect', 'pie')"><i class="fa fa-2x fa-pie-chart" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-pure {{#if(StatItem.feed_kind=='bar')}}btn-success{{else}}btn-default{{/if}}" on-click="@this.fire('doSelect', 'bar')"><i class="fa fa-2x fa-bar-chart" aria-hidden="true"></i></button>
          </div>
          <div class="col-sm-4">
            <Element-Input type="select" meta={{Lng.Stat.feed_col1}} value={{StatItem.feed_col1}} rows={{StatItem.feed_cols}} valuef="Id" labelf="Title">
            </Element-Input>
          </div>
          <div class="col-sm-4">
            <Element-Input type="select" meta={{Lng.Stat.feed_col2}} value={{StatItem.feed_col2}} rows={{StatItem.feed_cols}} valuef="Id" labelf="Title">
            </Element-Input>
          </div>
        </div>
        <Element-Input meta={{Lng.Stat.description}} value={{StatItem.description}}></Element-Input>
      </div>
      <div class="modal-footer">
        <Element-Cmd row={{StatItem}} Action="doDialog" doAction={{doAction}} kind={{kind}}></Element-Cmd>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvStat = {
        Name: 'Stat-List',
        Rows: 'CacheData.Stats',
        DetailRow: 'Stat',
        ModalRow: 'StatItem',
        ModalName: '#StatShow',
        Behavior: {
          KeyName: "guid",
          Validate: "Stat",
          FireName: "doPull"
        }
      };

      self.on('doUrl', function (iUrl) {
        var fUrl = ((iUrl) ? iUrl : Client.getUrlData());

        if (fUrl.guid) {
          if (fUrl.guid == "add") {
            self.sync.Data(self, SrvStat);
            var fRow = self.sync.NewRow({ feed_kind: "pie" });
            self.set(SrvStat.ModalRow, fRow);
            self.set(SrvStat.DetailRow, {});
            $(SrvStat.ModalName).modal('show');
          } else {
            $(SrvStat.ModalName).modal('hide');
            var fRow = (self.get(SrvStat.Rows) && self.get(SrvStat.Rows)[fUrl.guid]) ? self.get(SrvStat.Rows)[fUrl.guid] : { guid: fUrl.guid, title: "", feed_kind: "pie", description: "", date: "" };
            self.set(SrvStat.DetailRow, fRow);
            self.sync.Sync(self, self.sync.DetailRow(SrvStat, fRow));
          }
        } else {
          $(SrvStat.ModalName).modal('hide');
          self.set(SrvStat.ModalRow, {});
          self.set(SrvStat.DetailRow, {});
          self.sync.Data(self, SrvStat);
        }
      });
      self.on('doPull', function (iRow) {
        var fData = { Name: 'Stat-Pull', Row: iRow };
        self.sync.Sync(self, fData, undefined, undefined, function (oComp, oService, oData) {
          console.log('doPull', oService, oData);
          if(oData&&oData.Date){
            self.set('StatItem.Pull.Date', oData.Date);
          }else{
            self.set('StatItem.Pull.Date', undefined);
          }
          var fFeedCols = [];
          if(oData&&oData.Data){
            for (c = 0; c < oData.Data[0].length; c++) {
              fFeedCols.push({ Id: c, Title: "Column " + c });
              if(oData.Data[0][c]){
                fFeedCols.push({ Id: oData.Data[0][c], Title: oData.Data[0][c] });
              }
            }
          }
          self.set('StatItem.feed_cols', fFeedCols);
        });
      });
      self.on('doViewRefresh', function (iRow) {
        var fRow = {};
        if (iRow.Row) {
          fRow = iRow.Row;
        } else {
          fRow = iRow;
        }

        var fData = [{ Name: 'Stat-Data', Row: fRow }];
        self.sync.Sync(self, fData, undefined, undefined, function (oComp, oService, oData) {
          fRow.Pull = oData.Pull;
          self.set(SrvStat.DetailRow, fRow);
        });
      });
      self.on('doAdd', function () {
        self.sync.Sync(self, self.sync.EditRow(SrvStat, self.sync.NewRow({ title: "", feed_kind: "pie", description: "" }, SiteLng.Stat)));
      });
      self.on('doEdit', function (iRow) {
        self.sync.Sync(self, self.sync.EditRow(SrvStat, iRow, self));
      });
      self.on('doSave', function (iRow) {
        self.sync.Sync(self, self.sync.SaveRow(SrvStat, iRow, self, 'doViewRefresh'));
      });
      self.on('doDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvStat, iRow, self));
      });
      self.on('doSelect', function (iValue) {
        self.set('StatItem.feed_kind', iValue);
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Stat",
        Meta: {

        },
        CacheData: {
          Stats: [],
          Sources: {}
        },
        StatData: [],
        Stat: {},
        StatItem: {},
        formatChart: function (iRow) {
          if (!iRow || !iRow.Pull || !iRow.Pull.Data) {
            return {};
          }
          var fData = iRow.Pull.Data;
          var fValue = {
            labels: [],
            datasets: [{
              data: [],
              backgroundColor: [],
              label: 'Test'
            }]
          };
          try{
            if (fData && fData.length) {
              for (r = 0; r < fData.length; r++) {
                fValue.datasets[0].data.push(fData[r].Value);
                fValue.datasets[0].backgroundColor.push(fData[r].Color);
                fValue.labels.push(fData[r].Title);
              }
            };
          }catch(err){

          }

          return fValue;
        },
        Lng: SiteLng
      }
    }
  }
</script>