<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
<head>
  {{File.Meta}}
  <title>Config</title>
  {{File.Css}}
</head>
<body class="container-fluid">
  <nav>
    <table style="width: 100%;">
      <tr>
        <td style="width: 50px;"><a href="/"><img src="{{Site.Logo}}" style="width: 32px; height: 32px;"></a></td>
        <td>
          <div style="text-transform: uppercase; font-size: larger;">
            <a href="/#">Početna</a>&nbsp;&nbsp;<a href="/komentari#">Komentari</a>&nbsp;&nbsp;<a href="/vesti#">Vesti</a>&nbsp;&nbsp;<a href="/live#">Live</a>
          </div>      
        </td>
        <td>
          <div class="pull-right dd-frame" data-frame="Session-Menu" id="Session-Menu">
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
              <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Obavestenja" aria-expanded="false" data-animation="scale-up" role="button">
                  <i class="fa fa-bell fa-2x grey-400" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="/auth" title="Pristupite sistemu" role="button"><i class="fa fa-user-circle fa-2x grey-400"></i></a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </nav>
  <div class="animsition animsition-fade dd-frame" data-frame="Config-Home" id="Config-Home">
    <div>Loading...</div>
  </div>
  {{File.Footer}}
  {{File.Js}}
</body>
</html>