<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
  <head>
    <title>POČETNA</title>
    {{File.Meta}}
    {{File.Css}}
  </head>
  <body class="container-fluid">
    <nav>
      <table style="width: 100%;">
        <tr>
          <td style="width: 50px;"><a href="/"><img src="{{Site.Logo}}" style="width: 32px; height: 32px;"></a></td>
          <td>
            <div style="text-transform: uppercase; font-size: larger;">
              <a href="/#" class="text-success">Početna</a>&nbsp;&nbsp;<a href="/komentari#">Komentari</a>&nbsp;&nbsp;<a href="/vesti#">Vesti</a>&nbsp;&nbsp;<a href="/live#">Live</a>
            </div>      
          </td>
          <td>
            <div class="pull-right dd-frame" data-frame="Session-Menu" id="Session-Menu">
              <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="nav-item dropdown">
                  <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Obavestenja" aria-expanded="false" data-animation="scale-up" role="button">
                    <i class="fa fa-bell fa-2x grey-400" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="/auth" title="Pristupite sistemu" role="button"><i class="fa fa-user-circle fa-2x grey-400"></i></a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    </nav>
    <div class="row animsition animsition-fade">
      <div class="col-xs-12 col-sm-8">
        <h1>Political Cloud Platform</h1>
        <div class="dd-frame" data-frame="Auth-Widget" id="Auth-Widget"></div>
        <div class="dd-frame" data-frame="Live-Widget" id="Live-Widget"></div>
        <br>
        <h2 class="text-success">Specification</h2>
        <p>Enter in disruptive political tech platform.</p>
        <p>You want to test system and our configuration, <a href="//demo.dd.in.rs:1024">join our community</a>.</p>
      </div>
      <div class="col-xs-12 col-sm-4 dd-frame" data-frame="News-Widget" id="News-Widget"></div>
    </div>
    <footer>
      <div class="row margin-top-30">
        <div class="col-sm-4">
          <div class="text-uppercase gray-800 text-left"><span style="font-weight: 700; color: #9e9e9e;">Stranice</span></div>
          <div class="text-left">
            {{Site.MenuFooter}}
          </div>  
        </div>
        <div class="col-sm-4">
          <div class="text-uppercase gray-800 text-center"><span style="font-weight: 700; color: #9e9e9e;">Resursi</span></div>
          <div class="text-left">
            {{Site.MenuResource}}
          </div>  
        </div>
        <div class="col-sm-4">
          <div class="text-uppercase gray-800 text-right"><span style="font-weight: 700; color: #9e9e9e;">Podeli</span></div>
          <div class="social text-right">
            {{Site.MenuSocial}}
          </div>
        </div>
      </div>
      <div style="height: 40px;"></div>
      <small><a href="{{Site.Webhref}}">{{Site.Website}}</a> © {{Site.Year}}.</small>
      <div style="height: 40px;"></div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/res/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/res/js/bootstrap-dd.js"></script>
    <script src="/res/js/components/animsition.min.js"></script>
    <script src="/res/vendor/waves/waves.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="/config.js"></script>
    <script src="/client.js"></script>
  </body>
</html>