<div class="row">
  {{#if(session.UserAuth)}}
  <div class="col-xs-12 col-md-12 margin-bottom-5">
    <button class="{{Lng.Button.Auth.Class}} btn-primary" on-click="@this.fire('doAuthSession')">Continue as {{{session.UserName}}}</button>
  </div>
  {{/if}}
  {{#Vote.auth_list:i}}
  {{#if(.Status)}}
    {{#if(User.Auths[.Type].Status)}}
    <div class="col-xs-12 col-md- margin-bottom-5">
      <button class="{{Lng.Button.Auth.Class}} btn-primary" on-click="@this.fire('doAuthShow', .)">{{{format.Str(.Title)}}}</button>
    </div>
    {{else}}
    <div class="col-xs-12 col-md-2 margin-bottom-5">
      <button class="{{Lng.Button.Auth.Class}} btn-primary" on-click="@this.fire('doAuthShow', .)">{{{format.Str(.Title)}}}</button>
    </div>
    {{/if}}
  {{/if}}
  {{/}}
</div>
{{#if(User.Auth)}}
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <small class="text-uppercase">{{{Lng.Auth.firstname.Text}}} {{{Lng.Auth.familyname.Text}}}</small>
    <br>
    <strong class="font-size-14 font-weight-500">{{{User.Data.firstname}}}&nbsp;{{{User.Data.familyname}}}</strong>
    <br>
    <strong class="font-size-14 font-weight-500">{{{format.Date(User.Data.birthdate)}}}&nbsp;{{{User.Data.birthplace}}}</strong>
  </div>
  <div class="col-xs-12 col-sm-6 text-right">
    <i class="fa fa-user-circle fa-2x" style="color: #{{format.Color(User.UserUID)}};"></i>
  </div>
  <div class="col-xs-12">
    <small>ukupno bodova {{User.Points}}</small>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{formatPrc(User)}}" aria-valuemin="0" aria-valuemax="100" style="width:{{formatPrc(User)}}%">
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="alert alert-info">
<h1>Prijavi se</h1>
</div>
{{/if}}
<!--

    DIALOGS

-->
<div id="ShowGoogle" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Google nalog</h4>
      </div>
      <div class="modal-body">
        <div id="GoogleSignin" class="g-signin2" data-onsuccess="onSignInGoogle"></div>
        <div id="GoogleData" style="display:none"></div>
        <div id="GoogleUser" style="color:black;display: none;">
          <div class="row">
            <div class="col-xs-8">
              <h4 id="GoogleName">.</h4>
              <span id="GoogleEmail">.</span><br>
              <a href="javascript:" onclick="signOut();">&#382;elim drugi google nalog...</a>
            </div>
            <div class="col-xs-3">
              <div id="GooglePicture" class="pull-right"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="{{{Lng.Dialog.Cancel.Class}}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{{Lng.Button.Save.Class}}}" on-click="@this.fire('doAuth')">{{{Lng.Button.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<div id="ShowEmail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Email</h4>
      </div>
      <div class="modal-body">
        {{#if(AuthData.State)}}
        <p>Na email <strong>{{{AuthData.email}}}</strong> vam je poslat PIN!</p>
        <Element-Input title="PIN" type="text" value={{AuthData.pin}} placeholder="unesite PIN da ga nastavite dalje..."></Element-Input>
        {{else}}
        <p>{{{Lng.Auth.Dialog.AuthInDesc}}}</p>
        <Element-Input id="AuthEmail" title="Email" type="text" value={{AuthData.email}} placeholder="unesite email da ga nastavite dalje..."></Element-Input>
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if(AuthData.State)}}
        <button class={{Lng.Auth.Button.Check.Class}} on-click="@this.fire('doAuth')">{{{Lng.Auth.Button.Check.Text}}}</button>
        {{else}}
        <button class={{Lng.Auth.Button.Check.Class}} on-click="@this.fire('doAuth')">{{{Lng.Auth.Button.Check.Text}}}</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div id="ShowJMBG" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">JMBG</h4>
      </div>
      <div class="modal-body">
        <div class="form-group form-material">
          <label class="control-label">JMBG</label>
          <input class="form-control control-lg empty font-weight-500" type="text" placeholder="" value="{{AuthData.JMBG}}">
        </div>
      </div>
      <div class="modal-footer">
        <button class="{{{Lng.Button.Cancel.Class}}}" data-dismiss="modal">{{{Lng.Button.Cancel.Text}}}</button>
        <button class="{{{Lng.Button.Save.Class}}}" on-click="@this.fire('doAuth', AuthData)">{{{Lng.Button.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvAuthStart = { Name: 'Buildin-Auth-Start',  Rows: 'Auths' };
      var SrvAuthCheck = { Name: 'Buildin-Auth-Check',  Rows: 'Checks' };
      var SrvAuth = {
        Name: 'Buildin-Auth',
        Rows: 'CacheData.Auths'
      };
      self.on('doRefresh', function (iParams) {
        self.sync.Sync(self, SrvAuth);
      });
      var fUser = {
          Auth: false,
          UID: undefined,
          Auths: {},
          Points: 0.00,
          Data: {
            guid: undefined,
            state: "",
            FirstName: "",
            FamilyName: "",
            Image: "",
            Sex: "",
            BirthDate: "",
            BirthPlace: "",
            Auths: {

            }
          }
        };

      self.set('User', fUser);
      self.on('doAuthSession', function () {
        var fUser = {
          Auth: true,
          UID:  Global.Session.UserUID,
          Data: Global.Session.UserData,
          Auths: Global.Session.UserData.Auths,
          Points: 0.1
        };
        self.set('User', fUser);

        var SrvUserVote = { Name: 'Vote-Check', Rows: "dammy" };
        var fUserVote = { vote: self.get('Vote'),  user: fUser };

        self.sync.Sync(self, SrvUserVote, undefined, fUserVote, function(oSelf, oService, oData){
          self.set('VoteState', oData.State);
        });
      });
      self.on('doAuthShow', function (iAuth) {
        self.set('AuthActive', iAuth);
        self.set('AuthData', {});
        $('#Show' + iAuth.Type).modal('show');

        switch(iAuth.Type.toLowerCase().trim()){
          case "google":
          break;
          case "email":
          $("#AuthEmail").focus();
          break;
        }
      });
      self.on('doAuth', function (iRow) {
        var fActiveAuth = self.get('AuthActive');
        var fUser = self.get('User');
        var fData = iRow||self.get('AuthData')||{};
        var fStatus = false;

        switch(fActiveAuth.Type.toLowerCase().trim()){
          case "google":
              if( GlobalGoogleProfile.Id ){
                fStatus = true;
                fData = GlobalGoogleProfile;
              }
          break;
          case "email":

          if(fData&&!fData.email){
            $("#AuthEmail").focus();
            return ;
          }

          if(fData.State){
            self.sync.Sync(self, SrvAuthCheck, "default", fData, function(oSelf, oService, oData){
              if(self.isEcho()) console.log('doAuthCheck', oData);
              if(oData.status){
                var fUser = self.get('User');
                var fVote = self.get('Vote');

                fUser.Auth = oData.Session.UserAuth;
                fUser.UID = oData.Session.UserUID;
                fUser.Data = oData.Session.UserData;
                fUser.Auths = oData.Session.UserData.Auths;
                fUser.Points = fVote.auth_list[fActiveAuth.Type].Points;

                self.set('User', fUser);
                $('#Show' + fActiveAuth.Type).modal('hide');
                var SrvUserVote = { Name: 'Vote-Check', Rows: "dammy" };
                var fUserVote = { vote: self.get('Vote'),  user: fUser };

                self.sync.Sync(self, SrvUserVote, undefined, fUserVote, function(oSelf, oService, oData){
                  self.set('VoteState', oData.State);
                });
              }
            });

          }else{
            fData.pin = "";
            fData.checkpin = "";
            fData.State = true;
            if(Global.Behavior.echoTest){
              fData.checkpin = Client.getPin();
              fData.pin = fData.checkpin;
            }
            self.set('AuthData', fData);
            self.sync.Sync(self, SrvAuthStart, "default", fData, function(oSelf, oService, oData){
              if(self.isEcho()) console.log('AuthStart', oData);
              if(oData.status){
                var fUser = oData.Session;
/*                 fUser.UserEmail = fRow.email;
                fRow.emailNext = true;
                self.set('Auth', fRow); */
              }
            });
          }
          break;
          case "jmbg":
              if((iRow.JMBG)&&(fJMBGData = Client.authJMBG(iRow.JMBG))&&(fJMBGData.Status) ){
                fStatus = true;
                fData = fJMBGData;
              }
          break;
        }

        /* if(fStatus){
          var fSrvAuthCheck = { Name: 'Buildin-AuthCheck', Row: { Auth: fActiveAuth, User: fUser, Data: fData } };
          self.sync.Sync(self, fSrvAuthCheck, undefined, undefined, function(oComp, oService, oData){
            console.log("Auth", oComp, oService, oData);
            if(oData&&oData.Status){
              //self.set('User', oData.User);
              $('#Show' + fActiveAuth.Type).modal('hide');
            }
          });
        } */
      });
    },
    data: function () {
      return {
        CacheData: {
          Auths: {}
        },
        State: "init",
        VoteState: "",
        Vote: {},
        User: {},
        Auths: {},
        AuthData: {},
        AuthActive: {},
        formatPrc: function(iRow){
          return parseInt(iRow.Points*100);
        },
        Lng: SiteLng
      }
    }
  }
</script>