<div style="width:100%; {{style}}  max-height1: 200px;" class="{{class}}">
	<canvas id="{{id}}"  width="{{width}}" height="{{height}}"></canvas>
</div>
<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
    var randomScalingFactor = function() {
      return Math.round(Math.random() * 100);
    };
	component.exports = {
		onrender: function ( options ) {
            var self = this;
			var fId = Client.getShort(8);
			self.set('id', fId);
            var chart1;

            var drawChart = function(){

                if(!chart1){
                    var fMeta = Client.getClone(self.get('meta'));
                    if(fMeta){
                        fMeta = JSON.parse(fMeta);
                    }else{
                        var fType = self.get('type');
                        if(fType&&self.get('Charts')[fType]){
                            fMeta = self.get('Charts')[fType];
                        }else{
                            fMeta = self.get('DefChart');
                            fMeta.type = (self.get('type')? self.get('type'):'pie');
                        }
                    }
                
                    var fGraph = fMeta;

                    if(fElId = self.nodes[fId]){
                        chart1 = new chart(fElId, fMeta);
                    }
                }

                var fValue = Client.getClone(self.get('value'));
                if(!fValue) return;

                if(chart1&&fValue.labels) chart1.data.labels = fValue.labels;
                if(chart1&&fValue.datasets) chart1.data.datasets = fValue.datasets;

                try{
                    if(chart1){
                        chart1.update();
                    }
                }catch(err){
                    chart1=undefined;
                    console.log('Error Chart', err);
                }
            }

            drawChart();
			self.observe('value', function(n,o){
                drawChart();
			}, {init:false});
		},
		data:function() {
			return {
                id:"canvasI1",
                row:{}
                , width:300
                , height:150
                , class:""
                , style:""
                , DefChart: {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: [],
                            backgroundColor:[],
                            label: ''
                        }],
                        labels: []
                    },
                    options: {
                        responsive: true,
                        legend: {
                                display: false, position: "bottom"
                            }
                    }
                },
                Charts: {
                    barstack: {
                            type: 'bar',
                            data: undefined,
                            options: {
                                title: {
                                    display: false,
                                    text: ''
                                },
                                tooltips: {
                                    mode: 'index',
                                    intersect: false
                                },
                                responsive: true,
                                scales: {
                                    xAxes: [{
                                        stacked: true,
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                }
                            }
                        }
                } 
                , value:undefined
                , valuee: {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: [
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                            ],
                            backgroundColor: [
                                window.chartColors.red,
                                window.chartColors.orange,
                                window.chartColors.yellow,
                                window.chartColors.green,
                                window.chartColors.blue,
                            ],
                            label: 'Dataset 1'
                        }],
                        labels: [
                            "Red",
                            "Orange",
                            "Yellow",
                            "Green",
                            "Blue"
                        ]
                    },
                    options: {
                        responsive: true
                    }
                }
			}
		}
	}
</script>