<div class="">
  <div class="pull-right">
    <button class="btn btn-xs btn-default" on-click="@this.fire('doFilter')"><i class="fa fa-filter"></i></button>
  </div>
  <h5 class="text-uppercase" style="color: #b3b3b3;"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;Diskusija</h5>
</div>
{{#if(format.Count(CacheData.Msgs)==0)}}
<div class="alert alert-info">{{{Lng.Disc.Msg.ChatEmpty}}}</div>
{{/if}}
{{#CacheData.Msgs:i}}
<div class="dd-msg">
  <i class="fa fa-user-circle" style="color: #{{format.Color(.session.UserUID)}}"></i>&nbsp;
  <div class="pull-right float-right">
    <button class="btn btn-xs btn-outline-success btn-pure" on-click="@this.fire('doUpMsg', ., Disc)"><i class="fa fa-thumbs{{#if(Votes[.guid]=='up')}}{{else}}-o{{/if}}-up text-success" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge up">{{#if(.vote_up)}}{{{.vote_up}}}{{/if}}</span></button>
    <button class="btn btn-xs btn-outline-danger btn-pure" on-click="@this.fire('doDownMsg', ., Disc)"><i class="fa fa-thumbs{{#if(Votes[.guid]=='down')}}{{else}}-o{{/if}}-down text-danger" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge up">{{#if(.vote_down)}}{{{.vote_down}}}{{/if}}</span></button>
    {{#if(canDelete(.))}}
    <button class="btn btn-xs btn-default btn-pure" on-click="@this.fire('doDeleteShow', ., Disc)"><i class="fa fa-trash text-danger"></i></button>
    {{else}}
    <button class="btn btn-xs btn-default btn-pure" on-click="@this.fire('doReplyShow', ., Disc)"><i class="fa fa-reply"></i></button>
    {{/if}}
  </div>
  <span style="color: #{{format.Color(.session.UserUID)}}" on-click="@this.fire('doPropShow', ., Disc)">{{{.session.UserName}}}</span>:&nbsp;<span on-click="@this.fire('doPropShow', ., Disc)">{{{.title}}}</span>
  &nbsp;&nbsp;<small>-{{{format.Ago(.date, '', DateAgoTick)}}}</small>
</div>
{{/}}
{{#if(isLog(row))}}
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-user-circle" style="color: #{{format.Color(session.UserName)}}"></i></span> 
  <input class="form-control" id="MsgStr" type="text" placeholder="Unesite poruku..." value={{DiscMsg.title}}> 
  <span class="input-group-btn">
    <button class="{{Lng.Disc.Button.SendSM.Class}} {{#if(DiscMsg.title)}}btn-success{{else}}btn-disabled{{/if}}" on-click="@this.fire('doSend', DiscMsg, Disc)">{{{Lng.Disc.Button.SendSM.Text}}}</button>
  </span>
</div>
{{else}}
<a href="/auth" class="{{Lng.Button.AuthLink.Class}}">{{{Lng.Button.AuthLink.Text}}}</a>
{{/if}}
<div id="DeleteShow" class="modal fade modal-danger in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{{Lng.Dialog.Delete.Text}}}</h4>
      </div>
      <div class="modal-body">
        <h4>{{{MsgItem.title}}}</h4>
        <span style="color: #{{format.Color(MsgItem.session.UserName)}}">{{{MsgItem.session.UserName}}}</span>
        &nbsp;&nbsp;<small>-{{{format.Ago(MsgItem.date)}}}</small>
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{Lng.Dialog.Delete.Class}}" on-click="@this.fire('doDeleteMsg', MsgItem, Disc)">{{{Lng.Dialog.Delete.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<div id="PropShow" class="modal fade modal-danger in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{{Lng.Dialog.Delete.Text}}}</h4>
      </div>
      <div class="modal-body">
        <h4>{{{MsgItem.title}}}</h4>
        <span style="color: #{{format.Color(MsgItem.session.UserName)}}">{{{MsgItem.session.UserName}}}</span>
        &nbsp;&nbsp;<small>-{{{format.Ago(MsgItem.date)}}}</small>
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvMsg = { 
        Name: 'Disc-Msg', 
        Rows: 'CacheData.Msgs', 
        DetailRow: 'DiscMsg'
      };
      var SrvVote = { 
        Name: 'Disc-Vote', 
        Rows: 'Votes'
      };
      var fUser = Global.Session;
      self.set('User', Global.Session);
      if(!Global.Display.Callbacks){
        Global.Display.Callbacks = {};
      }
      if(!Global.Display.Callbacks.Events){
        Global.Display.Callbacks.Events = {};
      }
      Global.Display.Callbacks.Events['Chat'] = this;

      $( "#MsgStr" ).keypress(function( event ) {
        if ( event.which == 13 ) {
          event.preventDefault();
          self.fire('doSend', self.get('DiscMsg'), self.get('Disc'));
        } 
      });


      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        if(self.isEcho()) console.log('doEvent1111111111111111111111111111111111111111111111', iMessage, iData, iFrom, iTo);
        switch (iMessage) {
          case "Disc.MsgNew":
          case "Disc.MsgSave":
          case "Disc.MsgDelete":
            if(iData.pguid){
              self.sync.Sync(self, SrvMsg, undefined, { pguid: iData.pguid });
            }
          break;
        }
      });
      self.on('doSend', function (iMsg, iRow) {
        if(iMsg.title&&iMsg.title.trim()){
          var fMsg = self.sync.NewRow();
          fMsg.pguid = iRow.guid;
          fMsg.date = new Date();
          fMsg.title = iMsg.title;
          fMsg.session = Global.Session;
          self.set('MsgSending', true);
          self.sync.Sync(self, SrvMsg, 'new', fMsg, function(oSelf, oService, oData){
            //self.sync.SyncResult(self, oService, oData);
            self.set('MsgSending', false);
            self.set('DiscMsg.title', '');
            $("#MsgStr").focus();
          });
        }else{
          toastr.warning("Unesite poruku");
          $("#MsgStr").focus();
        }
      });
      self.on('doUpMsg', function (iMsg, iRow) {
        var fVotes = self.get('Votes');
        if(fVotes[iMsg.guid]&&fVotes[iMsg.guid]=="up"){
          delete(fVotes[iMsg.guid]);
        }else{
          fVotes[iMsg.guid] = "up";
        }
        self.set('Votes', fVotes);
        self.sync.Sync(self, SrvMsg, 'up', iMsg);
      });
      self.on('doDownMsg', function (iMsg, iRow) {
        var fVotes = self.get('Votes');
        if(fVotes[iMsg.guid]&&fVotes[iMsg.guid]=="down"){
          delete(fVotes[iMsg.guid]);
        }else{
          fVotes[iMsg.guid] = "down";
        }
        self.set('Votes', fVotes);
        self.sync.Sync(self, SrvMsg, 'down', iMsg);
      });
      self.on('doPropShow', function (iMsg, iRow) {
        self.set('MsgItem', iMsg);
        $("#PropShow").modal('show');
      });
      self.on('doDeleteShow', function (iMsg, iRow) {
        self.set('MsgItem', iMsg);
        $("#DeleteShow").modal('show');
      });      
      self.on('doDeleteMsg', function (iMsg, iRow) {
        var fMsg = iMsg;
        fMsg.session = Global.Session;
        self.set('MsgSending', true);
        self.sync.Sync(self, SrvMsg, 'delete', fMsg, function(oSelf, oService, oData){
          self.sync.SyncResult(self, oService, oData);
          $("#DeleteShow").modal('hide');
          self.set('MsgSending', false);
        });
      });
      self.observe('row', function(n,o){
        if(n&&n.guid){
          self.sync.Sync(self, SrvMsg, undefined, { pguid: n.guid });
          self.sync.Sync(self, SrvVote, undefined, { pguid: n.guid });
        }else{
          self.set(SrvMsg.Rows, []);
          self.set('Votes', {});
        }
      });
      setInterval(function(){
        self.add('DateAgoTick');
      }, 20000);
    },
    data: function () {
      return {
        row: {},
        User: {},
        Lng: SiteLng,
        MsgSending: false,
        DateAgoTick: 1,
        Votes: {},
        DiscMsg: {
          title: ""
        },
        canWrite: function(iRow){
          return (iLogin);
        },
        canDelete: function(iRow){
          if(iRow&&iRow.session&&Global&&Global.Session&&Global.Session.UserUID==iRow.session.UserUID){
            return true;
          }
          if(Global&&Global.Session&&Global.Session.UserUID==this.get('row.session.UserUID')){
            return true;
          }
          if((fModerators=this.get('row.moderators'))&&-1<fModerators.indexOf(Global.Session.UserEmail)){
            return true;
          }
          return false;
        },
        isLog: function(iLogin){
          return (Global&&Global.Session&&Global.Session.UserAuth)||iLogin.anonimus;
        }
      }
    }
  }
</script>