{{#if(format.isAdmin())}}
  {{>content}}
  {{#if(isAction("doAdd"))}}
  <a href="javascript:void(0)" class="btn btn-sm btn-primary dd-action" on-click="@this.fire('setAction', 'doAdd')"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</a>
  {{/if}}
  {{#if(isAction("doResetShow")&&format.hasView(kind))}}
  <a href="javascript:void(0)" class="btn btn-sm btn-danger dd-action" on-click="@this.fire('setAction', 'doResetShow')"><i class="fa fa-trash" aria-hidden="true"></i> Resetuj</a>
  {{/if}}
  {{#if(isAction("doDialog"))}}
  <div class="text-left">
    {{#if(row.rev)}}
    <small><i class="fa fa-user-circle" style="color: #{{format.Color(row.session.UserUID)}};"></i>&nbsp;{{{formatUser(row)}}}&nbsp;&nbsp;{{{format.Ago(row.date)}}}&nbsp;rev <span class="badge">{{{row.rev}}}</span></small>
    {{else}}
    <small><i class="fa fa-user-circle" style="color: #{{format.Color(row.session.UserUID)}};"></i>&nbsp;{{{formatUser(row)}}}&nbsp;&nbsp;{{{Lng.Dialog.NewRow}}}</small>
    {{/if}}
  </div>
  {{#if(canChange(row))}}
    {{#if(row.rev)}}
    {{#if(delShow)}}
    <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal" on-click="@this.fire('setClose')">{{{Lng.Dialog.Cancel.Text}}}</button>
    <button class="{{Lng.Dialog.Delete.Class}}"  on-click="@this.fire('setAction', 'doDelete')">{{{Lng.Dialog.Delete.Text}}}</button>
    {{else}}
    <button class="{{Lng.Dialog.DeleteShow.Class}}"  on-click="@this.fire('doDelShow')">{{{Lng.Dialog.DeleteShow.Text}}}</button>
    <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal" on-click="@this.fire('setClose')">{{{Lng.Dialog.Cancel.Text}}}</button>
    <button class="{{Lng.Dialog.Save.Class}}"  on-click="@this.fire('setAction', 'doSave')">{{{Lng.Dialog.Save.Text}}}</button>
    {{/if}}
    {{else}}
    <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal" on-click="@this.fire('setClose')">{{{Lng.Dialog.Cancel.Text}}}</button>
    <button class="{{Lng.Dialog.Save.Class}}"  on-click="@this.fire('setAction', 'doSave')">{{{Lng.Dialog.Save.Text}}}</button>
    {{/if}}
    {{else}}
    <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
    {{/if}}
  {{/if}}
{{else}}
  <a href="/auth" class="{{Lng.Button.AuthLink.Class}}">{{{Lng.Button.AuthLink.Text}}}</a> 
{{/if}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var fUser = Global.Session;
      self.set('delShow', false);
      self.set('User', Global.Session);
      self.on('setAction', function (iAction) {
        self.set('doAction', '');
        self.set('doAction', iAction);
        self.set('delShow', false);
      });
      self.on('doDelShow', function () {
        self.set('delShow', true);
      });
      self.on('setClose', function () {
        self.set('delShow', false);
      });
      self.observe('row', function (n,o) {
        self.set('delShow', false);
      });
    },
    data: function () {
      return {
        row: {},
        User: {},
        kind: "",
        Action: "",
        doAction: "",
        delShow: false,
        Lng: SiteLng,
        canChange: function(iRow){
          if(Global&&Global.Session&&Global.Session.UserUID&&(iRow.rev==0)){
            return true;
          }
          if(Global&&Global.Session&&iRow&&iRow.session&&(Global.Session.UserUID==iRow.session.UserUID)){
            return true;
          }
          if(Global&&Global.Session&&Global.Session.UserAdmin&&this.get('kind')&&(Global.Session.UserAdmin[this.get('kind').toLocaleLowerCase()])){
            return true;
          }
          return false;
        },
        formatUser: function(iValue){
          return (iValue&&iValue.session&&iValue.session.UserName)? iValue.session.UserName:"Anonimus";
        },
        isAction: function(iValue){
              return (iValue&&this.get('Action').toLocaleLowerCase().indexOf(iValue.toLocaleLowerCase())!=-1);
            }
      }
    }
  }
</script>