{{#if(ShowDiv)}}
<div class="{{Lng.Page.RightBS}}">
  <div style="text-align: right; border-right: 3px solid {{formatColor(Title, row)}}; padding-right: 8px; padding-top: 3px;padding-bottom: 3px;">
    <span style="color: darkgrey; font-size: smaller; text-transform: uppercase !important;">{{{formatTitle(Title, row)}}}</span>&nbsp;
    <button class="btn btn-default btn-xs pull-right"  on-click="@this.fire('doInfo')">i</button>
    <br>
    <strong style="font-size: large; margin-top: 5px; margin-bottom: 5px;">{{{row.title}}}</strong>
    <br>
    {{#row}}
    {{>content}}
    {{/}}
    <p style="font-size: small; font-style: italic; margin-top: 8px;">{{{row.description}}}</p>
    <small><i class="fa fa-user-circle" style="color: #{{format.Color(row.session.UserUID)}};"></i>&nbsp;{{{formatUser(row)}}}&nbsp;&nbsp;{{{format.Ago(row.date)}}}&nbsp;rev <span class="badge">{{{row.rev}}}</span></small>
    <br><br>
    <div>
      {{#if(isAction('doDisc')||isAction('disc'))}}
      <Element-Discusion1 Row={{row}} kind={{kind}}></Element-Discusion1>
      {{/if}}
      {{#if(session.UserAuth)}}
        {{#if(isAction('doWent')||isAction('went'))}}
        <button class="{{Lng.Dialog.Went.Class}}" on-click="@this.fire('setAction', 'doWent')">{{{Lng.Dialog.Went.Text}}}</button>
        {{/if}}
        {{#if(isAction('doEdit')||isAction('edit'))}}
        <button class="{{Lng.Dialog.Edit.Class}}" on-click="@this.fire('setAction', 'doEdit')">{{{Lng.Dialog.Edit.Text}}}</button>
        {{/if}}
        {{#if(row.deleted)}}
        <button class="{{Lng.Dialog.Restore.Class}}" on-click="@this.fire('setAction', 'doRestore')">{{{Lng.Dialog.Restore.Text}}}</button>
        {{/if}}
        {{#if(isAction('doLogout'))}}
        <button class="{{Lng.Button.Logout.Class}}" on-click="@this.fire('setAction', 'doUserLogout')">{{{Lng.Button.Logout.Text}}}</button>
        {{/if}}
      {{else}}
      <a href="/auth" class="{{Lng.Button.AuthLink.Class}}">{{{Lng.Button.AuthLink.Text}}}</a>
      {{/if}}
    </div>
  </div>
</div>
{{else}}
<div class="panel panel-primary panel-transparent">
  <div class="panel-heading">
    <h3 class="panel-title">{{{row.title}}}</h3>
  </div>
  <div class="panel-body">
    <br>
    <p>{{{row.description}}}&nbsp;</p>
    {{#row}}
    {{>content}}
    {{/}}
    <br><br>
    <small><i class="fa fa-user-circle" style="color: #{{format.Color(row.session.UserUID)}};"></i>&nbsp;{{{formatUser(row)}}}&nbsp;&nbsp;{{{format.Ago(row.date)}}}&nbsp;rev <span class="badge">{{{row.rev}}}</span></small>
  </div>
  <div class="panel-footer">
    {{#if(isAction('doDisc')||isAction('disc'))}}
    <Element-Discusion1 Row={{row}} kind={{kind}}></Element-Discusion1>
    {{/if}}
    {{#if(session.UserAuth)}}
      {{#if(isAction('doWent')||isAction('went'))}}
      <button class="{{Lng.Dialog.Went.Class}}" on-click="@this.fire('setAction', 'doWent')">{{{Lng.Dialog.Went.Text}}}</button>
      {{/if}}
      {{#if(isAction('doEdit')||isAction('edit'))}}
      <button class="{{Lng.Dialog.Edit.Class}}" on-click="@this.fire('setAction', 'doEdit')">{{{Lng.Dialog.Edit.Text}}}</button>
      {{/if}}
      {{#if(row.deleted)}}
      <button class="{{Lng.Dialog.Restore.Class}}" on-click="@this.fire('setAction', 'doRestore')">{{{Lng.Dialog.Restore.Text}}}</button>
      {{/if}}
      {{#if(isAction('doLogout'))}}
      <button class="{{Lng.Button.Logout.Class}}" on-click="@this.fire('setAction', 'doUserLogout')">{{{Lng.Button.Logout.Text}}}</button>
      {{/if}}
    {{else}}
    <a href="/auth" class="{{Lng.Button.AuthLink.Class}}">{{{Lng.Button.AuthLink.Text}}}</a>
    {{/if}}
  </div>
</div>
{{/if}}
{{#if(row)}}
<div id="HeadRowShow" class="modal fade modal-default in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">Info</h4>
        <small><i class="fa fa-hashtag"></i>&nbsp;{{row.guid}}</small>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          {{#if(row.title)}}
          <dt>Naziv</dt><dd><b>{{{row.title}}}</b>&nbsp;</dd>
          {{/if}}
          {{#getRow(row):i}}
          <dt>{{{.Name}}}</dt><dd><span class=" text-break">{{{.Value}}}</span></dd>
          {{/}}
          {{#if(row.description)}}
          <dt>...</dt><dd>{{{row.description}}}&nbsp;</dd>
          {{/if}}
        </dl>
        <br>
        <small><i class="fa fa-user-circle" style="color: #{{format.Color(row.session.UserUID)}};"></i>&nbsp;{{{formatUser(row)}}}&nbsp;&nbsp;{{{format.Ago(row.date)}}}&nbsp;rev <span class="badge">{{{row.rev}}}</span></small>  
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.CancelSB.Class}}" data-dismiss="modal">{{{Lng.Dialog.CancelSB.Text}}}</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<script>
  component.exports ={
    onrender: function ( options ) {
      var self = this;
      self.on('setAction', function (iAction) {
        self.set('doAction', '');
        self.set('doAction', iAction);
      });
      self.on('doInfo', function () {
        if(self.get('row')){
          $('#HeadRowShow').modal('show');
        }
      });
    },
    data: function() { 
      return { 
        row: {},
        kind: "",
        Action: "",
        doAction: "",
        ShowDiv: true,
        isAction: function(iValue){
          return (iValue&&this.get('Action').toLocaleLowerCase().indexOf(iValue.toLocaleLowerCase())!=-1);
        },
        formatUser: function(iValue){
          return (iValue&&iValue.session&&iValue.session.UserName)? iValue.session.UserName:"Anonimus";
        },
        formatTitle: function(iTitle, iRow){
          if(iTitle){
            if(SiteLng&&SiteLng[iTitle]&&SiteLng[iTitle].Title){
              fTitle = SiteLng[iTitle].Title;
            }
            return iTitle;
          }else{
            if(row&&row.title){
              return row.title;
            }
            if(row&&row.Title){
              return row.Title;
            }
          }

          return ".";
        },
        formatColor: function(iTitle, iRow){
          var fTitle = "";

          if(iTitle){
            fTitle = iTitle;
            if(SiteLng&&SiteLng[fTitle]&&SiteLng[fTitle].Color){
              return SiteLng[fTitle].Color;
            }
          }else{
            fTitle = (row.title)? row.title:"XXXX";
          }

          return '#'+Format.formatColor(fTitle);
        },
        Title: "",
        Lng: SiteLng
      }
    }
  }
</script>