{{#if type=='section'}}
<div class="row">
	<div class="pull-right" >
		<button class="btn btn-pure btn-default waves-effect waves-circle waves-classic" on-click="@this.fire('sectionToggle')">
			{{#if(collapse)}}
			<i class="icon md-caret-down-circle" aria-hidden="true"></i>
			{{else}}
			<i class="icon md-caret-up-circle" aria-hidden="true"></i>
			{{/if}}
		</button>
	</div>
	{{#if(showTitle)}}
	<h4 on-click="@this.fire('sectionToggle')">&nbsp;&nbsp;{{#if(icon)}}<i class="fa fa-{{{icon}}}"></i>&nbsp;{{/if}}{{{title}}}</h4>
	{{/if}}
</div>
{{#value}}
{{>content}}
{{/}}
{{/if}}
{{#if type=='code'}}
<div class="row">
	<div class="col-xs-6">
		<i class="fa fa-circle" style="color:{{color}}"></i>&nbsp;
		<span class="text-uppercase">{{value}}</span>&nbsp;
		<button class="btn btn-pure btn-default icon md-more-vert waves-effect waves-classic" type="button"></button>
	</div>
</div>
{{/if}}
{{#if type=='text'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}} {{#if(notvalid)}}has-danger{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<input id="{{id}}" type="text" class="form-control empty {{class}}" value="{{value}}" placeholder="{{{placeholder}}}">
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='email'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}} {{#if(notvalid)}}has-danger{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<input id="{{id}}" type="email" class="form-control empty {{class}}" value="{{value}}" placeholder="{{{placeholder}}}">
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='pin'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}} {{#if(notvalid)}}has-danger{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<input id="{{id}}" type="text" class="form-control empty {{class}}" value="{{value}}" placeholder="{{{placeholder}}}">
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='number'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<input id="{{id}}" type="{{type}}" value="{{value}}" style="text-align: right;" class="mynumber {{class}}" placeholder="{{{placeholder}}}" data-mask="">
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='date'}}
<div class="form-group form-material {{#if(notvalid)}}has-error{{/if}} {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<input type="{{type}}" style="text-align: right; {{style}}" class="form-control" value="{{value}}" placeholder="{{{placeholder}}}">
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='time'}}
<div class="form-group form-material {{#if(notvalid)}}has-error{{/if}} {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<input type="{{type}}" style="text-align: right; {{style}}" class="form-control" value="{{value}}" placeholder="{{{placeholder}}}">
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='memo'}}
<div class="form-group form-material {{#if(notvalid)}}has-error{{/if}} {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<textarea rows="{{rows}}" value="{{value}}" style="{{style}}" class="form-control {{class}}" placeholder="{{{placeholder}}}"></textarea> 
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='file'}}
<div class="form-group form-material {{#if(notvalid)}}has-error{{/if}} {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<input type="{{type}}" class="form-control {{class}}" value="{{value}}" placeholder="{{{placeholder}}}">
</div>
{{/if}}
{{#if type=='checkbox'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}
		<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>
	{{/if}}
	<br>
	<input type="checkbox" class="custom-control-input {{class}}" checked="{{checked}}">
</div>
{{/if}}
{{#if type=='checkbox-old'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}}">
	<div class="checkbox checkbox-custom checkbox-default">
		<input type="checkbox" checked="{{checked}}">
		{{#if(showTitle)}}
			<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>
		{{/if}}
	</div>
</div>
{{/if}}
{{#if type=='toggle'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}}">
	<div class="custom-control custom-switch">
		<input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
		<label class="custom-control-label" for="customSwitch1">{{{title}}}</label>
	</div>
</div>
{{/if}}
{{#if type=='label'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<strong>{{value}}</strong>
</div>
{{/if}}
{{#if type=='version'}}
<div class="row">
	<div class="col-xs-1">
		<a class="avatar avatar-48" href="javascript:void(0)">
			<img src="{{format.SrcUser(value.ChangeProfilePicture, value.ChangeFullName)}}" alt="">
		</a> 
	</div>
	<div class="col-xs-10">
		<div class="text-left margin1-left-48">
			<div class="font-size-14 text-truncate grey-600"><strong>{{value.ChangeFullName}}</strong></div> 
			<div class="font-size-12 text-truncate grey-600">
				<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{format.Ago(value.ChangeDate)}}
				&nbsp;revision&nbsp;{{value.ChangeRevisionId}}
			</div>
		</div>
	</div>
</div>
{{/if}}
{{#if type=='area'}}
<div class="form-group form-material {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<textarea class="form-control" rows="{{rows}}" value="{{value}}" placeholder="{{{placeholder}}}" {{#if(disabled)}}disabled{{/if}}></textarea>
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='image'}}
<div class="form-group form-material">
	{{#if(showTitle)}}
		<label class="control-label">{{{title}}}</label>
	{{/if}}
</div>
<div class="int-image">
		<img class="image img img-responsive {{class}}" src="{{#if(value)}}{{value}}{{else}}/res/img/default-thumbnail.jpg{{/if}}">
		<div class="middle">
			<input type="text" value="{{value}}" class="form-control" placeholder="{{{placeholder}}}" >
			<button class="btn btn-xs btn-default waves-effect waves-classic" type="button" data-toggle="modal" data-target="#ImageShow">change</button>
			<button class="btn btn-xs btn-default waves-effect waves-classic" type="button">upload</button>
		</div>
	</div>	
<style>
		.image {
			opacity: 1;
			display: block;
			width: 100%;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;
		}
		
		.middle {
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 40%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%)
		}
		
		.int-image:hover .image {
			opacity: 0.3;
		}
		
		.int-image:hover .middle {
			opacity: 1;
		}
</style>
{{/if}}
{{#if type=='imagelink'}}
<div class="form-group form-material">
	{{#if(showTitle)}}
		<label class="control-label">{{{title}}}</label>
	{{/if}}
</div>
<div class="form-group form-material">
	<img class="image img img-responsive {{class}}" src="{{#if(value)}}{{value}}{{else}}/res/img/default-thumbnail.jpg{{/if}}">
	<input type="text" value="{{value}}" class="form-control" placeholder="{{{placeholder}}}" >
</div>
{{/if}}
{{#if type=='color'}}
<div class="form-group form-material">
	{{#if(showTitle)}}
		<label class="control-label">{{{title}}}</label>
	{{/if}}
	<input type="color" value="{{value}}" class="form-control" placeholder="{{{placeholder}}}" >
</div>
{{/if}}
{{#if type=='select'}}
<div class="form-group form-material {{#if(notvalid)}}has-error{{/if}} {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="control-label">{{{title}}}</label>{{/if}}
	<select value="{{value}}" class="form-control" placeholder="{{{placeholder}}}">
		{{>content}}
		{{#rows:i}}
			<option value="{{rows[i][valuef]}}">{{{rows[i][labelf]}}}</option>
		{{/rows}}
	</select>
	{{#if(notvalid)}}<small class="text-danger">Unesite ispravne podatke</small>{{/if}}
</div>
{{/if}}
{{#if type=='selectize'}}
<div class="form-group form-material {{#if(notvalid)}}has-error{{/if}} {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}</label>{{/if}}
	<select id="{{id}}" value="{{selected}}" class="form-control" placeholder="{{{placeholder}}}" multiple>
		{{>content}}
		{{#rows:i}}
			<option value="{{rows[i][valuef]}}">{{{rows[i][labelf]}}}</option>
		{{/rows}}
	</select>
</div>
{{/if}}
{{#if type=='emails'}}
<div class="form-group form-material {{#if(notvalid)}}has-error{{/if}} {{#if(floating)}}floating{{/if}}">
	{{#if(showTitle)}}<label class="{{#if(floating)}}floating-label{{else}}control-label{{/if}}">{{{title}}}&nbsp;<span class="badge">{{{selemails.length}}}</span> </label>{{/if}}
	<select id="{{id}}" value="{{selemails}}" class="form-control" placeholder="{{{placeholder}}}" multiple>
	</select>
</div>
{{/if}}
<script>
	component.exports ={
  	onrender: function ( options ) {
      var self = this;
			var fId = Client.getShort(8);
			if(!self.get('id')){
				self.set('id', fId);
			}else{
				fId = self.get('id');
			}

			if(meta = self.get('meta')){
				if(meta.Type) self.set('type', meta.Type.toLowerCase());
				if(meta.Caption) self.set('title', meta.Caption);
				if(meta.Text) self.set('title', meta.Text);
				if(meta.Placeholder) self.set('placeholder', meta.Placeholder);
				if(meta.RegEx) self.set('regex', meta.RegEx);
				if(meta.RowsValue) self.set('valuef', meta.RowsValue);
				if(meta.RowsCation) self.set('labelf', meta.RowsCation);
				if(meta.Rows) self.set('rows', meta.Rows);
				if(meta.Class) self.set('class', meta.Class);
			}

			if(self.get('type')=='')  self.set('type', 'text');
			self.set('type', self.get('type').toLowerCase());
			self.set('showTitle', (self.get('title')!=''));
			var fSelectize;

			switch(self.get('type').toLowerCase())
			{
				case 'text':
					//self.set('class', 'form-control');
				break;
				case 'number':
					self.set('class', 'form-control');
					//$(".mynumber").mask("0.99");
				break;
				case 'checkbox':
					//self.set('class', '');
					//self.set('class', 'form-control');
				break;
				case 'area':
					if(!self.get('rows')) self.set('rows', '4');
					//self.set('class', 'form-control');
				break;
				case 'memo':
					if(!self.get('rows')) self.set('rows', '4');
					//self.set('class', 'form-control');
				break;
				case 'image':
					$('.dropify').dropify({
								messages: {
										'default': 'Drag and drop a file here or click',
										'replace': 'Drag and drop or click to replace',
										'remove':  'Remove',
										'error':   'Ooops, something wrong happended.'
								}
						});
				break;
				case 'selectize':
						 fSelectize = $('#'+fId).selectize({
								//options: self.get('rows'),
								placeholder:self.get('placeholder'),
								labelField: self.get('labelf'), 
								valueField: self.get('valuef'),
								searchField: [self.get('labelf')],
								onChange: function(value) {
      						self.set('value', value);
    						},
								onDropdownOpen: function() { 
									//delete btn android bug https://github.com/selectize/selectize.js/issues/113
									var userAgent = navigator.userAgent.toLowerCase();
									var isAndroid = userAgent.indexOf("android") > -1;
									if (isAndroid) {
										this.clear(); // 'this' refers to selectize object
									}
								}
							});
							//console.log('rows', self.get('rows'));
					break;
				case 'select':
						var fRows = self.get('rows');
						//var fRowsValue = self.get('valuef');
						//var fRowsCaption = self.get('labelf');
						break;
				case 'code':
/* 				var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript"); */
					break;
					case 'emails':

						var fRows = (fValue = self.get('value'))? fValue:[];
						if(typeof(fRows)=="string"){
							fRows = fRows.split(',');
						} 
						var items = fRows.map(function(x) { return { Email: x }; });
						fSelectize = $('#'+fId).selectize({
							options: items,
							placeholder: self.get('placeholder'),
							labelField: 'Email', 
							valueField: 'Email',
							searchField: ['Email'],
							onChange: function(value) {
								self.set('value', value);
								console.log('value', value);
							},
							onDropdownOpen: function() { 
								/* var userAgent = navigator.userAgent.toLowerCase();
								var isAndroid = userAgent.indexOf("android") > -1;
								if (isAndroid) {
									this.clear(); // 'this' refers to selectize object
								} */
							},
							createFilter: function(input) {
									var match, regex;
									var REGEX = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
									regex = new RegExp(REGEX, 'i');
									match = input.match(regex);
									if (match) {
									console.log(match[0]);
											return !this.options.hasOwnProperty(match[0]);
									}

									return false;
							},
							create: true
						});
					break;
			}
			self.on('ImageShow' , function(){

			});
      self.observe('value', function(n,o,k){
        if (typeof n!=="undefined")
        {
					switch(self.get('type').toLowerCase())
					{
						case 'date1':
								if(self.get('value').indexOf("-")==4)
								{
									var fvalue = self.get('value');
									var newvalue = fvalue.substring(8, 10)+'.'+fvalue.substring(5, 7)+'.'+fvalue.substring(0, 4);
									self.set('value', newvalue);
								}
							break;
						case 'checkbox1':
								var fchecked=false;
								var fvalue = self.get('value');

								if((fvalue=='1')||(fvalue='true')) fchecked=true;

								self.set('checked', fchecked);
							break;
					}

					if(1==0){

					}
        }
			});
      self.observe('meta.ValidFaild', function(n,o){
        if (typeof(n)!=="undefined"){
					self.set('notvalid', (n));
        }
			});
			self.on('sectionToggle', function(){
				var fCollapse = self.get('collapse');

				if(fCollapse){
					fCollapse='';
				}else{
					fCollapse='style="display: none;"';
				}

				self.set('collapse', fCollapse);
			});
		},
		data:function() {
			return { 
				id:""
				, rows:null
				, row:null
				, valuef:''
				, labelf:''
				, groupf:''
				, placeholder:''
				, multiple:''
				, title:''
				, value:''
				, collapse:''
				, showTitle:true
				, floating:false
				, color:null
				, type:'text'
				, class: ''
				, style:''
				, meta:{}
				, metaShow:false
				, metaOut:{}
				, metaPath:""
				, disabled: false
				, notvalid: false
			}
		},
		computed: {
			checked:  {
						get: function () { 
								var fValue = false;

								if(this.get("value")===true){
									fValue = true;
								}else{
									fValue = ((this.get("value")=="1")||(this.get("value")=="true"));
								}

								return fValue;
							},
						set: function(v){
									this.set("value", (v?'1':'0') );
							}
			},
			selected:  {
						get: function () { 
									var fValue = this.get("value");
									
									if(typeof(fValue)!=="string") return [];

									return fValue.split();
						},
						set: function(v){
							this.set("value", v.join());
						}
			},
			selemails:  {
						get: function () { 
								return this.get("value");
								
								if(typeof(fValue)=="string") return fValue.split(',');
								if(typeof(fValue)=="array") return fValue;

								return [];
						},
						set: function(v){
							this.set("value", v);
						}
			}
		}
  }
</script>