{{#if type=='home'}}
<canvas id="chartCanvas1" style="width:100%; position:relative;">
</canvas>
<span>last change</span>&nbsp;
<span>{{Last.ChangeFullName}}</span>&nbsp;
<img class="img img-circle" style="width:16px;height:16px;" src="{{format.SrcUser(Last.ChangeProfilePicture, Last.ChangeFullName)}}" alt="{{Last.ChangeFullName}}">&nbsp;
<span><i class="fa fa-clock"></i>&nbsp;{{format.Ago(Last.ChangeDate)}}</span>
{{/if}}
<script>
	component.exports ={
  	onrender: function ( options ) {
      var self = this;
			var Chart = require('chartjs');
			var chart1;

			self.observe('value', function(n,o){
				if(n){
					if(self.isEcho()) console.log('Appling Data');
					//setTimeout(ApplyData, 1000);
					ApplyData();
				}
			});
			function ApplyData(){

				window.chartColors = {
					red: 'rgb(255, 99, 132)',
					orange: 'rgb(255, 159, 64)',
					yellow: 'rgb(255, 205, 86)',
					green: 'rgb(75, 192, 192)',
					blue: 'rgb(54, 162, 235)',
					purple: 'rgb(153, 102, 255)',
					grey: 'rgb(201, 203, 207)'
				};

				var randomScalingFactor = function() {
					return Math.round(Math.random() * 100);
				};

				var config = {
					type: 'doughnut',
					data: {
							datasets: [{
									data: [
											randomScalingFactor(),
											randomScalingFactor(),
											randomScalingFactor(),
											randomScalingFactor(),
											randomScalingFactor(),
									],
									backgroundColor: [
											window.chartColors.red,
											window.chartColors.orange,
											window.chartColors.yellow,
											window.chartColors.green,
											window.chartColors.blue,
									],
									label: 'Dataset 1'
							}],
							labels: [
									"Red",
									"Orange",
									"Yellow",
									"Green",
									"Blue"
							]
					},
					options: {
							responsive: true,
							legend: {
									position: 'top',
							},
							title: {
									display: true,
									text: '{{Caption}}'
							},
							animation: {
									animateScale: true,
									animateRotate: true
							}
					}
				};

				var fData = Client.getArray(self.get('value'));
				var fLast = fData[0];

				for(var i=0;i<fData.length; i++){
					if(fLast.ChangeDate<fData[i].ChangeDate){
						fLast = Client.getClone(fData[i]);
					}
				}

				self.set('Last', fLast);
				chart1 = new Chart(self.nodes.chartCanvas1, config);
				//chart1.data = self.get('data');
				//chart1.update();
				//if(self.isEcho()) console.log('Chart updated', fData);
			}
		},
		data:function() {
			return { 
					title:''
				, value:''
				, Caption:"No Title"
				, Last:{}
				, type:'home'
				, meta:{}
				, metaShow:false
				, metaOut:{}
				, metaPath:""
			}
		}
  }
</script>