<table id="{{id}}" class="table table-hover table-striped" data-height="{{height}}">
    <thead>
        <tr>
                {{>content}} 
        </tr>
    </thead>
</table>
<br>
<span>Redova <b>{{format.Count(rows)}}</b></span>
<script>
    component.exports ={
        onrender: function ( options ) {
            var self = this;
            var fId = self.get('id');
            if(fId==""){
                fId=Client.getShort(8);
                self.set('id', fId);
            }

            self.observe('rows', function(n,o){
               // var fMoney = self.get('money').split(',');
                //var fDate = self.get('date').split(',');
                var fRows = n;

                /* if((fMoney)||(fDate)){
                    for(var i=0; i<fRows.length; i++){
                        for(var im = 0; im < fMoney.length; im++) {
                            fRows[i][fMoney[im]] = Format.formatMoney(fRows[i][fMoney[im]]);
                        }
                        for(var im = 0; im < fDate.length; im++) {
                            fRows[i][fDate[im]] = Format.formatDate(fRows[i][fDate[im]]);
                        }
                    }
                } */

                $('#'+fId).bootstrapTable({
                    data:fRows, 
                    onClickRow: function (e) {
                        var fSelectd = e;
                        fSelectd._show = true;
                        self.set('selected', fSelectd);
                    }
                });
            });
        },
        data:function() { 
            return { 
            id:"", selected:{}, rows:[], height: 400, Lng:SiteLng
            }
        }
    }
</script>