{{#if(State=='exists')}}
<div class="alert alert-danger">
  <h1>{{{Lng.Vote.State.exists.Msg}}}</h1>
  <button class="btn btn-xs btn-primary" on-click="@this.fire('doVoteReportAdd')">{{{Lng.Vote.State.exists.Btn}}}</button>
</div>
{{/if}}
{{#if(State==""||State=="canvote")}}
<div class="row">
  {{#Vote.options:o}}
  <div class="col-xs-12 margin-bottom-10">
    {{#if(Selected==.)}}
    <button class="btn btn-lg btn-block btn-success" on-click="@this.fire('doVoteOptionSet', .)">{{{.Title}}}</button>
    {{else}}
    <button class="btn btn-lg btn-block btn-default" on-click="@this.fire('doVoteOptionSet', .)" {{isEnabled()}}>{{{.Title}}}</button>
    {{/if}}
  </div>
  {{/}}
  {{#if(format.isTrue(Vote.vote_give))}}
  <div class="col-xs-12 margin-bottom-10">
    {{#if(Selected=='give')}}
    <button class="btn btn-lg btn-block btn-success" on-click="@this.fire('doVoteOptionSet', 'give')">{{{Lng.Vote.vote_give.Text}}}</button>
    {{else}}
    <button class="btn btn-lg btn-block btn-default" on-click="@this.fire('doVoteOptionSet', 'give')" {{isEnabled()}}>{{{Lng.Vote.vote_give.Text}}}</button>
    {{/if}}
  </div>
  {{/if}}
  {{#if(format.isTrue(Vote.vote_sell))}}
  <div class="col-xs-12 margin-bottom-10">
    {{#if(Selected=='sell')}}
    <button class="btn btn-lg btn-block btn-success" on-click="@this.fire('doVoteOptionSet', 'sell')">{{{Lng.Vote.vote_sell.Text}}}</button>
    {{else}}
    <button class="btn btn-lg btn-block btn-default" on-click="@this.fire('doVoteOptionSet', 'sell')" {{isEnabled()}}>{{{Lng.Vote.vote_sell.Text}}}</button>
    {{/if}}
  </div>
  {{/if}}
  {{#if(Vote.vote_confirm=="1")}}
  <div class="col-xs-12 margin-bottom-20">
    <button class="btn btn-lg btn-block {{#if(isEnabledConfirm())}}btn-info{{else}}btn-default{{/if}}" on-click="@this.fire('doVoteOptionSave')" {{isEnabled()}}>POTVRDI</button>
  </div>
  {{/if}}
</div>
{{/if}}
{{#if(State=="voted")}}
<div class="row">
  {{#Vote.options:o}}
  <div class="col-xs-12 margin-bottom-10">
    {{#if(Selected==.)}}
    <button class="btn btn-lg btn-block btn-success" disabled>{{{.Title}}}</button>
    {{else}}
    <button class="btn btn-lg btn-block btn-default" disabled>{{{.Title}}}</button>
    {{/if}}
  </div>
  {{/}}
</div>
<div class="alert alert-success">
  <h1>{{{Lng.Vote.State.voted.Msg}}}</h1>
  <button class="{{Lng.VoteReport.Dialog.Report.Class}}" on-click="@this.fire('doVoteReport')">{{{Lng.VoteReport.Dialog.Report.Text}}}</button>
</div>
{{/if}}
<div id="VoteReportShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.VoteReport.Dialog.Title}}</h4>
      </div>
      <div class="modal-body">
        <Element-Input meta={{Lng.VoteReport.message}} value={{VoteReportItem.message}}></Element-Input>
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.Save.Class}}" on-click="@this.fire('doVoteReportSave', VoteReportItem)">{{{Lng.Dialog.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvUserVote = { Name: 'Vote-Done' };
      var SrvVoteReporte = {
        Name: 'Vote-Report',
        ModalRow: 'VoteReportItem',
        ModalName: '#VoteReportShow',
        Behavior: {
          KeyName: "guid",
          Validate: "VoteReport"
        }
      };
      var VoteDone = function(){
        var fUser = self.get('User');
        var fVote = self.get('Vote');

        if(!fUser.Auth){
          Client.MessageShow("Morate da se prijavite prvo!");
          return;
        }

        var fSelected = self.get('Selected');
        var fUserVote = {
          vote: fVote,
          user: fUser,
          guid: Client.getGuid(),
          option: fSelected.Title
        };

        self.set('State', 'wait');
        self.sync.Sync(self, SrvUserVote, undefined, fUserVote, function(oSelf, oService, oData){
          self.set('State', oData.State);
          console.log('End', oData);
        });
      };
      self.on('doVoteOptionSet', function (iRow) {
        self.set('Selected', iRow);
        if(self.get('Vote.vote_confirm')!='1'){
          VoteDone();
        }
      });
      self.on('doVoteOptionSave', function () {
        VoteDone();
      });
      self.on('doVoteReportAdd', function () {
        self.sync.Sync(self, self.sync.EditRow(SrvVoteReporte, self.sync.NewRow({}, SiteLng.VoteReport)));
      });
      self.on('doVoteReportSave', function (iRow) {
        self.sync.Sync(self, self.sync.SaveRow(SrvVoteReporte, iRow, self));
      });
    },
    data: function () {
      return {
        State: "",
        User: { },
        Vote: { },
        VoteResult: [],
        Selected: "",
        isEnabled: function(iUser){
          if((this.get('User.Auth')==true)&&(this.get('State')!='done')){
            return "";
          }

          return "disabled";
        },
        isEnabledConfirm: function(iUser){
          if((this.get('User.Auth')==true)&&(this.get('State')!='done')&&(this.get('Selected')!="")){
            return true;
          }

          return false;
        },
        Lng: SiteLng
      }
    }
  }
</script>