<div>
  <span>Glasalo <span class="badge badge-success">{{{Stat.count}}}</span> poslednji put {{{format.Ago(Stat.last)}}}</span>
</div>
{{#if(format.isTrue(Vote.vote_live))}}
  <br>
  <table class="table">
    {{#Stat.options:a}}
    <tr>
      <td style="width: 3px;background-color: #{{format.Color(a)}};"></td>
      <td>&nbsp;&nbsp;{{{a}}}</td>
      <td style="width: 30px;text-align: right;">{{{.Votes}}}</td>
      <td style="width: 30px;text-align: right;">{{{.Points}}}</td>
    </tr>
    {{/}}
  </table>
  <br>
  <div style="width:100%; max-height: 500px;">
    <canvas id="{{id}}"  width="{{width}}" height="{{height}}"></canvas>
  </div>
{{else}}
  <div class="well">Razultati ce biti vidljivi za </div>
{{/if}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
			var fId = Client.getShort(8);
      self.set('id', fId);
      var fDefChart = self.get('DefChart');
      var chart1;

      setTimeout(function(){
        if(fElId = self.nodes[fId]){
          chart1 = new chart(fElId, fDefChart);
        }
      }, 500);

      var SrvVoteStat = {
        Name: 'Vote-Stats'
      };

      var drawChart = function(iData){
        if(!chart1){
          if(fElId = self.nodes[fId]){
            chart1 = new chart(fElId, fDefChart);
          }
        }
        var fData = {
          data: [],
          backgroundColor: [],
          labels: []
        };
        if(iData){
          //console.log('Chart', fDefChart, iData, self.get('CacheData.VoteStat'));
          for (var r in iData) {
            fData.data.push(iData[r].Points);
            fData.backgroundColor.push('#'+Format.formatColor(r));
            fData.labels.push(r);
          }
          chart1.data.datasets[0].data = fData.data;
          chart1.data.datasets[0].backgroundColor = fData.backgroundColor;
          chart1.data.labels = fData.labels;
        }

        try{
          if(chart1){
            chart1.update();
          }
        }catch(err){
          chart1=undefined;
          console.log('Error Chart', err);
        }
      }

      self.on('doRefresh', function () {
        self.sync.Sync(self, SrvVoteStat, undefined, self.get('Vote'), function(oSelf, oService, oData){
          self.set('Stat', oData);
          if(oData&&oData.options){
            drawChart(oData.options);
          }else{
            drawChart();
          }
        });
      });
      self.fire('doRefresh');
      self.observe('Stat', function(n,o){
        if(n){
          drawChart(n.options);
        }
      });
    },
    data: function () {
      return {
        Vote: {},
        Stat: {},
        DefChart: {
          type: 'pie',
          data: {
            datasets: [{
              data: [1],
              backgroundColor:["#fffffff"],
              label: 'empty'
            }],
            labels: ["empty"]
          },
          options: {
            responsive: true,
            legend: {
              display: false, 
              position: "bottom"
            }
          }
        },
        Lng: SiteLng
      }
    }
  }
</script>