<div class="row">
  <div class="{{Lng.Page.MainBS}}">
    <h3>{{{Lng.Config.LicCon}}}</h3>
    <span>Version <strong class="badge badge-info">{{Config.Version}}</strong></span>
    <br>
    <span>Licence <strong class="label label-info">{{{Config.Licence.Origin}}}</strong></span>
    {{#if(Config.Licence.Origin)}}
    {{/if}}
    <br>
    State    
    {{#if(Config.Client.Behavior.echoTest)}}
    <span class="label label-primary">Client Test&nbsp;<strong class="badge">{{{Config.Client.Behavior.echoLevel}}}</strong></span>
    {{else}}
    <span class="label label-success">Client Live !</span>
    {{/if}}
    {{#if(Config.Server.Test)}}
    <span class="label label-primary">Server Test&nbsp;<strong class="badge">{{{Config.Server.DebugLevel}}}</strong></span>
    {{else}}
    <span class="label label-success">Server Live !</span>
    {{/if}}
    <br>
    Modules 
    {{#Config.Service:s}}
    <span class="label label-success">{{{s}}}</span>&nbsp;
    {{/}}
    <br>
    <h3>{{{Lng.Config.AdmAut}}}</h3>
    {{#Config.Server.Admins:u}}
    <span class="label label-primary">{{{format.Name(.)}}}</span>&nbsp;
    {{/}}
    <br>
    <div class="text-break">
    {{#getAuth(Config.Auth):a}}
      <span class="label label-{{#if(.Status)}}success{{else}}default{{/if}}">{{{a}}}</span>&nbsp;
    {{/}}
    </div>
    <br>
    <h3>{{{Lng.Config.SerUse}}}</h3>
    <strong class="label label-info">{{{Config.Stats.OS}}}</strong>
    {{#if(Config.Server.Test)}}
    <i class="fa fa-bug text-success"></i>
    {{/if}}
    <br>
    <span>{{{format.Format(Lng.Config.MemUse, format.Number(Config.Stats.MemorySize), format.Number(Config.Stats.MemoryUsed), Config.Stats.RedisMemoryUsed)}}}</span>
    <br>
    <span>{{{format.Format(Lng.Config.UpTime, format.Number(Config.Stats.UpTime), format.Ago(Config.Stats.StartTime))}}}</span>
    <br>
    <span><i class="fa fa-server" aria-hidden="true"></i>&nbsp;Skladista</span>
    {{#Config.Storage:s}}
    &nbsp;<span class="label label-{{#if(.Status)}}success{{else}}default{{/if}} text-lowercase">{{{.Type}}}</span>
    {{/}}
    <br>
    <h3>{{{Lng.Config.Live}}}</h3>
    <span class="label label-info">Aktivnost <span class="badge">{{{format.Count(Logs)}}}</span></span>
    {{#Config.Live.Users:u}}
    &nbsp;<span class="label label-primary">{{{.firstname}}}/{{{.emails}}}</span>
    {{/}}
    <!-- <table class="table table-striped">
      <tbody>
        {{#Logs:l}}
        <tr>
          <th scope="row">{{{.Event}}}<br>{{{format.DT(.Date)}}}</th>
          <td><span class="text-break">{{{JSON.stringify(.Data)}}}</span></td>
        </tr>
        {{/}}
      </tbody>
    </table> -->
    <br><br><br><br>
  </div>
  <Element-Info Title="Config" row={{Config}} Action="doEdit" doAction={{doAction}} kind={{kind}}>
    <p>{{{Lng.Config.Description}}}</p>
  </Element-Info>
</div>
<Element-Dialog id="ConfigShow" row={{ConfigItem}} kind="{{kind}}">
  <h5>Licence</h5>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <Element-Input meta={{Lng.Config.Licence.Origin}} value={{.Licence.Origin}}></Element-Input>
    </div>
    <div class="col-xs-12 col-sm-9">
      <Element-Input meta={{Lng.Config.Licence.RemoteCheckUrl}} value={{.Licence.RemoteCheckUrl}}></Element-Input>
    </div>
  </div>
  <h5>Server</h5>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <Element-Input meta={{Lng.Config.Server.DebugLevel}} value={{.Server.DebugLevel}}></Element-Input>
    </div>
    <div class="col-xs-12 col-sm-3">
      <Element-Input meta={{Lng.Config.Server.DebugLevel}} value={{.Server.DebugLevel}}></Element-Input>
    </div>
    <div class="col-xs-12 col-sm-12">
      <Element-Input meta={{Lng.Config.Server.Admins}} value={{.Server.Admins}}></Element-Input>
    </div>
  </div>
  <Element-Input meta={{Lng.Config.link}} value={{.link}}></Element-Input>
  <Element-Input meta={{Lng.Config.description}} value={{.description}}></Element-Input>
</Element-Dialog>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var Srv = {
        Config: { 
          Name: 'Buildin-Config', 
          Rows: 'Config',
          DetailRow: 'Config', 
          ModalRow: 'ConfigItem', 
          ModalName: '#ConfigShow'
        }
      };
      self.on('doUrl', function (iUrl) {
        self.sync.Data(self, Srv.Config);
      });
      self.on('doEdit', function () {
        self.sync.Sync(self, self.sync.EditRow(Srv.Config, undefined, self));
      });
      self.on('doSave', function () {
        self.sync.Sync(self, self.sync.SaveRow(Srv.Config, undefined, self));
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        if(self.isEcho()) console.log('doEvent', iMessage, iData, iFrom, iTo);
        self.unshift('Logs', { Event: iMessage, Data: iData, Date: new Date() });
        switch (iMessage) {
          case "Config.New":
          break;
        }
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Config",
        Config: {},
        Logs: [],
        getAuth: function(iAuths){
          var fResult = {};
          for(var fKey in iAuths){
            if(typeof(iAuths[fKey])==="object"){
              fResult[fKey] = iAuths[fKey];
            }
          }

          return fResult;
        },
        Lng: SiteLng
      }
    }
  }
</script>