<div class="row dd-fade">
  <div class="col-xs-12 text-right">
    <h5 class="grey-500 text-uppercase">{{{format.DateLong(DateCurrent)}}}</h5>
  </div>
  <div class="col-sm-12">
    {{#if(CacheData.Choice.length==0)}}
    <h3>Nema vesti</h3>
    {{/if}}
    {{#CacheData.Choice[0]}}
    <div class="choise-item">
      <img src="{{format.SrcSource(CacheData.Sources, .source_id)}}">&nbsp;<a
        href="{{CacheData.Sources[.source_id].source_link}}"
        target="_blank">{{{CacheData.Sources[.source_id].title}}}</a>&nbsp;<small>{{{format.Ago(.date)}}}</small>
      <a  class="{{#if(NewsOpen[.guid])}}grey-400{{else}}black{{/if}}"  href="#{{.guid}}/view" on-click="@this.fire('doView', .)">
        {{#if(.type_id=='twitter')}}
        <h3  class="{{#if(NewsOpen[.guid])}}grey-400{{/if}} text-break">{{{.description}}}</h3>
        {{else}}
          {{#if(.type_id=='youtube')}}
          <h3  class="{{#if(NewsOpen[.guid])}}grey-400{{/if}} text-break">{{{.title}}}</h3>
          <iframe width="100%" height="315" frameborder=0 src="{{formatYoutube(.link)}}"></iframe>
          {{else}}
          <h3  class="{{#if(NewsOpen[.guid])}}grey-400{{/if}} text-break">{{{.title}}}</h3>
          <p class="{{#if(NewsOpen[.guid])}}grey-400{{/if}}">{{{.description}}}</p>
          {{/if}}
        {{/if}}
      </a>
      <ul>
        {{#.items:i}}
        <li class="{{#if(NewsOpen[.guid])}}grey-400{{/if}}"><a class="{{#if(NewsOpen[.guid])}}grey-400{{/if}}" href="#{{.guid}}/view" on-click="@this.fire('doView', .)" style="word-break: break-all;">{{{.title}}}</a></li>
        {{/}}
      </ul>
    </div>
    <div class="line"></div>
    {{/}}
  </div>
  <div class="col-sm-12">
    {{#CacheData.News:n}}
    {{#if( n < 3 )}}
    <div class="news-item">
      <img src="{{format.SrcSource(CacheData.Sources, .source_id)}}">&nbsp;
      <a class="{{#if(NewsOpen[.guid])}}grey-400{{else}}black{{/if}}" href="#{{.guid}}/view" on-click="@this.fire('doView', .)" style="word-break: break-all;">{{{.title}}}</a>
    </div>
    <div class="line"></div>
    {{/if}}
    {{/}}
  </div>
  <div class="col-sm-12">
    {{#CacheData.Social:s}}
    {{#if( s < 3 )}}
    {{#if(.type_id=='youtube1')}}
    <iframe width="100%" height="250" frameborder=0 src="{{formatYoutube(.link)}}"></iframe>
    {{else}}
    <div>
      <img src="{{format.SrcSource(CacheData.Sources, .source_id)}}" width="16" height="16">&nbsp;<a href="{{.source_link}}" target="_blank">{{{CacheData.Sources[.source_id].title}}}</a>&nbsp;<small>{{{format.Ago(.date)}}}</small>
      <br>
      <a class="{{#if(NewsOpen[.guid])}}grey-400{{else}}black{{/if}}" href="#{{.guid}}/view" on-click="@this.fire('doView', .)" style="word-break: break-all;">{{{.title}}}</a>
    </div>
    <div class="line"></div>
    {{/if}}    
    {{/if}}
    {{/}}
    <a class="blue-500" href="vesti#" on-click="@this.fire('doView', .)">ostale vesti...</a>
  </div>
</div>
<div id="NewsShow" class="modal fade modal-default in" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <img src="{{format.SrcSource(CacheData.Sources, News.source_id)}}" style="width: 16px; height: 16px;">
          &nbsp;
          <a href="{{CacheData.Sources[News.source_id].source_link}}" target="_blank">{{{CacheData.Sources[News.source_id].title}}}</a>
          &nbsp;
          <small>{{{format.Ago(News.date)}}}</small>
        </div>
        <div class="modal-body">
          {{#if(News.type_id=="twitter")}}
          <h5>{{{News.description}}}</h5>
          {{else}}
          <h2>{{{News.title}}}</h2>
          <p>{{{News.description}}}</p>
          {{/if}}
          <br>
          <a href="{{News.link}}" target="_blank">{{News.link}}</a>
        </div>
        <div class="modal-footer">
          <a class="btn btn-md btn-block btn-primary text-uppercase"  href="{{News.link}}" target="_blank">Idi na vest</a>
          <br>
          <button class="{{Lng.Dialog.CancelSB.Class}}" data-dismiss="modal">{{{Lng.Dialog.CancelSB.Text}}}</button>
        </div>
      </div>
    </div>
  </div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var DateCurrent = new Date();
      var myChange = false;
      self.set('DateCurrent', DateCurrent);
      var SrvSources = [{ Name: 'News-Sources', Rows: 'CacheData.Sources', Behavior: { KeyName: "guid" } }];
      var SrvNews = { Name: 'News-Day', Rows: 'CacheData.Day', Row: { Date: Format.getDateYMDShort(DateCurrent) } };

      self.sync.Data(self, SrvSources);

      var CronResult = function (oComp, oService, oData) {
        console.log('CronResult', oComp, oService, oData);
      };
      var DataResult = function (oComp, oService, oData) {
        console.log('DataResult', oComp, oService, oData);
      };
      $('#NewsShow').on('hide.bs.modal', function(){
        if(Client.getUrlData().command=="view"&&!myChange){
          self.fire('doBack');
        }
      });
      $('#DateShow').on('hide.bs.modal', function(){
        if(Client.getUrlData().hash=="kalendar"&&!myChange){
          self.fire('doBack');
        }
      }); 
      self.on('doUrl', function (iUrl) {
        if (self.isEcho()) console.log('doUrl', iUrl);
        if(iUrl.hash[0]=="d"){
          var fDate =Format.getDateObj(iUrl.hash.replace('d', ''));
          if( (0==self.get('CacheData.Choice').length)||(Format.getDateYMDShort(self.get('DateCurrent'))!=Format.getDateYMDShort(fDate)) ){
            self.fire('doRefresh',  fDate);
          }
          myChange = true;
          $("#NewsShow").modal('hide');
          $("#DateShow").modal('hide');
          myChange = false;
          return ;
        }
        if(iUrl.hash=="kalendar"){
          $("#DateShow").modal('show');
          return ;
        }
        if(iUrl.hash==""){
          //DateCurrent = new Date();
          myChange = true;
          $("#NewsShow").modal('hide');
          $("#DateShow").modal('hide');
          myChange = false;
          if( (0==self.get('CacheData.Choice').length)||(Format.getDateYMDShort(DateCurrent)!=Format.getDateYMDShort(new Date()))){
            self.fire('doRefresh', new Date());
          }
          return ;
        }
        if(iUrl.guid){
          var fNews = self.get('News');
          self.set('NewsOpen.'+fNews.guid, fNews);
          $("#NewsShow").modal('show');
          return ;
        }
      });
      self.on('doView', function (iRow) {
        self.set('News', iRow);
      });
      self.on('doBack', function () {
        window.history.back();
      });
      self.on('doDateNext', function () {
        var d = new Date(DateCurrent);
        d.setDate(d.getDate() + 1);
        window.location.href = '#d'+Format.getDateYMDShort(d);
      });
      self.on('doDateBack', function () {
        var d = new Date(DateCurrent);
        d.setDate(d.getDate() - 1);
        window.location.href = '#d'+Format.getDateYMDShort(d);
      });
      self.on('doRefresh', function (iDate) {
        var fDate = (iDate)? iDate:DateCurrent;
        SrvNews.Row = { Date: Format.getDateYMDShort(fDate) };
        $(".dd-fade").fadeOut(200);
        self.sync.Data(self, SrvNews, function (oComp, oService, oData) {
          self.set('DateCurrent', (DateCurrent = fDate));
          if (self.isEcho()) console.log('Result', DateCurrent, SrvNews, oService, oData);
          switch (oService.Name) {
            case "News-Day":
              self.set('CacheData.Choice', oData.Choise);
              self.set('CacheData.News', oData.News);
              self.set('CacheData.Social', oData.Social);
              break;
            case "News-Sources":
              oData = Client.getObject(oData, 'guid');
              self.set(oService.Rows, oData);
              break;
          }
          $(".dd-fade").fadeIn("slow");
        });
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        switch (iMessage) {
          case "News.New":
          toastr.info(iData.title);
          break;
        }
      });
      self.fire('doUrl', Client.getUrlData());
    },
    data: function () {
      return {
        CacheData: {
          Day: [],
          Choice: [],
          News: [],
          Social: []
        },
        News: {},
        NewsOpen: {},
        DateCurrent: new Date(),
        formatDateNext: function () {
          var d = new Date(this.get('DateCurrent'));
          d.setDate(d.getDate() + 1);
          return 'd'+Format.getDateYMDShort(d);
        },
        formatDateBack: function () {
          var d = new Date(this.get('DateCurrent'));
          d.setDate(d.getDate() - 1);
          return 'd'+Format.getDateYMDShort(d);
        },
        formatYoutube: function(iValue){
          if(iValue){
            fValue = iValue.replace('https://www.youtube.com/watch?v=', '');
          }
          return "https://www.youtube.com/embed/"+fValue;
        },
        Lng: SiteLng
      }
    }
  }
</script>