<div class="page-content vertical-align-middle">
	<header>
		<h1 class="animation-slide-top text-uppercase">{{{Lng.Page.404.Title}}}</h1>
		<p>{{{Lng.Page.404.Code}}}</p>
	</header>
	<p class="error-advise">{{{Lng.Page.404.Advise}}}</p>
	<br><br>
	<a class="btn btn-primary btn-round" href="javascript:history.go(-1);">GO BACK</a>&nbsp;&nbsp;
	<a class="btn btn-primary btn-round" href="#Dashboard">GO TO Dashboard</a>
</div>
<script>
	component.exports ={
		isolated:true,
		lazy:true,
		onrender: function ( options ) {
			var self = this;
		},
		data:function() { 
				return { 
					Lng:SiteLng
				}
		}
 }
</script>