<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
<head>
  {{File.Meta}}
  <title>Config</title>
  {{File.Css}}
</head>
<body class="container-fluid">
  {{File.Menu}}
  <div class="animsition animsition-fade dd-frame" data-frame="Config-Home" id="Config-Home">
    <div>Loading...</div>
  </div>
  {{File.Footer}}
  {{File.Js}}
</body>
</html>