<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
  <head>
    {{File.Meta}}
    <title>Istorija</title>
    {{File.Css}}
  </head>
  <body class="container-fluid">
    {{File.Menu}}
    <div class="animsition animsition-fade dd-frame" data-frame="History-Home" id="History-Home">
      <div>Loading...</div>
    </div>
    {{File.Footer}}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTB1fdsSxZbht1IbEaIy_lm0M6SkStXlE&libraries=visualization"></script>
    {{File.Js}}
  </body>
</html>