<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
  <head>
    {{File.Meta}}
    <title>Tenderi</title>
    {{File.Css}}
  </head>
  <body class="container-fluid">
    <h1>Tenderi</h1>
    <div class="row animsition animsition-fade">
      <div class="col-sm-12 dd-frame" data-frame="Tender-Home" id="Tender-Home">
      </div>
    </div>
    {{File.Footer}}
    {{File.Js}}
  </body>
</html>