<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
  <head>
    <title>POČETNA</title>
    {{File.Meta}}
    {{File.Css}}
  </head>
  <body class="container-fluid">
    {{File.Menu}}
    <div class="row animsition animsition-fade">
      <div class="col-xs-12 col-sm-4">
        <div class="dd-frame" data-frame="Disc-Widget" id="Disc-Widget"></div>
        <div class="dd-frame" data-frame="Stat-Widget" id="Stat-Widget"></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="dd-frame" data-frame="Vote-Widget" id="Vote-Index"></div>
        <div class="dd-frame" data-frame="Tender-Widget" id="Tender-Widget"></div>
      </div>
      <div class="col-xs-12 col-sm-4 dd-frame" data-frame="News-Widget" id="News-Widget"></div>
    </div>
    {{File.Footer}}
    {{File.Js}}
  </body>
</html>