<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
  <head>
    {{File.Meta}}
    <title>Izbori</title>
    {{File.Css}}
  </head>
  <body>
    {{File.Menu}}
    <div class="animsition animsition-fade dd-frame" data-frame="Election-Home" id="Election-Home">
      <div>Loading...</div>
    </div>
    {{File.Footer}}
    {{File.Js}}
  </body>
</html>