<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
  <head>
    {{File.Meta}}
    <title>Live</title>
    {{File.Css}}
  </head>
  <body>
    {{File.Menu}}
    <div class="animsition animsition-fade dd-frame" data-frame="Live-Home" id="Live-Home"></div>
    {{File.Footer}}
    {{File.Js}}
  </body>
</html>