<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
  <head>
    {{File.Meta}}
    <title>Izvori</title>
    {{File.Css}}
  </head>
  <body class="container-fluid">
    {{File.Menu}}
    <div class="animsition animsition-fade dd-frame" data-frame="Sources-Home" id="Sources-Home">
      <div>Loading...</div>
    </div>
    {{File.Footer}}
    {{File.Js}}
  </body>
</html>