<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr">
<head>
  {{File.Meta}}
  <title>Tenderi</title>
  {{File.Css}}
</head>
<body>
  {{File.Menu}}
  <div class="animsition animsition-fade dd-frame" data-frame="Tender-Home" id="Tender-Home">
    <div>Loading...</div>
  </div>
  {{File.Footer}}
  {{File.Js}}
</body>
</html>