<!DOCTYPE html>
<html class="no-js css-menubar" lang="sr" hreflang="sr-rs">
<head>
  {{File.Meta}}
  <title>Glasanja</title>
  {{File.Css}}
</head>
<body class="container-fluid">
  {{File.Menu}}
  <div class="animsition animsition-fade dd-frame" data-frame="Vote-Home" id="Vote-Home">
    <div>Loading...</div>
  </div>
  {{File.Footer}}
  {{File.Js}}
</body>
</html>