{{#if(session.UserAuth||1==2)}}
<section  class="cc-chat">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div style="background-color: #a6aaad; border-color: #fcfcfc;">
        <button class="btn btn-primary"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <span class="pull-right">{{{session.UserName}}}</span>
      </div>
      <div style="height: 3px; background-color: #56b06e;"></div>

      {{#CacheData.Airs.Online:o}}
      <div style="background-color: #ffffff; border-color: #647e9c; border-style: solid; border-width: 1px; min-height: 90px; padding: 3px;">
        <span style="font-weight: bolder;">{{{.emails}}}</span>
        <button class="btn btn-lg btn-primary pull-right"><i class="fa fa-microphone" aria-hidden="true"></i></button>
        <br>
        {{#.Msg:m}}
        <span>Message</span>
        {{/}}
      </div>
      {{/}}
      <div style="background-color: #494949; text-align: center; color: chocolate; ">All</div>
      {{#CacheData.Airs.All:a}}
      <div style="background-color: #ffffff; border-color: #647e9c; border-style: solid; border-width: 1px; min-height: 90px; padding: 3px;">
        <span style="font-weight: bolder;">{{{.emails}}}</span>
        <button class="btn btn-lg btn-primary pull-right"><i class="fa fa-microphone" aria-hidden="true"></i></button>
        <br>
        {{#.Msg:m}}
        <span>Message</span>
        {{/}}
      </div>
      {{/}}
    </div>
    <div class="{{Lng.Page.MainBS}}">
      
    </div>
  </div>
</section>
{{else}}
<section  class="cc-auth">
  <Element-Login></Element-Login>
</section>
{{/if}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvAir = {
        Name: 'Air-List',
        Rows: 'CacheData.Airs',
        DetailRow: 'Air',
        ModalRow: 'AirItem',
        ModalName: '#AirShow',
        Behavior: {
          KeyName: "guid",
          Validate: "Air"
        }
      };

      self.on('doUrl', function (iUrl) {
        var fUrl = ((iUrl) ? iUrl : Client.getUrlData());

        if (fUrl.guid) {
          if (fUrl.guid == "add") {
            self.sync.Data(self, SrvAir);
            var fRow = self.sync.NewRow({ feed_kind: "pie" });
            self.set(SrvAir.ModalRow, fRow);
            self.set(SrvAir.DetailRow, {});
            $(SrvAir.ModalName).modal('show');
          } else {
            $(SrvAir.ModalName).modal('hide');
            var fRow = (self.get(SrvAir.Rows) && self.get(SrvAir.Rows)[fUrl.guid]) ? self.get(SrvAir.Rows)[fUrl.guid] : { guid: fUrl.guid, title: "", feed_kind: "pie", description: "", date: "" };
            self.set(SrvAir.DetailRow, fRow);
            self.sync.Sync(self, self.sync.DetailRow(SrvAir, fRow));
          }
        } else {
          self.set(SrvAir.ModalRow, {});
          self.set(SrvAir.DetailRow, {});
          self.sync.Data(self, SrvAir);
        }
      });
      self.on('doAdd', function () {
        self.sync.Sync(self, self.sync.EditRow(SrvAir, self.sync.NewRow({ title: "", feed_kind: "pie", description: "" }, SiteLng.Stat)));
      });
      self.on('doSend', function (iRow) {
        self.sync.Sync(self, self.sync.SaveRow(SrvAir, iRow, self, 'doViewRefresh'));
      });
      self.on('doRead', function (iRow) {
        self.sync.Sync(self, self.sync.SaveRow(SrvAir, iRow, self, 'doViewRefresh'));
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Stat",
        Meta: {

        },
        CacheData: {
          Stats: [],
          Sources: {}
        },
        StatData: [],
        Stat: {},
        StatItem: {},
        formatChart: function (iRow) {
          if (!iRow || !iRow.Pull || !iRow.Pull.Data) {
            return {};
          }
          var fData = iRow.Pull.Data;
          var fValue = {
            labels: [],
            datasets: [{
              data: [],
              backgroundColor: [],
              label: 'Test'
            }]
          };
          try{
            if (fData && fData.length) {
              for (r = 0; r < fData.length; r++) {
                fValue.datasets[0].data.push(fData[r].Value);
                fValue.datasets[0].backgroundColor.push(fData[r].Color);
                fValue.labels.push(fData[r].Title);
              }
            };
          }catch(err){

          }

          return fValue;
        },
        Lng: SiteLng
      }
    }
  }
</script>