<Element-Crumbs row={{Member}} Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Crumbs>
{{#if(format.isDetails(Member))}}
  {{#if(format.hasAcc(Member, kind))}}
  <div class="row">
    <div class="{{Lng.Page.MainBS}}">
      <Element-Header row={{Member}} title={{{Member.title}}} url={{{Member.guid}}} kind={{kind}}>
        <small>{{{Member.description}}}&nbsp;</small>
      </Element-Header>
      <br>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-{{#if(Filter.Active)}}primary{{else}}default{{/if}}" on-click="@this.fire('doFilterShow')" data-toggle="tooltip" data-placement="top" title="Ukljuci filter" data-original-title="Filter"><i class="fa fa-filter" aria-hidden="true"></i></button>
        </span>
        <input id="FilterFindUser" type="text" class="form-control" placeholder="Traži..." aria-label="Traži..." aria-describedby="basic-addon" value={{Filter.Find}}>
        <span class="input-group-btn">
          <button class="btn btn-outline-default" on-click="@this.fire('doFilterClear')" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reset" {{#if(format.isEmpty(Filter.Find))}}disabled{{/if}}><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>
      </div>
      <br>
      {{#if(formatIsVisible(Member))}}
      <div class="table-responsive dd-fade">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th class="text-right">status</th>
            </tr>
          </thead>
          <tbody>
            {{#getFilterRows(MemberUsers, Filter):u}}
            {{#if(format.isPage(u, Page))}}
            <tr on-click="@this.fire('doUserEdit', .)">
              <td>{{{u+1}}}</td>
              <td>{{{.firstname}}}&nbsp;{{{.familyname}}}</td>
              <td class="text-right">{{{format.Label(.status, Lng.User.status)}}}</td>
            </tr>
            {{/if}}
            {{/}}
          </tbody>
        </table>
        {{#if(format.Count(MemberUsers)==0)}}
        <div class="alert alert-info">No members</div>
        {{/if}}
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-sm btn-primary btn-sm waves-effect waves-classic" on-click="@this.fire('doUserAdd')"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</button>
        </div>
        <div class="col-xs-6 text-right">
          <Element-Paging page={{Page}} rows={{MemberUsersTmp}}></Element-Paging>
        </div>
      </div>
      {{/if}}
    </div>
    <Element-Info Title="Grupa" row={{Member}} Action="doEdit,disc" doAction={{doAction}}>
      <small class="label label-outline label-info text-lowercase">{{{format.Label(.visibility, Lng.Member.visibility)}}}</small>
      <br>
      members <span class="label label-default text-lowercase">{{{.member_count}}}</span>
    </Element-Info>
  </div>
  {{else}}
  <div class="alert alert-danger">
    <h1>{{{Lng.Member.Msg.Acc.Msg}}}</h1>
    <a class="btn btn-xs btn-primary" href="/auth">{{{Lng.Member.Msg.Acc.Btn}}}</a>
  </div>
  {{/if}}
{{else}}
  <div class="row">
    {{#CacheData.Members:i}}
    <Element-Card row={{.}} title={{.title}} url={{.guid}}>
      <small><span class="label label-default text-lowercase">{{{format.Label(.visibility, Lng.Member.visibility)}}}</span>&nbsp;<span class="label label-default text-lowercase">{{{.member_count}}}</span>&nbsp;{{{.description}}}</small>
    </Element-Card>
    {{/}}
    <div class="col-xs-12">
      <Element-Cmd Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Cmd>
    </div>
  </div>
{{/if}}
<div id="FilterShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.Member.Filter.Title}}</h4>
      </div>
      <div class="modal-body">
      <dl class="dl-horizontal">
          <dt style="padding: 2px;">{{Lng.User.status.Text}}</dt>
          <dd style="padding: 2px;">
            <button class="btn btn-xs btn-default text-lowercase" on-click="@this.fire('doFilterSet', 'FilterDlg', 'status', '[]')">sve</button>&nbsp;&nbsp;
            {{#Lng.User.status.Rows:fr}}
            <button class="btn btn-xs btn-default text-lowercase" on-click="@this.fire('doFilterSet', 'FilterDlg', 'status', fr)">{{{.title}}}</button>&nbsp;&nbsp;
            {{/}}
          </dd>
          <dt style="padding: 2px;">{{Lng.User.ident.Text}}</dt><dd style="padding: 2px;"><input class="form-control" type="text" value={{FilterDlg.ident}}></dd>
          <dt style="padding: 2px;">{{Lng.User.firstname.Text}}</dt><dd style="padding: 2px;"><input class="form-control" type="text" value={{FilterDlg.firstname}}></dd>
          <dt style="padding: 2px;">{{Lng.User.familyname.Text}}</dt><dd style="padding: 2px;"><input class="form-control" type="text" value={{FilterDlg.familyname}}></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.Cancel.Class}}" on-click="@this.fire('doFilterCancel')">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{Lng.Dialog.Save.Class}}" on-click="@this.fire('doFilterSave', FilterDlg)">{{{Lng.Dialog.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
{{#if(MemberItem)}}
<div id="MemberShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.Member.Dialog.Title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <Element-Input meta="{{Lng.Member.title}}" value={{MemberItem.title}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-3">
            <Element-Input meta={{Lng.Member.visibility}} value={{MemberItem.visibility}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-12">
            <Element-Input meta="{{Lng.Member.moderators}}" value={{MemberItem.moderators}}></Element-Input>
          </div>
        </div>
        <Element-Input meta={{Lng.Member.star_points}} value={{MemberItem.star_points}}></Element-Input>
        <br>
        <span>Stars: </span>
        <i class="fa fa-star" style="color: #FFD700" aria-hidden="true"></i>
        <span class="badge up">{{MemberItem.star_points}}</span>
        &nbsp;&nbsp;
        <i class="fa fa-star" style="color: #cd7f32 " aria-hidden="true"></i>
        <span class="badge up">{{MemberItem.star_points}}</span>
        &nbsp;&nbsp;
        <i class="fa fa-star" style="color: #C0C0C0" aria-hidden="true"></i>
        <span class="badge up">{{MemberItem.star_points}}</span>
        &nbsp;&nbsp;

        <Element-Input meta={{Lng.Member.description}} value={{MemberItem.description}}></Element-Input>
      </div>
      <div class="modal-footer">
        <Element-Cmd row={{MemberItem}} Action="doDialog" doAction={{doAction}} kind={{kind}}></Element-Cmd>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#if(MemberUserItem)}}
<div id="MemberUserShow" class="modal fade modal-default in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{{Lng.Member.Msg.TitleUser}}}</h4>
      </div>
      <div class="modal-body">
        {{#if(UserEditDlg)}}
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.User.ident}} value={{MemberUserItem.ident}}></Element-Input>
          </div>
          <div class="col-xs-0 col-sm-4">

          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.User.status}} value={{MemberUserItem.status}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-6">
            <Element-Input meta="{{Lng.User.firstname}}" value={{MemberUserItem.firstname}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-6">
            <Element-Input meta="{{Lng.User.familyname}}" value={{MemberUserItem.familyname}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta="{{Lng.User.mb}}" value={{MemberUserItem.mb}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta="{{Lng.User.cid}}" value={{MemberUserItem.cid}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta="{{Lng.User.gid}}" value={{MemberUserItem.gid}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.User.birthstate}} value={{MemberUserItem.birthstate}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.User.birthplace}} value={{MemberUserItem.birthplace}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.User.birthdate}} value={{MemberUserItem.birthdate}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.User.state}} value={{MemberUserItem.state}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.User.city}} value={{MemberUserItem.city}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.User.address}} value={{MemberUserItem.address}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.User.sex}} value={{MemberUserItem.sex}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-4">
            <Element-Input meta={{Lng.User.religion}} value={{MemberUserItem.religion}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.User.education}} value={{MemberUserItem.education}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.User.telephone}} value={{MemberUserItem.telephone}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta="{{Lng.User.emails}}" value={{MemberUserItem.emails}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta="{{Lng.User.contact}}" value={{MemberUserItem.contact}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.User.voteplace}} value={{MemberUserItem.voteplace}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.User.votesecure}} value={{MemberUserItem.votesecure}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.User.votemember}} value={{MemberUserItem.votemember}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-4">
            <Element-Input meta={{Lng.User.votelead}} value={{MemberUserItem.votelead}}></Element-Input>
          </div>
        </div>
        <Element-Input meta={{Lng.Member.description}} value={{MemberItem.description}}></Element-Input>
        {{else}}
        <small><i class="fa fa-hashtag"></i>&nbsp;{{{MemberUserItem.ident}}}</small>
        <h3>{{{MemberUserItem.firstname}}}&nbsp;{{{MemberUserItem.familyname}}}</h3>
        <span>Stars: </span>
        <i class="fa fa-star fa-2x" style="color: #FFD700" aria-hidden="true"></i>
        <span class="badge badge-pill badge-danger up">1</span>
        &nbsp;&nbsp;
        <i class="fa fa-star fa-2x" style="color: #cd7f32 " aria-hidden="true"></i>
        <span class="badge badge-pill badge-danger up">1</span>
        &nbsp;&nbsp;
        <i class="fa fa-star fa-2x" style="color: #C0C0C0" aria-hidden="true"></i>
        <span class="badge badge-pill badge-danger up">1</span>
        &nbsp;&nbsp;
        <p>{{{MemberItem.description}}}</p>
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if(UserEditDlg)}}
        {{#if(MemberUserItem.rev)}}
        <button class="{{Lng.Dialog.Delete.Class}} pull-left" on-click="@this.fire('doUserDelete', MemberUserItem)">{{{Lng.Dialog.Delete.Text}}}</button>
        {{/if}}
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{Lng.Dialog.Save.Class}}" on-click="@this.fire('doUserSave', MemberUserItem)">{{{Lng.Dialog.Save.Text}}}</button>
        {{else}}
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{Lng.Member.Dialog.Edit.Class}}" on-click="@this.fire('doUserEditDlg')">{{{Lng.Member.Dialog.Edit.Text}}}</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/if}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvMember = {
        Name: 'Member-List',
        Rows: 'CacheData.Members',
        DetailRow: 'Member',
        ModalRow: 'MemberItem',
        ModalName: '#MemberShow',
        Behavior: {
          KeyName: "guid",
          Validate: "Member"
        }
      };
      var SrvMemberUser = {
        Name: 'Member-Users',
        Rows: 'MemberUsersTmp',
        DetailRow: 'MemberUser',
        ModalRow: 'MemberUserItem',
        ModalName: '#MemberUserShow',
        Behavior: {
          KeyName: "guid",
          Validate: "User", 
          FireName: "doFilterSave"
        }
      };
      self.on('doUrl', function (iUrl) {
        var fUrl =Client.getUrlData();

        switch(fUrl.cmd){
          case "list":
          self.sync.Sync(self, self.sync.Refresh(SrvMember, self));
          
          $( "#FilterFind" ).keypress(function( event ) {
            if ( event.which == 13 ) {
              event.preventDefault();
              self.fire('doFilter', self.get('Filter'));
            } 
          });
          break;
          case "add":
            var fRow = self.sync.NewRow({  }, SiteLng.Member);
            self.sync.New(self, SrvMember, fRow);
            if(Format.getCount(self.get(SrvMember.Rows))==0){
              self.sync.Sync(self, self.sync.Refresh(SrvMember, self));
            }
            break;
          case "detail":
            self.set('Member', {});
            self.set('User', {});
            self.set('Page', 0);
            var fRow = self.sync.View(self, SrvMember, { guid: fUrl.guid, pguid: fUrl.guid });
            self.sync.Sync(self, self.sync.DetailRow(SrvMember, fRow));
            self.sync.Sync(self, SrvMemberUser, undefined, { pguid: fUrl.guid });
            break;
          default:
          break;
        }
      });
      self.on('doWent', function (iRow) {
        self.set('MemberItem', self.get('Member'));
        $('#WentShow').modal('show');
      });
      self.on('doWentSave', function (iRow) {
        var fRow = self.get('Member');
        self.sync.Sync(self, self.sync.SaveRow(SrvMember, fRow, self));
        $('#WentShow').modal('hide');
      });
      self.on('doWentMinus', function (iRow) {
        var fPeople = parseInt(self.get('Member.went_people'));
        if(!fPeople||fPeople<0){
          fPeople = 1;
        }
        self.set('Member.went_people', (fPeople-1));
      });
      self.on('doWentPlus', function (iRow) {
        var fPeople = parseInt(self.get('Member.went_people'));
        if(!fPeople||fPeople<0){
          fPeople = 0;
        }
        self.set('Member.went_people', (fPeople+1));
      });
      self.on('doAdd', function (iRow) {
        self.sync.Sync(self, self.sync.EditRow(SrvMember, self.sync.NewRow({}, SiteLng.Member)));
      });
      self.on('doEdit', function (iRow) {
        if(iRow){

        }
        self.sync.Sync(self, self.sync.EditRow(SrvMember, iRow, self));
      });
      self.on('doSave', function (iRow) {
        var fRow = (iRow)? Client.getClone(iRow): self.get(SrvMember.ModalRow);
        if(fUsersRows=self.get('MemberUsersTmp')){
          fRow.member_count = Format.getCount(fUsersRows);
        }
        self.sync.Sync(self, self.sync.SaveRow(SrvMember, fRow, self));
        /*var file = document.getElementById('files').files[0];
        Client.getFileBase64(file, function(oData, err){
          //console.log('oData', oData, err);
          if(oData){
            fRow.members_file = oData;
          }else{

          }
        }); 
        */
      });
      self.on('doDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvMember, iRow, self));
      });
      self.on('doUserAdd', function (iRow) {
        var fRow = self.sync.NewRow({ }, SiteLng.User);
        self.sync.New(self, SrvMemberUser, fRow);
      });
      self.on('doUserEdit', function (iRow) {
        self.set('UserEditDlg', false);
        self.sync.Sync(self, self.sync.EditRow(SrvMemberUser, iRow));
      });
      self.on('doUserEditDlg', function (iRow) {
        self.set('UserEditDlg', !self.get('UserEditDlg'));
      });
      self.on('doUserHistory', function (iAction) {
        var fUser = self.get('MemberUserItem');
        if(!fUser.notes){
          fUser.notes = [];
        }
        fUser.notes.push({ action: iAction, date: new Date() })
        self.set('MemberUserItem', fUser);
        toastr.info("Dodato", "Zabelezeno", { timeOut: 5000 });
        Client.MessageShow("Dodato", { type:"pop", timeOut: 5000 });
        fUser.pguid = self.get('Member.guid');
        self.sync.Sync(self, 'SrvMemberUser', 'save', fUser);
      });
      self.on('doUserSave', function (iRow) {
        var fRow = Client.getClone(iRow);
        fRow.pguid = self.get('Member.guid');
        self.sync.Sync(self, self.sync.SaveRow(SrvMemberUser, fRow));
      });
      self.on('doUserDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvMemberUser, iRow));
      });
      self.on('doUserUpload', function (iRow) {

      });
      self.on('doFilterFocus', function () {
        $('#FilterFind').focus();
      });
      self.on('doFilterShow', function () {
        self.set('FilterDlg', self.get('Filter'));
        self.set('FilterDlg.firstname', self.get('Filter.Find'));
        self.set('FilterDlg.Active', true);
        $('#FilterShow').modal('show');
      });
      self.on('doFilterSet', function (iFilterName, iProp, iValue) {
        var fFilter = self.get(iFilterName);
        switch(iValue){
          case '[]':
            fFilter[iProp] = [];
            break;
          default:
            if(fFilter[iProp]){
              if(fFilter[iProp].indexOf(iValue)!=-1){
                fFilter[iProp].push(iValue)
              }else{
                fFilter[iProp].splice (fFilter[iProp].indexOf(iValue), 1);
              }
            }else{
              fFilter[iProp] = [iValue];
            }
            break;
        }
        self.set(iFilterName, fFilter);
      });
      self.on('doFilterCancel', function (iFilter) {
        $('#FilterShow').modal('hide');
        self.set('Filter.Active', false);
        var fRows = self.get('MemberUsersTmp');
        self.set('MemberUsers', fRows);
      });
      self.on('doFilterSave', function (iFilter) {
        $('#FilterShow').modal('hide');
        var fFilter = (iFilter)? iFilter:self.get('Filter');
        var fData = self.get('MemberUsersTmp');
        if(!iFilter.Active){
          self.set('MemberUsers', fData);
          return;
        }
        var fRows = [];
        for(var i in fData){
          var fDoAdd = false;
          var fRow = fData[i];
          if(fFilter.status&&fFilter.status.lenght){
            fFilter.status.forEach(function(oValue){
              if(-1!=fRow.status.indexOf(oValue)){
                fDoAdd = true;
              }
            });
          }else{
            fDoAdd = true;
          }
          if(fDoAdd){
            fRows.push(fRow);
          }
        }
        self.set('MemberUsers', fRows);
        if(iFilter){
          self.set('Filter', iFilter);
        }
      });
      self.on('doFilter', function (iFilter) {
        var SrvMemberFilter = {
          Name: 'Member-Search',
          Rows: 'MemberSearch',
          Row: iFilter,
          Behavior: {
            Loading: ["searchWait"]
          }
        };
        self.set('Filter.Found', iFilter.Find);
        self.set('MemberSearch', []);
        self.sync.Sync(self, self.sync.Refresh(SrvMemberFilter, self));
      });
      self.on('doFilterClear', function () {
        self.set('Filter', {});
        self.set('MemberSearch', []);
        $('#FilterFind').focus();
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        if(self.isEcho()) console.log('doEvent', iMessage, iData, iFrom, iTo);
        switch (iMessage) {
          case "Member.Stat":
          break;
        }
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Circle",
        CacheData: {
          Members: {},
          MemberUsers: {},
          AuthList: {}
        },
        doAction: '',
        Member: {},
        MemberUsers: [],
        Page: 0,
        User: {},
        UserEditDlg: false,
        Filter: {
          Find: "",
          status: [],
          firstname: "",
          familyname: ""
        },
        Went: {
          People: 0
        },
        getUsers: function(iData){
          return Client.getArray(iData);
        },
        getRows: function(iData){
          var fRows = [];
          for(var fKey in iData){
            fRows.push(iData[fKey]);
          }
          return fRows;
        },
        formatIsVisible: function(iMember){
          if(iMember&&iMember.session&&Global&&Global.Session&&iMember.session.UserUID==Global.Session.UserUID){
            return true;
          }
          if(iMember&&iMember.moderators&&-1<iMember.moderators.indexOf(Global.Session.UserEmail)){
            return true;
          }
          if(iMember&&iMember.visibility&&iMember.visibility=="open"){
            return true;
          }
          if(iMember&&iMember.visibility&&iMember.visibility=="close"){
            return true;
          }
          if(iMember&&iMember.visibility&&iMember.visibility=="registrate"){
            return true;
          }

          return false;
        },
        getFilterRows: function(iData, iFilter){
          console.log('Filter',iFilter);
          if(iFilter){
            if(iFilter.Active||iFilter.Find){
              var fRows = [];
              for(var i in iData){
                var fDoAdd = false;
                var fRow = iData[i];

                if(iFilter.Find){
                  var fFinds = iFilter.Find.toString().split(" ");
                  var fStr = JSON.stringify(fRow).toLocaleLowerCase();
                  fFinds.forEach(function(oValue){
                    if(-1!=fStr.indexOf(oValue.toLocaleLowerCase())){
                      fDoAdd = true;
                    }
                  });
                }
                if(fDoAdd){
                  fRows.push(fRow);
                }
              }
              
              return fRows;
            }
          }

          return Client.getArray(iData);
        },
        getFilterMember: function(iRow, iFilter){
          if(iRow&&iRow.title&&iFilter&&iFilter.Find){
            if(-1==iRow.title.toLocaleLowerCase().indexOf(iFilter.Find.toLocaleLowerCase())){
              return false;
            }
          }
          
          return true;
        },
        Lng: SiteLng
      }
    }
  }
</script>