{{#if(format.isAdmin()&&format.hasView(kind))}}
  <button class="btn btn-xs {{#if(Prop.Show.Info)}}btn-primary{{else}}btn-default{{/if}}" on-click="@this.fire('doShow', 'Info')">Info</button>&nbsp;&nbsp;
  <button class="btn btn-xs {{#if(Prop.Show.Statistic)}}btn-primary{{else}}btn-default{{/if}}" on-click="@this.fire('doShow', 'Statistic')">Statistika</button>&nbsp;&nbsp;
  <button class="btn btn-xs {{#if(Prop.Show.Table)}}btn-primary{{else}}btn-default{{/if}}" on-click="@this.fire('doShow', 'Table')">Tabela</button>&nbsp;&nbsp;
  <button class="btn btn-xs {{#if(Prop.Show.Map)}}btn-primary{{else}}btn-default{{/if}}" on-click="@this.fire('doShow', 'Map')">Mapa</button>&nbsp;&nbsp;
  <button class="btn btn-xs {{#if(Prop.Show.Log)}}btn-primary{{else}}btn-default{{/if}}" on-click="@this.fire('doShow', 'Log')">Log</button>&nbsp;&nbsp;
  <button class="btn btn-xs btn-outline-info" on-click="@this.fire('doPropShow')"><i class="fa fa-cog" aria-hidden="true"></i></button>&nbsp;&nbsp;
  <br><br>
  {{#if(Prop.Show.Info)}}
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span>Sigurno <span class="badge">{{format.Prc(Stat.Votings.went_count_secure, Stat.Votings.went_max_secure)}}%</span></span><span class="pull-right">{{Stat.Votings.went_count_secure}}/{{Stat.Votings.went_max_secure}}</span>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{format.Prc(Stat.Votings.went_count_secure, Stat.Votings.went_max_secure)}}%">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <span>Glasalo <span class="badge">{{format.Prc(Stat.Votings.went_count, Stat.Votings.went_max)}}%</span></span><span class="pull-right">{{Stat.Votings.went_count}}/{{Stat.Votings.went_max}}</span>
      <div class="progress">
        <div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{format.Prc(Stat.Votings.went_count, Stat.Votings.went_max)}}%">
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if(Prop.Show.Statistic)}}
  <div class="row">
    <div class="col-xs-12">
      <small class="label label-success">Sigurno <span class="badge">{{format.Prc(Stat.Votings.went_count_secure, Stat.Votings.went_max_secure)}}%</span></small>
      <small class="label label-primary">Glasalo <span class="badge">{{format.Prc(Stat.Votings.went_count, Stat.Votings.went_max)}}%</span></small>
      <span class="pull-right">{{Stat.Votings.went_count_secure}}/{{Stat.Votings.went_max_secure}}&nbsp;&nbsp;{{Stat.Votings.went_count}}/{{Stat.Votings.went_max}}</span>
      <div class="progress">
        <div class="progress-bar bg-success"                                  role="progressbar" aria-valuenow="{{Stat.Votings.prc1}}" aria-valuemin="0" aria-valuemax="100" style="width:{{Stat.Votings.prc1}}%"></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{Stat.Votings.prc2}}" aria-valuemin="0" aria-valuemax="100" style="width:{{Stat.Votings.prc2}}%"></div>
        <div class="progress-bar bg-primary"                                 role="progressbar" aria-valuenow="{{Stat.Votings.prc3}}" aria-valuemin="0" aria-valuemax="100" style="width:{{Stat.Votings.prc3}}%"></div>
      </div>
    </div>
  </div>
  <Element-Chart type="barstack" title="Izlaznost" value={{Stat.Chart}}></Element-Chart>

  {{/if}}
  {{#if(Prop.Show.Table)}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th class="text-right">Izašlo/Birača</th>
        <th class="text-right">Sigurni</th>
      </tr>
    </thead>
    <tbody>
      {{#ElectionsGroup:e}}
      <tr on-click="@this.fire('doTableView', .)" {{#if( euids.indexOf(.guid) != -1)}}class="dd-blink"{{/if}}>
        <td>{{{.title}}}</td>
        <td class="text-right" style="width: 90px;">{{{.went_count}}}/{{{.went_max}}}
          {{{getStylePrc(.went_max, .went_count)}}}
        </td>
        <td class="text-right" style="width: 90px;">{{{.went_count_secure}}}/{{{.went_max_secure}}}
          {{{getStylePrc(.went_max_secure, .went_count_secure)}}}
        </td>
      </tr>
      {{/}}
    </tbody>
  </table>
  {{/if}}
  <div class="row" style="{{#if(!Prop.Show.Map)}}display: none;{{/if}}">
    <div id="map_canvas" class="mapping" style="width:100%; height:800px;"></div>  
  </div>
  {{#if(Prop.Show.Log)}}
  <br><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 50px;">#</th>
        <th>Log</th>
        <th class="text-right">Datum</th>
      </tr>
    </thead>
    <tbody>
      {{#Logs:l}}
      {{#if(format.isPage(l, Page))}}
      <tr on-click="@this.fire('doLogsView', .)">
        <td style="width: 50px;">{{Logs.length-l}}</td>
        <td>
          {{#if(.action=='vote')}}<i class="fa fa-check-square"></i>{{/if}}
          {{#if(.action=='abstainer')}}<i class="fa fa-window-close"></i>{{/if}}
          {{#if(.action=='call')}}<i class="fa fa-phone-square"></i>{{/if}}
          {{#if(.action=='calllead')}}<i class="fa fa-user"></i>{{/if}}
          {{#if(.action=='plus')}}<i class="fa fa-plus-square"></i>{{/if}}
          {{#if(.action=='minus')}}<i class="fa fa-minus-square"></i>{{/if}}
          &nbsp;{{{.title}}}
        </td>
        <td class="text-right"><small>{{{.UserName}}}&nbsp;{{{format.DT(.date)}}}</small></td>
      </tr>
      {{/if}}
      {{/}}
    </tbody>
  </table>
  <Element-Paging  page={{Page}} rows={{Logs}}></Element-Paging>


  {{/if}}
{{else}}
<div class="alert alert-danger">
  <h1>{{{Lng.Election.Msg.Login.Msg}}}</h1>
  <a class="btn btn-xs btn-primary" href="/auth">{{{Lng.Election.Msg.Login.Btn}}}</a>
</div>
{{/if}}
<div id="ElectionShow" class="modal fade modal-default in" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{{Election.title}}}</h4>
      </div>
      <div class="modal-body">
        {{#Election.Items:i}}
        <span style="border-left: 2px solid #{{format.Color(title)}}; font-size: 10px;">&nbsp;{{{.title}}}</span>&nbsp;
        {{/}}
        {{#if(Election.description)}}<small>{{{Election.description}}}&nbsp;</small>{{/if}}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <small>Glasalo/Sigurno</small><span class="pull-right">{{Election.went_count_secure}}/{{Election.went_max_secure}}</span>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{format.Prc(Election.went_count_secure, Election.went_max_secure)}}%">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <small>Izašlo/Birača</small><span class="pull-right">{{Election.went_count}}/{{Election.went_max}}</span>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{format.Prc(Election.went_count, Election.went_max)}}%">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <Element-Chart type="pie" title="Statusi" value={{ElectionInfo.Chart}}></Element-Chart>
          </div>
          <div class="col-xs-12 col-sm-6">
            <table style="width: 100%; border: 0px; padding: 0px; font-size: smaller;">
            {{#ElectionInfo.StatusSort:s}}
            <tr>
              <td style="border-left-width: 2px; border-left-color: {{.Color}}; border-left-style: solid;">&nbsp;{{{.Title}}}</td>
              <td>
                <div class="progress" style="height: 3px;">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{format.Prc(.Vote, .Value)}}%">
                </div>
              </td>
              <td class="text-right">{{.Vote}}/{{.Value}}</td>
            </tr>
            {{/}}
            </table>
          </div>
        </div>

        <table class="table table-hover">
          <tbody>
            {{#ElectionInfo.Leads:l}}
            <tr class="r{{.guid}} {{#if(.Expand)}}table-primary{{/if}}">
              <td on-click="@this.fire('doElectionPartShow', .guid)">{{{.leadname}}}</td>
              <td on-click="@this.fire('doElectionPartShow', .guid)" class="text-right">
                {{.vote}}/{{{format.Count(.users)}}}
              </td>
              <td style="width: 30px">
                <a class="btn btn-xs btn-dark" href="tel:{{format.Phone(.leadcontact)}}"><i class="fa fa-phone" aria-hidden="true"></i></a>
              </td>
            </tr>
            {{#if(.Expand)}}
            {{#.users:u}}
            <tr style="font-size: x--small;" class="r{{ElectionInfo.Leads[l].guid}}">
              <td>{{u+1}}&nbsp;&nbsp;{{{.firstname}}}&nbsp;{{{.familyname}}}</td>
              <td class="text-right">
                {{{format.Label(.status, Lng.Participant.status)}}}
                {{#if(.votestatus=="vote")}}<i class="fa fa-check text-success"></i>{{/if}}
                {{#if(.votestatus=="abstainer")}}<i class="fa fa-times text-warning"></i>{{/if}}
              </td>
              <td style="width: 30px">
                {{#if(format.isEmpty(.telephone))}}
                <a class="btn btn-xs btn-dark" href="" disabled=""><i class="fa fa-phone" aria-hidden="true"></i></a>
                {{else}}
                <a class="btn btn-xs btn-primary" href="tel:{{format.Phone(.telephone)}}"><i class="fa fa-phone" aria-hidden="true"></i></a>
                {{/if}}
              </td>
            </tr>
            {{/}}
            <tr>
              <td colspan="3">
                <button class="btn btn-xs btn-primary" on-click="@this.fire('doElectionPartPrint', .)">{{{Lng.Button.Print.Text}}}</button>
              </td>
            </tr>
            {{/if}}
            {{/}}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a class="btn btn-sm btn-primary pull-left" href="/izbori#{{Election.guid}}">Vidi</a>
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<div id="PropShow" class="modal fade modal-default in" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Podešavanja</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitchNotify" checked="{{PropItem.MapNotify}}">
            <label class="custom-control-label" for="customSwitchNotify">Prikazuj obaveštenja</label>
          </div>
        </div>
      
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitchNotify" checked="{{PropItem.MapEffect}}">
            <label class="custom-control-label" for="customSwitchNotify">Prikaži izlaznost na mapi</label>
          </div>
        </div>

        <div class="form-group form-material">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitchNotify" checked="{{PropItem.MapFollow}}">
            <label class="custom-control-label" for="customSwitchNotify">Prati na mapi</label>
            <select class="form-control" placeholder="korisnika" value={{PropItem.MapShow}} {{#if(!PropItem.MapFollow)}}disabled{{/if}}>
              <option value="">korisnika</option>
              <option value="election">biračko mesto</option>
            </select>
          </div>
        </div>

        <Element-Input type="select" title="Grupiši tabelu"  value={{PropItem.GroupName}}>
          <option value="">(bez grupisanja)</option>
          <option value="committee">po Odboru</option>
          <option value="municipal">po Opštini</option>
          <option value="city">po Gradu</option>
        </Element-Input>

      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.Cancel.Class}}" data-dismiss="modal">{{{Lng.Dialog.Cancel.Text}}}</button>
        <button class="{{Lng.Dialog.Save.Class}}" on-click="@this.fire('doPropSave', PropItem)">{{{Lng.Dialog.Save.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvElection = {
        Name: 'Election-List',
        Rows: 'Elections',
        DetailRow: 'Election',
        ModalRow: 'ElectionItem',
        ModalName: '#ElectionShow',
        Behavior: {
          FireName: "doStats"
        }
      };
      var SrvElectionInfo= {
        Name: 'Election-Info',
        Rows: 'ElectionInfo'
      };
      var fLogs = {};
      var timerSearch;
      var map;
      var bounds;
      var marker;
      var markers = [];
      var circles = [];
      var map_id="map_canvas";
      var mapOptions = { mapTypeId: 'roadmap', scrollwheel: false, disableDefaultUI: true, zoomControl: true, zoom: 11, center: {lat: 42.1133153, lng: 19.0980515} };
      var infoWindow = new google.maps.InfoWindow();

      var fProp = Client.getCache('Prop', self.get('Prop'));
      self.set('Prop', fProp);
      var initialize = function(){
          bounds = new google.maps.LatLngBounds();
          map = new google.maps.Map(document.getElementById(map_id), mapOptions);

          map.addListener('click', function(e) {
              //placeMarkerAndPanTo(e.latLng, e);
              self.fire('doFindMap', e.latLng, e);
          });

          if(self.isEcho())  console.log('Initialized!');
      }

      self.on('doUrl', function (iUrl) {
        var fUrl =Client.getUrlData();

        switch(fUrl.cmd){
          case "list":
          self.sync.Sync(self, self.sync.Refresh(SrvElection, self));
          break;
          default:
          break;
        }
        initialize();
      });
      self.on('doStats', function (iTable) {
        var fTable =self.get(SrvElection.Rows);
        var fProp = self.get('Prop');
        var fStatVotings = {
          went_max: 0,
          went_count: 0,
          went_max_secure: 0,
          went_count_secure: 0
        };
        if(!fProp.GroupName){
          self.set("ElectionsGroup", fTable);
        }
        for(c=circles.length-1;-1<c;c--){
          circles[c].setMap(null);
          circles.splice(c, 1);
          //delete(circles[c]);
        }
        var fGroupTable = {};
        var heatMapData = [];
        for(var fKey in fTable){
          var fRow = fTable[fKey];
          if(!fRow.city){
            fRow.city = "BAR";
          }
          if(fRow.went_max){            fStatVotings.went_max = fStatVotings.went_max+parseInt(fRow.went_max);          }
          if(fRow.went_count){            fStatVotings.went_count = fStatVotings.went_count+parseInt(fRow.went_count);          }
          if(fRow.went_max_secure){            fStatVotings.went_max_secure = fStatVotings.went_max_secure+parseInt(fRow.went_max_secure);          }
          if(fRow.went_count_secure){            fStatVotings.went_count_secure = fStatVotings.went_count_secure+parseInt(fRow.went_count_secure);          }
          if(fRow.went_max_abstinent){            fStatVotings.went_max_abstinent = fStatVotings.went_max_abstinent+parseInt(fRow.went_max_abstinent);          }
          if(fRow.went_count_abstinent){            fStatVotings.went_count_abstinent = fStatVotings.went_count_abstinent+parseInt(fRow.went_count_abstinent);          }

          if(fRow.geo_lat&&fRow.geo_lng){
            /* heatMapData.push(
              {location: new google.maps.LatLng( fRow.geo_lat, fRow.geo_lng), weight: 3}
            ); */
/*             const cityCircle1 = new google.maps.Circle({
              strokeColor: "#FF0000",
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: "#FF0000",
              fillOpacity: 0.35,
              map,
              center: { lat: fRow.geo_lat, lng: fRow.geo_lng },
              radius: Math.sqrt(fRow.went_max) * 100
            }); */

            if(fProp.MapEffect){
              circles.push(new google.maps.Circle({
                  strokeColor: "#4766d6",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: "#4766d6",
                  fillOpacity: 0.55,
                  map,
                  center: { lat: fRow.geo_lat, lng: fRow.geo_lng },
                  radius: Math.sqrt(fRow.went_count) * 20
                })
              );
              circles.push(new google.maps.Circle({
                  strokeColor: "#b6d6b4",
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: "#b6d6b4",
                  fillOpacity: 0.65,
                  map,
                  center: { lat: fRow.geo_lat, lng: fRow.geo_lng },
                  radius: Math.sqrt(fRow.went_count_secure) * 30
                })
              );
            }
          }

          if((fProp.GroupName)&&(fGroupKey = fRow[fProp.GroupName])){
            if(fGroupTable[fGroupKey]){

              if(fRow.went_max){            fGroupTable[fGroupKey].went_max = fGroupTable[fGroupKey].went_max+parseInt(fRow.went_max);          }
              if(fRow.went_count){            fGroupTable[fGroupKey].went_count = fGroupTable[fGroupKey].went_count+parseInt(fRow.went_count);          }
              if(fRow.went_max_secure){            fGroupTable[fGroupKey].went_max_secure = fGroupTable[fGroupKey].went_max_secure+parseInt(fRow.went_max_secure);          }
              if(fRow.went_count_secure){            fGroupTable[fGroupKey].went_count_secure = fGroupTable[fGroupKey].went_count_secure+parseInt(fRow.went_count_secure);          }
              if(fRow.went_max_abstinent){            fGroupTable[fGroupKey].went_max_abstinent = fGroupTable[fGroupKey].went_max_abstinent+parseInt(fRow.went_max_abstinent);          }
              if(fRow.went_count_abstinent){            fGroupTable[fGroupKey].went_count_abstinent = fGroupTable[fGroupKey].went_count_abstinent+parseInt(fRow.went_count_abstinent);          }


              fGroupTable[fGroupKey].Items.push(Client.getClone(fRow));
            }else{
              fGroupTable[fGroupKey] = Client.getClone(fRow);
              fGroupTable[fGroupKey].title = fGroupKey;
              fGroupTable[fGroupKey].Items = [];
              fGroupTable[fGroupKey].Items.push(Client.getClone(fRow));
            }
          }else{
            fGroupTable[fRow.guid] = Client.getClone(fRow);
          }
        }
        console.log('Group', fGroupTable, Client.getArray(fGroupTable));
        if(fProp.GroupName){
          self.set("ElectionsGroup", Client.getArray(fGroupTable));
        }

/*         var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatMapData
        });
        const gradient = [
          "rgba(0, 255, 255, 0)",
          "rgba(0, 255, 255, 1)",
          "rgba(0, 191, 255, 1)",
          "rgba(0, 127, 255, 1)",
          "rgba(0, 63, 255, 1)",
          "rgba(0, 0, 255, 1)",
          "rgba(0, 0, 223, 1)",
          "rgba(0, 0, 191, 1)",
          "rgba(0, 0, 159, 1)",
          "rgba(0, 0, 127, 1)",
          "rgba(63, 0, 91, 1)",
          "rgba(127, 0, 63, 1)",
          "rgba(191, 0, 31, 1)",
          "rgba(255, 0, 0, 1)"
        ];
        heatmap.set("gradient", gradient);
        heatmap.setMap(map);
        var heatmapO = new google.maps.visualization.HeatmapLayer({
          data: heatMapData
        });
        heatmapO.setMap(map); 
        if(fRow.went_max){            fStatVotings.went_max = fStatVotings.went_max+parseInt(fRow.went_max);          }
          if(fRow.went_count){            fStatVotings.went_count = fStatVotings.went_count+parseInt(fRow.went_count);          }
          if(fRow.went_max_secure){            fStatVotings.went_max_secure = fStatVotings.went_max_secure+parseInt(fRow.went_max_secure);          }
          if(fRow.went_count_secure){            fStatVotings.went_count_secure = fStatVotings.went_count_secure+parseInt(fRow.went_count_secure);          }
*/
          var fPrcS = Format.formatPrc(fStatVotings.went_max_secure, fStatVotings.went_max);
          fStatVotings.prc1 = Format.formatPrc(fStatVotings.went_count_secure, fStatVotings.went_max);
          fStatVotings.prc2 = Format.formatPrc((fStatVotings.went_max_secure-fStatVotings.went_count_secure), fStatVotings.went_max);
          fStatVotings.prc3 = Format.formatPrc((fStatVotings.went_count-fStatVotings.went_count_secure), fStatVotings.went_max);

        self.set('Stat.Votings', fStatVotings);
        
        var fStatChart =  {
          labels: [],
          datasets: [{
            label: 'Sigurni',
            backgroundColor: window.chartColors.green,
            data: []
          }, {
            label: 'Izašlo',
            backgroundColor: window.chartColors.blue,
            data: []
          }, {
            label: 'Nije glasalo',
            backgroundColor: window.chartColors.gray,
            data: []
          }]
        };

        for(var fKey in fGroupTable){
          var fRow = fGroupTable[fKey];

          fStatChart.labels.push(fRow.title);
          fStatChart.datasets[0].data.push(fRow.went_count_secure);
          fStatChart.datasets[1].data.push(fRow.went_count-fRow.went_count_secure);
          fStatChart.datasets[2].data.push(fRow.went_max-fRow.went_count);
        };
        self.set('Stat.Chart', fStatChart);
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        if(self.isEcho()) console.log('doEvent-Index', iMessage, iData, iFrom, iTo);
        var fProp = self.get('Prop');
        switch (iMessage) {
          case "Election.Log":
          if(iData.guid&&fLogs[iData.guid]){

          }else{
            fLogs[iData.guid] = true;
            self.unshift('Logs', iData);
            if(iData&&iData.euid){
              self.unshift('euids', iData.euid);
              setTimeout(function(){
                var fEuids = self.get('euids');
                for(i=fEuids.length-1; -1<i; i--){
                  if(fEuids[i]==iData.euid){
                    fEuids.splice(i, 1);
                    self.set('euids', fEuids);
                    i=0;
                  }
                }
              }, 1300);
            }
            if(self.get('Prop.MapNotify')){
              //{ Title: iData.action, Text: iData.title, Icon:"Poruka" }
              var fMsg = {
                Title: iData.action,
                Text: ((iData.notify)? iData.notify:iData.title)
              };
              Client.MessageShow(fMsg, { type:"desktop", timeOut: 5000 });
            }

            var pos;

            if(fProp.MapShow=="election"){
              if(iData&&iData.data.Election&&iData.data.Election.geo_lat&&iData.data.Election.geo_lng){
                pos = {
                    lat: iData.data.Election.geo_lat,
                    lng: iData.data.Election.geo_lng
                };
              }
            }else{
              if(iData&&iData.session&&iData.session.UserGeo&&iData.session.UserGeo.lat&&iData.session.UserGeo.lng){
                pos = {
                    lat: iData.session.UserGeo.lat,
                    lng: iData.session.UserGeo.lng
                };
              }
              if(!pos&&iData&&iData.data.Election&&iData.data.Election.geo_lat&&iData.data.Election.geo_lng){
                pos = {
                    lat: iData.data.Election.geo_lat,
                    lng: iData.data.Election.geo_lng
                };
              }
            }

            if(pos){
              if(fProp.MapFollow){
                map.setCenter(pos);
              }
              infoWindow.setPosition(pos);
              infoWindow.setContent(iData.title);
              infoWindow.open(map);
              
              if(self.isEcho()) console.log('Find geo');
            }
          }
          break;
          case "Election":
          if(iData.Table){
            self.set(SrvElection.Rows, iData.Table);
          }
          self.fire('doStats');
          break;
        }
      });
      self.on('doShow', function (iKey) {
        var fStatShow = self.get('Prop.Show');
        fStatShow[iKey] = !fStatShow[iKey];
        self.set('Prop.Show', fStatShow);
        Client.setCache('Prop',  self.get('Prop'));
      });
      self.on('doElectionPartPrint', function (iRow) {
        var prtContent = "";
        prtContent = prtContent+'<html class="no-js css-menubar" lang="sr"><head><link rel="stylesheet" href="https://glasanje2020.online/client.css"></head><body class="container-fluid">';
        prtContent = prtContent+'<table class="table table-hover"><tbody>';
        var all = $(".r"+iRow.guid).map(function() {
            return '<tr>'+this.innerHTML+'</tr>';
        }).get();
        prtContent = prtContent + all.join(' ');
        prtContent = prtContent + '</tbody></table>';

        var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
        WinPrint.document.write(prtContent);
        WinPrint.document.close();
        WinPrint.focus();
        setTimeout(function(){
          WinPrint.focus();
          WinPrint.print();
          //WinPrint.close();
        }, 700);
      });
      self.on('doTableView', function (iRow) {
        self.sync.Sync(self, SrvElectionInfo, 'view', iRow);
        
        //window.location.href = "/izbori#"+iRow.guid;
        self.set('LeadsPage', 0);
        self.set('Election', iRow);
        $("#ElectionShow").modal('show');
      });
      self.on('doPropShow', function (iRow) {
        self.set('PropItem', self.get('Prop'));
        $("#PropShow").modal('show');
      });
      self.on('doPropSave', function (iRow) {
        self.set('Prop', iRow);
        Client.setCache('Prop', iRow);
        $("#PropShow").modal('hide');
        self.fire('doStats');
      });
      self.on('doElectionPartShow', function (iKey) {
        /*var fExpand = !self.get("ElectionInfo.Leads['"+iKey+"'].Expand");

        console.log('AA', 'ElectionInfo.Leads['+iKey+'].Expand',iKey, fExpand);
        self.set("ElectionInfo.Leads['"+iKey+"'].Expand", fExpand);
        */
        var fLeads = self.get("ElectionInfo.Leads");
        fLeads[iKey].Expand = (fLeads[iKey].Expand)? false:true;
        self.set("ElectionInfo.Leads", fLeads);
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Election",
        euids: [],
        Logs: [],
        Election: {},
        Elections: {},
        Page: 0,
        Stat: {
          Status: {},
          Leads: {},
          Votings: {
            went_max: 1,
            went_count: 0,
            went_max_secure: 0,
            went_count_secure: 0
          }
        },
        Prop: {
          GroupName: "",
          MapShow: "",
          Show: {
            Info: true,
            Statistic: true,
            Table: true,
            Log: true,
            Map: true
          },
          MapNotify: true,
          MapHeat: true
        },
        getStylePrc: function(iMax, iCount){
          if(iCount&&iMax){
            var fPrc = parseInt(((iCount*100)/iMax));
            var fColor = "black";
            if(fPrc<20){
              fColor = "red";
            }
            if(40<fPrc){
              fColor = "green";
            }
            return '<div style="width: '+fPrc+'%;height: 2px; background-color: '+fColor+';"></div>';
          }
          
          return '';
        },
        Lng: SiteLng
      }
    }
  }
</script>