<Element-Crumbs row={{Live}} Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Crumbs>
{{#if(format.isDetails(Live))}}
  {{#if(format.hasAcc(Live, kind))}}
  <div class="row">
    <div class="{{Lng.Page.MainBS}}">
      <Element-Header row={{Live}} title={{{Live.title}}} url={{{Live.guid}}} kind={{kind}}>
        <small>{{{Live.description}}}&nbsp;</small>
      </Element-Header>
      <a href="javascript:void(0)" class="btn btn-xs btn-link dd-action" on-click="@this.fire('setAction', 'doAdd')"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</a>
      <br>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0px; padding-left: 0px;">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="350px" type="text/html" 
          src="{{formatYoutube(Live.link)}}?autoplay=1&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <div>
          <button class="btn btn-xs btn-link text-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
          <button class="btn btn-xs btn-link text-danger"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
          <button class="btn btn-xs btn-link pull-right"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>
        </div>
      </div>
      {{#Live.Items:c}}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0px; padding-left: 0px;">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="350px" type="text/html" 
          src="{{formatYoutube(.link)}}?autoplay=1&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      {{/}}
    </div>
    <Element-Info Title="Live" row={{Live}} Action="doEdit,disc" doAction={{doAction}}>
      <small class="label label-outline label-info text-lowercase">{{{format.Label(.visibility, Lng.Live.visibility)}}}</small>
      <br>
      members <span class="label label-default text-lowercase">{{{.member_count}}}</span>
    </Element-Info>
  </div>
  {{else}}
  <div class="alert alert-danger">
    <h1>{{{Lng.Live.Msg.Acc.Msg}}}</h1>
    <a class="btn btn-xs btn-primary" href="/auth">{{{Lng.Live.Msg.Acc.Btn}}}</a>
  </div>
  {{/if}}
{{else}}  
<Element-List rows={{CacheData.Live}} Action="doAdd" doAction={{doAction}} kind={{kind}}>
  <small><span class="label label-default text-lowercase">{{{format.Label(.visibility, Lng.Live.visibility)}}}</span>&nbsp;<span class="label label-default text-lowercase">{{{.member_count}}}</span>&nbsp;{{{.description}}}</small>
</Element-List>
{{/if}}
<Element-Dialog id="LiveShow" row={{LiveItem}} kind="{{kind}}">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <Element-Input meta="{{Lng.Live.title}}" value={{.title}}></Element-Input>
    </div>
    <div class="col-xs-12 col-sm-3">
      <Element-Input meta={{Lng.Live.visibility}} value={{.visibility}}></Element-Input>
    </div>
    <div class="col-xs-12 col-sm-12">
      <Element-Input meta="{{Lng.Live.moderators}}" value={{.moderators}}></Element-Input>
    </div>
  </div>
  <Element-Input meta={{Lng.Live.link}} value={{.link}}></Element-Input>
  <Element-Input meta={{Lng.Live.description}} value={{.description}}></Element-Input>
</Element-Dialog>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var Srv = {
        Live: { 
          Name: 'Live-List', 
          Rows: 'CacheData.Live', 
          DetailRow: 'Live', 
          ModalRow: 'LiveItem', 
          ModalName: '#LiveShow',
          Behavior: {
            KeyName: "guid",
            Validate: "Live"
          }
        }
      };
      self.on('doUrl', function (iUrl) {
        var fUrl = Client.getUrlData();
        if(!self.sync.Action(self, fUrl.cmd, Srv.Live, SiteLng.Live, { guid: fUrl.guid, pguid: fUrl.guid })){
          //--
        }
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        switch (iMessage) {
          case "News.New":
          toastr.info(iData.title);
          break;
        }
      });
      self.observe('doAction', function(n,o){
        if(n){
          if(!self.sync.Action(self, n, Srv.Live, SiteLng.Live)){
            self.fire(n);
          }
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Live",
        doAction: "",
        CacheData: {
          Live: []
        },
        formatYoutube: function(iValue){
          if(iValue){
            fValue = iValue.replace('https://www.youtube.com/watch?v=', '');
          }
          return "https://www.youtube.com/embed/"+fValue;
        },
        Lng: SiteLng
      }
    }
  }
</script>