<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
  <li class="nav-item dropdown">
    <a class="nav-link" href="javascript:void(0)" title="Obaveštenja" role="button" on-click="@this.fire('doNotifiesShow')">
      {{#if(NotifiesNew)}}
      <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
      <span class="badge badge-pill badge-danger up">{{{NotifiesNew}}}</span>
      {{else}}
      <i class="fa fa-bell fa-2x grey-400" aria-hidden="true"></i>
      {{/if}}
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="/auth" {{#if(isUser)}}title="Profil {{{session.UserName}}}"{{else}}title="Pristupite sistemu"{{/if}} role="button">
      {{#if(isUser)}}
      <i class="fa fa-user-circle fa-2x" style="color: #{{format.Color(session.UserUID)}};"></i>
      {{else}}
      <i class="fa fa-user-circle fa-2x grey-400"></i>
      {{/if}}
    </a>
  </li>
</ul>
<div id="NotifiesShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">Obaveštenja</h4>
      </div>
      <div class="modal-body">
        {{#if(format.Count(Notifies))}}
        <span class="badge badge-round badge-danger">Novih {{{NotifiesNewOld}}}</span>
        {{else}}
        <h5 class="red-600">Nema obaveštenja</h5>
        {{/if}}
        <div class="list-group">
          <div data-role="container">
            <div data-role="content">
              {{#Notifies:n}}
              <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                <div class="media">
                  <!--<div class="pr-10">
                    <i class="fa fa-circle bg-red-600 white icon-circle" aria-hidden="true"></i>
                  </div>-->
                  <div class="media-body">
                    <h6 class="media-heading">{{{.title}}}</h6>
                    <span>{{{.source_id}}}</span>&nbsp;<time class="media-meta" datetime="{{{.date}}}">{{{format.Ago(.date)}}}</time>
                  </div>
                </div>
              </a>
              {{/}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.CancelSB.Class}}" data-dismiss="modal">{{{Lng.Dialog.CancelSB.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var NotifiesUID = {};
      /* var SrvURL = self.sync.UrlChange(self, {});
      if(SrvURL.Hash){self.set("navigate", SrvURL.Hash);} 
      if(fUser = Client.getSession().UserData){
        self.set('User', fUser);
        self.set('isUser', true);
      }*/
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        switch (iMessage) {
          case "News.New":
              if(iMessage&&iMessage.guid&&NotifiesUID&&NotifiesUID[iMessage.guid]){
              return;
            }

            NotifiesUID[iData.guid] = true;
            var fNotifies = self.get('Notifies');
            fNotifies.unshift(iData);
            if(5<fNotifies.length) {
              fNotifies = fNotifies.slice(0, 5);
            } 
            self.add('NotifiesNew');
            self.set('NotifiesNewOld', self.get('NotifiesNew'));
            self.set('Notifies', fNotifies);
            Client.setCache('Notifies', { Items:fNotifies, Count:self.get('NotifiesNew') } );
            //toastr.info(iData.title);
          break;
          case "Auth":
            self.set('isUser', (iData.session.UserUID&&iData.session.UserAuth));
            
          //toastr.info(iData.title);
          break;
        }
      });
      self.on('doNotifiesShow', function () {
        $("#NotifiesShow").modal('show');
      }); 
      self.on('doNotifiesClear', function () {
        self.set('NotifiesNewOld', self.get('NotifiesNew'));
        setTimeout(function(){ 
          self.set('NotifiesNew', 0);
          Client.setCache('Notifies', { Items:self.get('Notifies'), Count:0 } );
        }, 800);
      });
      self.on('doRefresh', function () {
        var fNotfy = Client.getCache('Notifies', { Items:[], Count:0 });
        self.set('Notifies',  fNotfy.Items);
        self.set('NotifiesCount', fNotfy.Count);
      });
      self.fire('doRefresh');
    },
    data: function () {
      return {
        Notifies: [],
        NotifiesNew: 0,
        NotifiesNewOld: 0,
        isUser: false,
        Lng: SiteLng
      }
    }
  }
</script>