<Element-Crumbs row={{Live}} Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Crumbs>
{{#if(format.isDetails(Source))}}
<div class="row">
  <div class="{{Lng.Page.MainBS}}">
    <Element-Header row={{Source}} title={{{Source.title}}} url={{{Source.guid}}} kind={{kind}}>
      <small>{{{Source.description}}}&nbsp;</small>
    </Element-Header>
    <br>
    <br>
    {{#News:i}}
    <div class="news-item">
      {{#if(.type_id=="rss")}}<i class="fa fa-rss"></i>{{/if}}
      {{#if(.type_id=="twitter")}}<i class="fa fa-twitter"></i>{{/if}}
      {{#if(.type_id=="youtube")}}<i class="fa fa-youtube"></i>{{/if}}
      &nbsp;<a class=" text-break {{#if(NewsOpen[.guid])}}grey-400{{else}}black{{/if}}" href="{{.link}}" target="_blank" on-click="@this.fire('doView', .)">{{{.title}}}</a>
      <small>&nbsp;-{{{format.Ago(.date)}}}</small>
    </div>
    {{/}}
    <hr>
    {{#Words:w}}
    {{#if(1 < .Count)}}
    <span><span class="badge">{{{.Count}}}</span>{{{.Word}}}</span> &nbsp;
    {{/if}}
    {{/}}

  </div>
  <Element-Info Title="Izvor" row={{Source}} Action="doEdit,disc" doAction={{doAction}} kind={{kind}}>
   <small class="label label-outline label-info text-lowercase">{{{Lng.Source.SourcesTypes[.source_type]}}}</small>&nbsp;
    {{#format.Array(.source_section):j}}
    <small class="label label-outline label-info text-lowercase">{{{Lng.News.Sections[.]}}}</small>&nbsp;
    {{/}}
    <br>
    <span class="label label-default">admins <span class="badge">{{format.Count(.source_admin)}}</span></span>
    <br>
    {{#if(format.isNotEmpty(.source_link))}}
      <a class="black" style="word-break: break-all;" href="{{{Source.source_link}}}" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i>&nbsp;{{{.source_link}}}</a>
      <br>
    {{/if}}
    <br>
    {{#if(format.isNotEmpty(.rss_url))}}
      <a class="black text-break" href="{{{.rss_url}}}" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;{{{.rss_url}}}</a>
      <br>
      {{#if(format.IsNotEmpty(.Cron.RSSDate))}}<small>poslednji put {{{format.Ago(.Cron.RSSDate)}}}</small>{{/if}}
      {{#if(format.IsNotEmpty(.Cron.RSSError))}}<span class="text-danger">{{{.Cron.RSSError}}}</span>{{/if}}
    {{/if}}
    <br>
    {{#if(format.isNotEmpty(.twitter_url))}}
      <a class="black text-break" href="{{{.twitter_url}}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;{{{.twitter_url}}}</a>
      <br>
      {{#if(format.IsNotEmpty(.Cron.TwitterDate))}}<small>poslednji put {{{format.Ago(.Cron.TwitterDate)}}}</small>{{/if}}
      {{#if(format.IsNotEmpty(.Cron.TwitterError))}}<span class="text-danger">{{{.Cron.TwitterError}}}</span>{{/if}}
    {{/if}}
    <br>
    {{#if(format.isNotEmpty(.youtube_url))}}
      <a class="black text-break" href="{{{Source.youtube_url}}}" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i>&nbsp;{{{.youtube_url}}}</a>
      <br>
      {{#if(format.IsNotEmpty(.Cron.YoutubeDate))}}<small>poslednji put {{{format.Ago(.Cron.YoutubeDate)}}}</small>{{/if}}
      {{#if(format.IsNotEmpty(.Cron.YoutubeError))}}<span class="text-danger">{{{JSON.stringify(.Cron.YoutubeError)}}}</span>{{/if}}
    {{/if}}
  </Element-Info>
</div>
{{else}}
<div class="row">
  {{#CacheData.Sources:s}}
  <Element-Card row={{.}} title={{{.title}}} url={{{.guid}}} icon={{.source_icon}}>
    <small class="label label-outline label-info text-lowercase">{{{Lng.Source.SourcesTypes[.source_type]}}}</small>&nbsp;
    {{#format.Array(.source_section):j}}
    <small class="label label-outline label-info text-lowercase">{{{Lng.News.Sections[.]}}}</small>&nbsp;
    {{/}}
    <div style="height: 5px;"></div>
    {{#if(format.isNotEmpty(.rss_url))}}<i class="fa fa-rss text-success" aria-hidden="true"></i>&nbsp;{{/if}}
    {{#if(format.isNotEmpty(.twitter_url))}}<i class="fa fa-twitter text-success" aria-hidden="true"></i>&nbsp;{{/if}}
    {{#if(format.isNotEmpty(.youtube_url))}}<i class="fa fa-youtube text-success" aria-hidden="true"></i>{{/if}}&nbsp;
    {{#if(format.IsNotEmpty(.Cron.RSSError)||format.IsNotEmpty(.Cron.TwitterError)||format.IsNotEmpty(.Cron.YoutubeError))}}<i class="fa fa-bug text-danger" aria-hidden="true"></i>{{/if}}
  </Element-Card>
  {{/}}
</div>
<div class="row">
  <div class="col-xs-12">
    <Element-Cmd Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Cmd>
    <button class="btn btn-link btn-md waves-effect waves-classic" on-click="@this.fire('doCron')"><i class="fa fa-refresh" aria-hidden="true"></i></button>
  </div>
</div>
{{/if}}
<div id="SourceShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">Izvor</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-9">
            <Element-Input title="Naziv" value={{SourceItem.title}} class="font-weight-500"></Element-Input>
          </div>
          <div class="col-sm-3">
            <Element-Input title="Vrsta" value={{SourceItem.source_type}} type="select" rows={{Lng.Source.Types}} valuef="Id" labelf="Title"></Element-Input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <Element-Input title="Admin" value={{SourceItem.source_admin}}></Element-Input>
            <small>Vesti sekcija</small><br>
            {{#Lng.News.Sections:s}}
            <button class="{{formatSection(SourceItem.source_section, s)}}" on-click="@this.fire('doEditSection', SourceItem.source_section, s)">{{{.}}}</button> &nbsp;
            {{/}}
          </div>
          <div class="col-sm-3">
            <Element-Input title="Ikona" value={{SourceItem.source_icon}}></Element-Input>
          </div>
          <div class="col-sm-3">
            <img class="img img-responsive pull-right" src="//dd.in.rs/data/img/{{SourceItem.source_icon}}">
          </div>
        </div>
        <br>
        <small>Linkovi</small><br>
        <div class="form-group form-material" data-plugin="formMaterial">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-dribbble"></i></span>
            <div class="form-control-wrap">
              <input type="text" class="form-control" placeholder="enter web site..." value={{SourceItem.source_link}}>
            </div>
          </div>
        </div>
        <div class="form-group form-material" data-plugin="formMaterial">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-rss"></i></span>
            <div class="form-control-wrap">
              <input type="text" class="form-control" placeholder="enter rss url feed..." value={{SourceItem.rss_url}}>
              {{#if(format.IsNotEmpty(SourceItem.Cron.RSSDate))}}<small>poslednji put {{{format.Ago(SourceItem.Cron.RSSDate)}}}</small>{{/if}}
            </div>
          </div>
        </div>
        <div class="form-group form-material" data-plugin="formMaterial">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
            <div class="form-control-wrap">
              <input type="text" class="form-control" placeholder="enter youtube url feed..." value={{SourceItem.youtube_url}}>
              {{#if(format.IsNotEmpty(SourceItem.Cron.YoutubeDate))}}<small>poslednji put {{{format.Ago(SourceItem.Cron.YoutubeDate)}}}</small>{{/if}}
            </div>
          </div>
        </div>
        <div class="form-group form-material" data-plugin="formMaterial">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
            <div class="form-control-wrap">
              <input type="text" class="form-control" placeholder="enter twitter url feed..." value={{SourceItem.twitter_url}}>
              {{#if(format.IsNotEmpty(SourceItem.Cron.TwitterDate))}}<small>poslednji put {{{format.Ago(SourceItem.Cron.TwitterDate)}}}</small>{{/if}}
            </div>
          </div>
        </div>
        <Element-Input type="area" rows=2 placeholder="enter  description..." value={{SourceItem.description}}>
        </Element-Input>
      </div>
      <div class="modal-footer">
        <Element-Cmd row={{SourceItem}} Action="doDialog" doAction={{doAction}} kind={{kind}}></Element-Cmd>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvSource = { 
        Name: 'Buildin-Sources', 
        Rows: 'CacheData.Sources', 
        DetailRow: 'Source', 
        ModalRow: 'SourceItem', 
        ModalName: '#SourceShow',
        Behavior: {
          KeyName: "guid",
          Validate: "Source"
        }
      };
      var SrvSourceNews = { 
        Name: 'News-Source', 
        Rows: 'News'
      };
      var CronResult = function (oComp, oService, oData) {
        console.log(oComp, oService, oData);
      };
      self.on('doUrl', function (iUrl) {
        var fUrl = Client.getUrlData();
 
        switch(fUrl.cmd){
          case "list":
            self.sync.Sync(self, self.sync.Refresh(SrvSource, self));
          break;
          case "add":
            var fRow = self.sync.NewRow({}, SiteLng.Source);
            self.sync.New(self, SrvSource, fRow);
            break;
          case "detail":
            var fRow = self.sync.View(self, SrvSource, { guid: fUrl.guid });
            self.sync.Sync(self, self.sync.DetailRow(SrvSource, fRow));
            self.sync.Sync(self, SrvSourceNews, undefined, { guid: fUrl.guid });
            var SrvSourceWords = { 
              Name: 'News-Source-Words', 
              Rows: 'Words'
            };
            self.sync.Sync(self, SrvSourceWords, undefined, { guid: fUrl.guid });
            break;
          default:
            break;
        }
      });
      self.on('doAdd', function () {
        self.sync.Sync(self, self.sync.EditRow(SrvSource, self.sync.NewRow({}, SiteLng.Source)));
      });
      self.on('doEdit', function (iRow) {
        self.sync.Sync(self, self.sync.EditRow(SrvSource, iRow, self));
      });
      self.on('doEditSection', function (iSection, iType) {
        try {
          var fSection = (iSection)?  iSection.split(",") : [];
          if ((fFI = fSection.indexOf(iType)) == -1) {
            fSection.push(iType);
          } else {
            fSection.splice(fFI, 1);
          }
          fSection = fSection.join(',');
          self.set('SourceItem.source_section', fSection);
        }
        catch (err) {
          console.error(err);
        }
      });
      self.on('doSave', function (iRow) {
        self.sync.Sync(self, self.sync.SaveRow(SrvSource, iRow, self));
      });
      self.on('doDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvSource, iRow, self));
      });
      self.on('doCron', function () {
        self.sync.Sync(self, { Name: 'News-Cron', Rows: 'CacheData.Cron' }, CronResult);
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Source",
        CacheData: {
          Sources: {}
        },
        doAction: "",
        NewsOpen: {},
        CronLogText: "",
        formatSection: function (iSection, iType) {
          var fReturn = "btn btn-xs btn-default";

          if ((iSection) && (iType) && (iSection.indexOf(iType) != -1)) {
            fReturn = "btn btn-xs btn-success";
          }

          return fReturn;
        },
        Lng: SiteLng
      }
    }
  }
</script>