{{#CacheData.Stats:s}}
{{#if(s==getStatPos(CacheData.Stats))}}
<div class="panel panel-primary panel-transparent panel-line">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/stat#{{{.guid}}}" >{{{.title}}}</a></h3>
  </div>
  <div class="panel-body">
    <small>{{{.description}}}&nbsp;</small>
    <Element-Chart type={{.feed_kind}} title="{{{.title}}}" value={{formatChart(.)}} meta={{.data_meta}} style="height:150px;"></Element-Chart>
  </div>
</div>
{{/if}}
{{/}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvStat = { 
        Name: 'Stat-List', 
        Rows: 'CacheData.Stats', 
        Behavior: {
          KeyName: "array"
        }
      };

      self.sync.Data(self, SrvStat);
      self.on('doUrl', function (iUrl) {
        //self.sync.Data(self, SrvStat);
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        CacheData: {
          Stats: []
        },
        StatPos: 0,
        getStatPos: function(iList) {
          if(iList&&iList.length&&this.get('StatPos')==0){
            var fPos = Math.round(Math.random() * (iList.length-1));
            this.set('StatPos', fPos);
            return fPos;
          }
          return this.get('StatPos');
        },
        formatChart: function(iRow){
          if(!iRow||!iRow.Pull||!iRow.Pull.Data){
            return {};
          }
          var fData = iRow.Pull.Data;
          var fValue = {
              labels: [],
              datasets: [{
                  data: [],
                  backgroundColor: [],
                  label: 'Test'
                }]
            };
          if(fData&&fData.length){
            for(r=0; r<fData.length; r++){
              fValue.datasets[0].data.push(fData[r].Value);
              fValue.datasets[0].backgroundColor.push(fData[r].Color);
              fValue.labels.push( fData[r].Title);
            }
          };

          return fValue;
        },
        Lng: SiteLng
      }
    }
  }
</script>