<style>
  #overlay {
    position: fixed;
    display: none;
    width: 40%; 
    height: 100%; 
    top: 0;
    left: 60%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2; 
    cursor: pointer;
  } 
  @media  (max-width: 768px) {
    #overlay {
      width: 100%;
      left: 0;
      padding: 15px;
    } 
  } 
</style>
{{#if(format.isDetails(Tender))}}
<div class="row">
  <div class="{{Lng.Page.MainBS}}">
    <Element-Header row={{Tender}} title={{{Tender.guid}}}>
      <small>{{{Tender.NazivDokumenta}}}&nbsp;</small>
    </Element-Header>
    <br><br>
    <dl class="dl-horizontal">
      <dt># Id</dt><dd>{{{Tender.IdDokumenta}}}&nbsp;</dd>
      <dt>Naziv</dt><dd>{{{Tender.NazivDokumenta}}}&nbsp;</dd>
      <dt>CPV</dt><dd>{{{Tender.CPV}}}</dd>
      <dt>Datum izmene</dt><dd>{{{Tender.DatumIzmene}}}&nbsp;</dd>
      <dt>Datum kreiranja</dt><dd>{{{Tender.DatumKreiranja}}}&nbsp;</dd>
      <dt>Ustanova</dt><dd>{{{Tender.Naziv}}}&nbsp;</dd>
      <dt>Delatnost</dt><dd>{{{Tender.Delatnost}}}&nbsp;</dd>
      <dt>Država</dt><dd>{{{Tender.Drzava}}}&nbsp;</dd>
      <dt>Kategorija</dt><dd>{{{Tender.Kategorija}}}&nbsp;</dd>
      <dt>Kontakt osoba</dt><dd>{{{Tender.KontaktOsoba}}}&nbsp;</dd>
      <dt>Kontakt tel</dt><dd>{{{Tender.KontaktTel}}}&nbsp;</dd>
      <dt>MB</dt><dd>{{{Tender.MB}}}&nbsp;</dd>
      <dt>PIB</dt><dd>{{{Tender.PIB}}}&nbsp;</dd>
      <dt>Mesto</dt><dd>{{{Tender.Mesto}}}&nbsp;</dd>
      <dt>Oblik organizovanja</dt><dd>{{{Tender.OblikOrganizovanja}}}&nbsp;</dd>
      <dt>Oblik svojine</dt><dd>{{{Tender.OblikSvojine}}}&nbsp;</dd>
      <dt>Opština</dt><dd>{{{Tender.Opstina}}}&nbsp;</dd>
      <dt>Predmet</dt><dd>{{{Tender.PredmetVrednost}}}&nbsp;</dd>
      <dt>Obaveštenja</dt><dd>{{{Tender.PrethodnaObavestenjaVrednost}}}&nbsp;</dd>
      <dt>Glasnik</dt><dd>{{{Tender.ZakonVerzijaVrednost}}}&nbsp;</dd>
      <dt>&nbsp;</dt><dd><br><a href="http://portal.ujn.gov.rs/Dokumenti/JavnaNabavka.aspx?idd={{{Tender.IdDokumenta}}}">портал јавних набавки</a>&nbsp;</dd>
    </dl>
    <Element-Share Row={{Tender}} Link="/tenderi#{{Tender.guid}}"></Element-Share>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-info panel-transparent">
      <div class="panel-heading">
        <h3 class="panel-title">{{{Tender.Naziv}}}</h3>
      </div>
      <div class="panel-body">
        <br>
        <p>{{{Tender.NazivDokumenta}}}</p>
        {{#if(format.IsNotEmpty(Tender.date))}}<small>poslednji put {{{format.Ago(Tender.date)}}}</small>{{/if}}
        <br>
        <a href="{{Tender.feed_url}}" class="font-size-8 gray-800 text-break" >{{Tender.feed_url}}</a>
        <br>
      </div>
      <div class="panel-footer">
        <Element-Discusion Row={{Tender}}></Element-Discusion>
        <Element-Vote Row={{Tender}}></Element-Vote>
      </div>
    </div>
  </div>
</div>
{{else}}
<div id="overlay"  on-click="@this.fire('doClose', .)">
  {{#if(format.isDetails(TenderView))}}
  <div class="row">
    <div class="col-xs-12 col-sm-8 padding-5">
      <br><br>
      <dl class="dl-horizontal white">
        <dt># Id</dt><dd>{{{TenderView.IdDokumenta}}}&nbsp;</dd>
        <dt>Naziv</dt><dd>{{{TenderView.NazivDokumenta}}}&nbsp;</dd>
        <dt>CPV</dt><dd>{{{TenderView.CPV}}}</dd>
        <dt>Datum izmene</dt><dd>{{{TenderView.DatumIzmene}}}&nbsp;</dd>
        <dt>Datum kreiranja</dt><dd>{{{TenderView.DatumKreiranja}}}&nbsp;</dd>
        <dt>Ustanova</dt><dd>{{{TenderView.Naziv}}}&nbsp;</dd>
        <dt>Delatnost</dt><dd>{{{TenderView.Delatnost}}}&nbsp;</dd>
        <dt>Država</dt><dd>{{{TenderView.Drzava}}}&nbsp;</dd>
        <dt>Kategorija</dt><dd>{{{TenderView.Kategorija}}}&nbsp;</dd>
        <dt>Kontakt osoba</dt><dd>{{{TenderView.KontaktOsoba}}}&nbsp;</dd>
        <dt>Kontakt tel</dt><dd>{{{TenderView.KontaktTel}}}&nbsp;</dd>
        <dt>MB</dt><dd>{{{TenderView.MB}}}&nbsp;</dd>
        <dt>PIB</dt><dd>{{{TenderView.PIB}}}&nbsp;</dd>
        <dt>Mesto</dt><dd>{{{TenderView.Mesto}}}&nbsp;</dd>
        <dt>Oblik organizovanja</dt><dd>{{{TenderView.OblikOrganizovanja}}}&nbsp;</dd>
        <dt>Oblik svojine</dt><dd>{{{TenderView.OblikSvojine}}}&nbsp;</dd>
        <dt>Opština</dt><dd>{{{TenderView.Opstina}}}&nbsp;</dd>
        <dt>Predmet</dt><dd>{{{TenderView.PredmetVrednost}}}&nbsp;</dd>
        <dt>Obaveštenja</dt><dd>{{{TenderView.PrethodnaObavestenjaVrednost}}}&nbsp;</dd>
        <dt>Glasnik</dt><dd>{{{TenderView.ZakonVerzijaVrednost}}}&nbsp;</dd>
      </dl>
    </div>
  </div>
  {{/if}}
</div>
<div class="table-responsive dd-fade">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th></th>
        <th class="text-right">Datum</th>
      </tr>
    </thead>
    <tbody>
      {{#CacheData.Tenders:i}}
      <tr {{#if((TenderView)&&(.guid==TenderView.guid))}}class="table-active"{{/if}}>
        <td><a href="#{{.guid}}">{{.guid}}</a></td>
        <td on-click="@this.fire('doGo', .)">{{{.NazivDokumenta}}}<br><small>{{{.Naziv}}}&nbsp;<div class="badge badge-table badge-success">{{{.Kategorija}}}</div></small></td>
        <td on-click="@this.fire('doGo', .)">{{{.CPV}}}</td>
        <td on-click="@this.fire('doGo', .)" class="text-right">{{{.DatumKreiranja}}}</td>
      </tr>
      {{/}}
    </tbody>
  </table>
  <div>
    <ul class="pagination">
      <li class="page-item {{#if(Page==0)}}disabled{{/if}}">
        <a class="page-link" href="javascript:void(0);" on-click="@this.fire('doPage', -1)">&laquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="javascript:void(0);">{{Page+1}}</a>
      </li>
      <li class="page-item {{#if(CacheData.Tenders.length==0)}}disabled{{/if}}">
        <a class="page-link" href="javascript:void(0);" on-click="@this.fire('doPage', 1)">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
{{/if}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvTender = { 
        Name: 'Tender-List', 
        Rows: 'CacheData.Tenders', 
        DetailRow: 'Tender', 
        ModalRow: 'TenderItem', 
        ModalName: '#TenderShow',
        Behavior: {
          KeyName: "array",
          Sort: "guid"
        }
      };

      self.on('doUrl', function (iUrl) {
        var fUrl =((iUrl)? iUrl: Client.getUrlData());

        if(fUrl.guid){
          var fRow = self.sync.View(self, SrvTender, { guid: fUrl.guid });
          self.sync.Sync(self, self.sync.DetailRow(SrvTender, fRow));
        } else{
          self.set(SrvTender.DetailRow, {});
          self.sync.Sync(self, SrvTender, undefined, { Page: self.get('Page') });
        }
      });
      self.on('doPage', function (iInc) {
        var fPage = self.get('Page');
        self.set('TenderView', undefined);
        document.getElementById("overlay").style.display = "none";
        if(0<=fPage){
          fPage = fPage + iInc;
        }
        self.sync.Sync(self, SrvTender, undefined, { Page: fPage });
        self.set('Page', fPage);
      });
      self.on('doView', function (iRow) {
        self.sync.Sync(self, self.sync.ViewRow(SrvTender, iRow));
      });
      self.on('doAdd', function () {
        self.sync.Sync(self, self.sync.EditRow(SrvTender, self.sync.NewRow()));
      });
      self.on('doEdit', function (iRow) {
        self.sync.Sync(self, self.sync.EditRow(SrvTender, iRow));
      });
      self.on('doSave', function (iRow) {
        self.sync.Sync(self, self.sync.SaveRow(SrvTender, iRow, 'doViewRefresh'));
      });
      self.on('doDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvTender, iRow));
      });
      self.on('doGo', function (iRow) {
        self.set('TenderView', iRow);
        document.getElementById("overlay").style.display = "block";
      });
      self.on('doClose', function (iRow) {
        self.set('TenderView', undefined);
        document.getElementById("overlay").style.display = "none";
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        CacheData: {
          Tenders: [],
          Sources: {}
        },
        Tender: {},
        TenderItem: {},
        Page: 0,
        Lng: SiteLng
      }
    }
  }
</script>