<div class="h-2 bg-cyan-500" style="height: 3px;"></div>
<h3 class="panel-title cyan-500">Tenderi</h3>
{{#CacheData.TendersIndex:i}}
<div class="padding-5">
  <a href="/tenderi#{{.guid}}">
    <h5 class="list-group-item-heading mt-0 mb-5">{{{.NazivDokumenta}}}</h5>
    <span class="list-group-item-text">{{{.Naziv}}} <small class="grey-500">{{{format.Ago(.date)}}}</small></span>
  </a>
</div>
<div style="height: 3px;"></div>
{{/}}
<br>
<a class="blue-500 pull-right" href="/tenderi#">svi tenderi <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvStat = { 
        Name: 'Tender-Index', 
        Rows: 'CacheData.TendersIndex', 
        DetailRow: 'Tender', 
        ModalRow: 'TenderItem', 
        ModalName: '#TenderShow',
        Behavior: {
          KeyName: "array",
          Sort: "guid"
        }
      };

      self.on('doUrl', function (iUrl) {
        var fUrl =((iUrl)? iUrl: Client.getUrlData());

        if(fUrl.guid){
          var fRow = (self.get(SrvStat.Rows)&&self.get(SrvStat.Rows)[fUrl.guid])? self.get(SrvStat.Rows)[fUrl.guid]: { guid:fUrl.guid, title: "", description: "", date: "" };
          self.set(SrvStat.DetailRow, fRow);
          self.sync.Sync(self, self.sync.DetailRow(SrvStat, fRow));
        } else{
          self.set(SrvStat.DetailRow, {});
          self.sync.Data(self, SrvStat);
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        Meta: {

        },
        CacheData: {
          TendersIndex: [],
          Sources: {}
        },
        Tender: {},
        TenderItem: {},
        Lng: SiteLng
      }
    }
  }
</script>