<h3 class="grey-500 text-uppercase" >Glasanja</h3>
<ul class="list-group">
  {{#CacheData.Index:i}}
  <li class="list-group-item">
    <a href="/glasanja#{{{.guid}}}" class="black font-size-24 font-weight-500">{{{.title}}}</a>
    <br>
    <small>{{{.description}}}&nbsp;</small>
  </li>
  {{/}}
</ul>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var fData = { Name: 'Vote-Index', Rows: 'CacheData.Index' };
			self.on('doRefresh', function () {
        self.sync.Data(self, fData);
			});
      self.fire('doRefresh');
    },
    data: function () {
      return {
        CacheData: {
          Votes: [],
          Sources: {}
        },
        Lng: SiteLng
      }
    }
  }
</script>