{{#if(format.isDetails(Vote))}}
<div class="row">
  <div class="{{Lng.Page.MainBS}}">
  <Element-Header row={{Vote}} title={{{Vote.title}}} url={{{Vote.guid}}} kind={{kind}}>
      <small>{{{Vote.description}}}&nbsp;</small>
    </Element-Header>
    <br>
    {{#if(format.isTrue(Vote.vote_secure))}}<span class="label label-success"><i class="fa fa-lock"></i>&nbsp;{{Lng.Vote.vote_secure.Text}}</span>&nbsp;&nbsp;{{/if}}
    {{#if(format.isTrue(Vote.vote_confirm))}}<span class="label label-success"><i class="fa fa-paper-plane"></i>&nbsp;{{Lng.Vote.vote_confirm.Text}}</span>&nbsp;&nbsp;{{/if}}
    {{#if(format.isTrue(Vote.vote_secret))}}<span class="label label-success"><i class="fa fa-user-secret"></i>&nbsp;{{Lng.Vote.vote_secret.Text}}</span>&nbsp;&nbsp;{{/if}}
    {{#if(format.isTrue(Vote.vote_live))}}<span class="label label-success"><i class="fa fa-pie-chart"></i>&nbsp;{{Lng.Vote.vote_live.Text}}</span>&nbsp;&nbsp;{{/if}}
    {{#if(format.isTrue(Vote.vote_give))}}<span class="label label-success"><i class="fa fa-gift"></i>&nbsp;{{Lng.Vote.vote_give.Text}}</span>&nbsp;&nbsp;{{/if}}
    {{#if(format.isTrue(Vote.vote_sell))}}<span class="label label-success"><i class="fa fa-money"></i>&nbsp;{{Lng.Vote.vote_sell.Text}}</span>&nbsp;&nbsp;{{/if}}
    <br><br>
    <Element-Auth Vote={{Vote}} User={{User}} VoteState={{VoteState}}></Element-Auth>
    <br>
    <Element-Vote Vote={{Vote}} User={{User}} State={{VoteState}}></Element-Vote>
    <br>
    <Element-Vote-Chart Vote={{Vote}} Stat={{Stat}} State={{VoteState}}></Element-Vote-Chart>
  </div>
  <Element-Info Title="Glasanje" row={{Vote}} Action="doEdit,disc" doAction={{doAction}}>
    <span>{{{.date_fromtime}}}&nbsp;{{{.date_totime}}}</span>
  </Element-Info>
</div>
{{else}}
<div class="row">
  {{#CacheData.Votes:i}}
  <Element-Card row={{.}} title={{.title}} url={{.guid}}>
    <small>{{{.description}}}&nbsp;</small>
  </Element-Card>
  {{/}}
</div>
<div class="row">
  <div class="col-xs-12">
    <Element-Cmd Action="doAdd" doAction={{doAction}} kind={{kind}}></Element-Cmd>
  </div>
</div>
{{/if}}
<div id="VoteShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{Lng.Vote.Dialog.Title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <Element-Input meta="{{Lng.Vote.title}}" value={{VoteItem.title}}></Element-Input>
          </div>
          <div class="col-xs-12 col-sm-3">
            <Element-Input meta={{Lng.Vote.visibility}} value={{VoteItem.visibility}}></Element-Input>
          </div>
        </div>
        <small class="text-uppercase text-default">Opcije</small>
        <table class="table">
          {{#VoteItem.options:o}}
          <tr>
            <td style="width: 20px; text-align: center;">{{{o+1}}}</td>
            <td><input class="form-control form-control-sm" type="text" placeholder="Obavezno unesite" value={{.Title}}></td>
            <td style="width: 35px; text-align: right;"><button class="btn btn-xs btn-danger" on-click="@this.fire('doVoteOptionDel', o)"><i class="fa fa-times"></i></button></td>
          </tr>
          {{/}}
          <tr>
            <td style="width: 20px; text-align: center;">{{{VoteItem.options.length+1}}}</td>
            <td><input class="form-control form-control-sm" type="text" placeholder="Obavezno unesite" value={{OptionTitleAdd}}></td>
            <td style="width: 35px; text-align: right;"><button class="btn btn-xs btn-primary" on-click="@this.fire('doVoteOptionAdd', OptionTitleAdd)"><i class="fa fa-check"></i></button></td>
          </tr>
        </table>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <Element-Input meta="{{Lng.Vote.vote_count}}" value={{VoteItem.vote_count}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-2">
            <Element-Input meta="{{Lng.Vote.date_fromtime}}" value={{VoteItem.date_fromtime}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.date_fromdate}}" value={{VoteItem.date_fromdate}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-2">
            <Element-Input meta="{{Lng.Vote.date_totime}}" value={{VoteItem.date_totime}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.date_todate}}" value={{VoteItem.date_todate}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.vote_secret}}" value={{VoteItem.vote_secret}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.vote_live}}" value={{VoteItem.vote_live}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.vote_confirm}}" value={{VoteItem.vote_confirm}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.vote_give}}" value={{VoteItem.vote_give}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.vote_sell}}" value={{VoteItem.vote_sell}}></Element-Input>
          </div>
        </div>
        <small class="text-uppercase text-default">Autentifikacija</small>
        <table class="table">
          {{#VoteItem.auth_list:a}}
          <tr>
            <td style="width: 30px;"><input type="checkbox" checked={{.Status}}></td>
            <td style="width: 30px;"><i class="{{{.Icon}}}"></i></td>
            <td>{{{.Title}}}</td>
            <td style="width: 90px;"><input type="number" class="form-control form-control-sm" placeholder="ponder" value={{.Points}}></td>
          </tr>
          {{/}}
        </table>
        <small class="text-uppercase text-default">Bodovanje</small>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.points_auth}}" value={{VoteItem.points_auth}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.points_social}}" value={{VoteItem.points_social}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.points_education}}" value={{VoteItem.points_education}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.points_activity}}" value={{VoteItem.points_activity}}></Element-Input>
          </div>
        </div>
        <small class="text-uppercase text-default">Objavi</small>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.share_facebook}}" value={{VoteItem.share_facebook}}></Element-Input>
          </div>
          <div class="col-xs-6 col-sm-3">
            <Element-Input meta="{{Lng.Vote.share_twitter}}" value={{VoteItem.share_twitter}}></Element-Input>
          </div>
        </div>
        <br>
        <Element-Input meta={{Lng.Vote.description}} value={{VoteItem.description}}></Element-Input>
    </div>
      <div class="modal-footer">
        <Element-Cmd row={{VoteItem}} Action="doDialog" doAction={{doAction}} kind={{kind}}></Element-Cmd>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var SrvVote = {
        Name: 'Vote-List',
        Rows: 'CacheData.Votes',
        DetailRow: 'Vote',
        ModalRow: 'VoteItem',
        ModalName: '#VoteShow',
        Behavior: {
          KeyName: "guid",
          Validate: "Vote"
        }
      };
      var SrvAuthList = {
        Name: 'Vote-Auth-List',
        Rows: 'CacheData.AuthList',
      };
      self.sync.Sync(self, SrvAuthList);
      self.on('doUrl', function (iUrl) {
        var fUrl =Client.getUrlData();

        switch(fUrl.cmd){
          case "list":
          self.sync.Sync(self, self.sync.Refresh(SrvVote, self));
          break;
          case "add":
            var fRow = self.sync.NewRow({ auth_list: self.get('CacheData.AuthList'), options: [] }, SiteLng.Vote);
            self.sync.New(self, SrvVote, fRow);
            if(Format.getCount(self.get(SrvVote.Rows))==0){
              self.sync.Sync(self, self.sync.Refresh(SrvVote, self));
            }
            break;
          case "detail":
            self.set('Vote', {});
            self.set('VoteState', "");
            self.set('User', {});
            var fRow = self.sync.View(self, SrvVote, { guid: fUrl.guid });
            self.sync.Sync(self, self.sync.DetailRow(SrvVote, fRow));
            break;
          default:
          break;
        }
      });
      self.on('doVoteOptionAdd', function (iTitle) {
        if(Format.isEmpty(iTitle)){
          return;
        }
        self.push('VoteItem.options', { Title: iTitle });
        self.set('OptionTitleAdd', '');
      });
      self.on('doVoteOptionDel', function (iIndex) {
        self.splice('VoteItem.options', iIndex, 1);
     });
      self.on('doView', function (iRow) {
        self.sync.Sync(self, self.sync.ViewRow(SrvVote, iRow));
      });
      self.on('doAdd', function (iRow) {
        var fRow = self.sync.NewRow({ auth_list: self.get('CacheData.AuthList'), options: [] }, SiteLng.Vote);
        self.sync.New(self, SrvVote, fRow);
      });
      self.on('doEdit', function (iRow) {
        self.sync.Sync(self, self.sync.EditRow(SrvVote, iRow, self));
     });
      self.on('doSave', function (iRow) {
        if(Format.isNotEmpty(self.get('OptionTitleAdd'))){
          self.push('VoteItem.options', { Title: self.get('OptionTitleAdd') });
          self.set('OptionTitleAdd', '');
        }
        self.sync.Sync(self, self.sync.SaveRow(SrvVote, iRow, self));
      });
      self.on('doDelete', function (iRow) {
        self.sync.Sync(self, self.sync.DeleteRow(SrvVote, iRow, self));
      });
      self.observe('doAction', function(n,o){
        if(n){
          self.fire(n);
        }
      });
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        if(self.isEcho()) console.log('doEvent', iMessage, iData, iFrom, iTo);
        switch (iMessage) {
          case "Vote.Stat":
          if(iData.guid==self.get('Vote.guid')){
            self.set('Stat', iData);
          }
          break;
        }
      });
      self.fire('doUrl');
    },
    data: function () {
      return {
        kind: "Vote",
        CacheData: {
          Votes: {},
          AuthList: {}
        },
        doAction: '',
        Vote: {},
        VoteState: "",
        User: {},
        Lng: SiteLng
      }
    }
  }
</script>