<footer>
  <div class="row margin-top-30">
    <div class="col-sm-4">
      <div class="text-uppercase gray-800 text-left"><span style="font-weight: 700; color: #9e9e9e;">Stranice</span></div>
      <div class="text-left">
        {{Site.MenuFooter}}
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="text-uppercase gray-800 text-center"><span style="font-weight: 700; color: #9e9e9e;">Resursi</span></div>
      <div class="text-left">
        {{Site.MenuResource}}
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="text-uppercase gray-800 text-right"><span style="font-weight: 700; color: #9e9e9e;">Podeli</span></div>
      <div class="social text-right">
        {{Site.MenuSocial}}
      </div>
    </div>
  </div>
  <div style="height: 40px;"></div>
  <small><a href="{{Site.Webhref}}">{{Site.Website}}</a> © {{Site.Year}}.</small>
  <div style="height: 40px;"></div>
</footer>