<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/res/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/res/js/bootstrap-dd.js"></script>
<script src="/res/js/components/animsition.min.js"></script>
<script src="/res/vendor/waves/waves.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/jquery.raty.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.js"></script>
<script src="/config.js"></script>
<script src="/client.js"></script>