<nav>
  <table style="width: 100%;">
    <tr>
      <td style="width: 50px;"><a href="/"><img src="{{Site.Logo}}" style="width: 32px; height: 32px;"></a></td>
      <td>
        <span class="font-size-30 font-weight-500 black margin-top-5 hidden-xs"><span class="text-uppercase">{{Title}}</span></span>&nbsp;<small>DirDEMO</small>
        <span class="font-size-20 font-weight-500 black text-uppercase margin-top-5 visible-xs">{{Title}}</span>
      </td>
      <td>
        <div class="pull-right dd-frame" data-frame="Session-Menu" id="Session-Menu">
          <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Obavestenja" aria-expanded="false" data-animation="scale-up" role="button">
                <i class="fa fa-bell fa-2x grey-400" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="/auth" title="Pristupite sistemu" role="button"><i class="fa fa-user-circle fa-2x grey-400"></i></a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
  <div style="text-transform: uppercase; font-size: normal;">
    {{Site.MenuMain}}
  </div>
</nav>