<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Vesti - politi&#269;ke informacije iz Srbije.">
<meta name="author" content="direktnademokratija ">
<meta property="og:title" content="Vesti - DirektnaDemokratija">
<meta property="og:description" content="Vesti - politi&#269;ke informacije iz Srbije.">
<meta property="og:url" content="https://direktnademokratija.com">
<meta property="og:image" content="res/img/site-thumbnail-lg-01.png">
<link rel="alternate" href="sr" hreflang="sr-rs">

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="{{google-signin-client_id}}">
<script src="//apis.google.com/js/platform.js" async defer></script>
<!--<title>{{Title}}</title>
  <script src="//www.google.com/recaptcha/api.js?render={{google-recaptcha-site_key}}"></script>
  <link rel="stylesheet" href="https://getbootstrapadmin.com/remark/material/base/assets/skins/green.css1">
-->
<link rel="apple-touch-icon" sizes="57x57" href="/res/img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/res/img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/res/img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/res/img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/res/img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/res/img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/res/img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/res/img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/res/img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/res/img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/res/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/res/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/res/img/favicon-16x16.png">
<link rel="manifest" href="/res/img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<script defer src="https://apis.google.com/js/platform.js"></script>
<script defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyAZT8PeFvbhVvsRQJcBd0JVpBSyNLfLhoc&libraries=visualization"></script>