<div class="col-xs-12 col-md-6 col-lg-3 dd-card">
  <a href="#{{url}}">
    <div style="border-left: 3px solid #{{format.Color(title)}};" on-click="@this.fire('doUrl')">
      {{#if(icon)}}<img src={{format.Src(icon)}} width="48" height="48" class="pull-right">{{/if}}
      <h4 class="grey-900">{{{title}}}</h4>
      {{#row}}
      {{>content}}
      {{/row}}
    </div>
  </a>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      self.on('doUrl', function () {
        var fUrl = self.get('url');
        window.location.hash = fUrl;
      });
    },
    data: function () {
      return {
        title: "",
        url: "",
        row: {},
        icon: "",
        Lng: SiteLng
      }
    }
  }
</script>