<div style="height: 3px;"></div>
<div class="row">
  <div class="col-xs-6 text-uppercase text-left">
    <a href="/" class="crumb"><i class="fa fa-home grey-400" aria-hidden="true"></i></a>
    &nbsp;
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    &nbsp;
    <a href="#" class="crumb">{{{format.Title(kind)}}}</a>
    {{#if(row&&row.guid)}}
    &nbsp;
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    &nbsp;
    <a href="#{{{row.guid}}}" class="crumb">{{{row.title}}}</a>
    {{else}}
    &nbsp;
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    &nbsp;
    <span class="crumb">Lista</span>
    {{/if}}
  </div>
  <div class="col-xs-6 text-uppercase text-right">
    {{#if(row&&row.guid)}}
    &nbsp;
    {{else}}
    {{#if(format.isAdmin())}}
      {{>content}}
      {{#if(isAction("doAdd"))}}
      <a href="javascript:void(0)" class="btn btn-xs btn-link dd-action" on-click="@this.fire('setAction', 'doAdd')">Dodaj&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;<a href="javascript:void(0)" class="btn btn-xs btn-link dd-action" on-click="@this.fire('setAction', 'doFilter')">Filter&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
      {{/if}}
    {{else}}
    {{/if}}
    {{/if}}
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      self.on('setAction', function (iAction) {
        self.set('doAction', '');
        self.set('doAction', iAction);
      });
    },
    data: function () {
      return {
        row: {},
        kind: "",
        Action: "",
        doAction: "",
        Lng: SiteLng,
        canChange: function(iRow){
          if(Global&&Global.Session&&Global.Session.UserUID&&(iRow.rev==0)){
            return true;
          }
          if(Global&&Global.Session&&iRow&&iRow.session&&(Global.Session.UserUID==iRow.session.UserUID)){
            return true;
          }
          if(Global&&Global.Session&&Global.Session.UserAdmin&&this.get('kind')&&(Global.Session.UserAdmin[this.get('kind').toLocaleLowerCase()])){
            return true;
          }
          return false;
        },
        isAction: function(iValue){
          return (iValue&&this.get('Action').toLocaleLowerCase().indexOf(iValue.toLocaleLowerCase())!=-1);
        }
      }
    }
  }
</script>