{{#if(row)}}
<div id="{{id}}" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: {{formatColor(kind, row)}};">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">{{{format.Title(kind)}}}</h4>
      </div>
      <div class="modal-body">
        {{#row}}
        {{>content}}
        {{/}}
      </div>
      <div class="modal-footer">
        <Element-Cmd row={{row}} Action="doDialog" doAction={{doAction}} kind={{kind}}></Element-Cmd>
      </div>
    </div>
  </div>
</div>
{{/if}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      self.on('setAction', function (iAction) {
        self.set('doAction', '');
        self.set('doAction', iAction);
      });
    },
    data: function () {
      return {
        id: "",
        kind: "",
        row: {},
        Lng: SiteLng,
        formatColor: function(iTitle, iRow){
          var fTitle = "";

          if(iTitle){
            fTitle = iTitle;
            if(SiteLng&&SiteLng[fTitle]&&SiteLng[fTitle].Color){
              return SiteLng[fTitle].Color;
            }
          }else{
            fTitle = (row.title)? row.title:"XXXX";
          }

          return '#'+Format.formatColor(fTitle);
        }
      }
    }
  }
</script>