<a class="{{Lng.Disc.Button.Show.Class}} {{class}}"  href="/diskusija#{{Row.guid}}/add/?{{{format.Base64( { title: Row.title, description: Row.description } )}}}">{{{Lng.Disc.Button.Show.Text}}}{{#if(MsgCount)}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge up">{{MsgCount}}</span>{{else}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge up">zapocni</span>{{/if}}</a>
<script>
  component.exports ={
    onrender: function ( options ) {
      var self = this;
      var SrvDisc = { 
        Name: 'Disc-List', 
        Rows: 'CacheData.Discs', 
        DetailRow: 'Disc', 
        ModalRow: 'DiscItem', 
        ModalName: '#DiscShow' 
      };
      self.on('doRefresh', function (e){
        var fGuid = self.get('Row.guid');
        if(fGuid){
          self.sync.Sync(self, SrvDisc, 'detail', { guid: fGuid }, function(oSelf, oService, oData){
            if(oData&&oData.msg_count){
              self.set('MsgCount', oData.msg_count);
            }else{
              self.set('MsgCount', 0);
            }
          });
        }else{
          self.set('MsgCount', 0);
        }
      });
      self.observe('Row.guid', function(n,o){
         self.fire('doRefresh');
      });
    },
    data:function() {
      return { 
        Row: {},
        kind: "",
        MsgCount: 0,
        class: "",
        Lng:SiteLng
      }
    }
  }
</script>