<div style="border-left: 3px solid #{{format.Color(title)}}; padding-left: 8px; padding-top: 3px;padding-bottom: 3px;">
  <h4>{{{title}}}</h4>
</div>
{{#if(row)}}
<div id="HeadRowShow" class="modal fade modal-default in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">Info</h4>
        <small><i class="fa fa-hashtag"></i>&nbsp;{{row.guid}}</small>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          {{#if(row.title)}}
          <dt>Naziv</dt><dd><b>{{{row.title}}}</b>&nbsp;</dd>
          {{/if}}
          {{#getRow(row):i}}
          <dt>{{{.Name}}}</dt><dd><span class=" text-break">{{{.Value}}}</span></dd>
          {{/}}
          {{#if(row.description)}}
          <dt>...</dt><dd>{{{row.description}}}&nbsp;</dd>
          {{/if}}
        </dl>
        <br>
        <small><i class="fa fa-user-circle" style="color: #{{format.Color(row.session.UserUID)}};"></i>&nbsp;{{{formatUser(row)}}}&nbsp;&nbsp;{{{format.Ago(row.date)}}}&nbsp;rev <span class="badge">{{{row.rev}}}</span></small>  
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.CancelSB.Class}}" data-dismiss="modal">{{{Lng.Dialog.CancelSB.Text}}}</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      self.on('doInfo', function () {
        if(self.get('row')){
          $('#HeadRowShow').modal('show');
        }
      });
      self.on('doUrl', function () {
        var fUrl = self.get('url');
        window.location.hash = fUrl;
      });
    },
    data: function () {
      return {
        title: "",
        kind: "",
        url: "",
        row: {},
        formatUser: function(iValue){
          return (iValue&&iValue.session&&iValue.session.UserName)? iValue.session.UserName:"Anonimus";
        },
        getRow: function(iRow){
          var fResult = [];
          for(var fKey in iRow){
            if((fKey=='guid')||(fKey=='date')||(fKey=='rev')||(fKey=='session')||(fKey=='title')||(fKey=='description')){
              continue;
            };
            var fKeyName = fKey;
            if(this.get('kind')&&SiteLng&&(fLng = SiteLng[this.get('kind')])&&(fLng[fKey])&&((fLng[fKey]).Text)){
              fKeyName = fLng[fKey].Text;
            }
            var fValue = iRow[fKey];
            if(typeof(iRow[fKey])=="object"){
              fValue = JSON.stringify(iRow[fKey]);//"obj";
            }
            fResult.push({ Name: fKeyName, Value: fValue });
          }

          return fResult;
        },
        Lng: SiteLng
      }
    }
  }
</script>