{{#if(ShowDiv)}}
<div class="col-xs-12 col-sm-4">
  <div class="panel panel-primary panel-transparent">
    <div class="panel-heading">
      <h3 class="panel-title">{{#if(Title)}}{{{Title}}}{{else}}{{{row.title}}}{{/if}}</h3>
    </div>
    <div class="panel-body">
      <strong>{{{row.title}}}</strong>
      <p>{{{row.description}}}&nbsp;</p>
      {{#row}}
      {{>content}}
      {{/}}
      <br><br>
      <small><i class="fa fa-user-circle" style="color: #{{format.Color(row.session.UserUID)}};"></i>&nbsp;{{{formatUser(row)}}}&nbsp;&nbsp;{{{format.Ago(row.date)}}}&nbsp;rev <span class="badge">{{{row.rev}}}</span></small>
    </div>
    <div class="panel-footer">
      {{#if(isAction('doDisc')||isAction('disc'))}}
      <Element-Discusion1 Row={{row}} kind={{kind}}></Element-Discusion1>
      {{/if}}
      {{#if(session.UserAuth)}}
        {{#if(isAction('doWent')||isAction('went'))}}
        <button class="{{Lng.Dialog.Went.Class}}" on-click="@this.fire('setAction', 'doWent')">{{{Lng.Dialog.Went.Text}}}</button>
        {{/if}}
        {{#if(isAction('doEdit')||isAction('edit'))}}
        <button class="{{Lng.Dialog.Edit.Class}}" on-click="@this.fire('setAction', 'doEdit')">{{{Lng.Dialog.Edit.Text}}}</button>
        {{/if}}
        {{#if(row.deleted)}}
        <button class="{{Lng.Dialog.Restore.Class}}" on-click="@this.fire('setAction', 'doRestore')">{{{Lng.Dialog.Restore.Text}}}</button>
        {{/if}}
      {{else}}
      <a href="/auth" class="{{Lng.Button.AuthLink.Class}}">{{{Lng.Button.AuthLink.Text}}}</a>
      {{/if}}
    </div>
  </div>
</div>
{{else}}
<div class="panel panel-primary panel-transparent">
  <div class="panel-heading">
    <h3 class="panel-title">{{{row.title}}}</h3>
  </div>
  <div class="panel-body">
    <br>
    <p>{{{row.description}}}&nbsp;</p>
    {{#row}}
    {{>content}}
    {{/}}
    <br><br>
    <small><i class="fa fa-user-circle" style="color: #{{format.Color(row.session.UserUID)}};"></i>&nbsp;{{{formatUser(row)}}}&nbsp;&nbsp;{{{format.Ago(row.date)}}}&nbsp;rev <span class="badge">{{{row.rev}}}</span></small>
  </div>
  <div class="panel-footer">
    {{#if(isAction('doDisc')||isAction('disc'))}}
    <Element-Discusion1 Row={{row}} kind={{kind}}></Element-Discusion1>
    {{/if}}
    {{#if(session.UserAuth)}}
      {{#if(isAction('doWent')||isAction('went'))}}
      <button class="{{Lng.Dialog.Went.Class}}" on-click="@this.fire('setAction', 'doWent')">{{{Lng.Dialog.Went.Text}}}</button>
      {{/if}}
      {{#if(isAction('doEdit')||isAction('edit'))}}
      <button class="{{Lng.Dialog.Edit.Class}}" on-click="@this.fire('setAction', 'doEdit')">{{{Lng.Dialog.Edit.Text}}}</button>
      {{/if}}
      {{#if(row.deleted)}}
      <button class="{{Lng.Dialog.Restore.Class}}" on-click="@this.fire('setAction', 'doRestore')">{{{Lng.Dialog.Restore.Text}}}</button>
      {{/if}}
    {{else}}
    <a href="/auth" class="{{Lng.Button.AuthLink.Class}}">{{{Lng.Button.AuthLink.Text}}}</a>
    {{/if}}
  </div>
</div>
{{/if}}
<script>
  component.exports ={
      onrender: function ( options ) {
        var self = this;
        self.on('setAction', function (iAction) {
          self.set('doAction', '');
          self.set('doAction', iAction);
        });
      },
      data:function() { 
          return { 
            row: {},
            kind: "",
            Action: "",
            doAction: "",
            ShowDiv: true,
            isAction: function(iValue){
              return (iValue&&this.get('Action').toLocaleLowerCase().indexOf(iValue.toLocaleLowerCase())!=-1);
            },
            formatUser: function(iValue){
              return (iValue&&iValue.session&&iValue.session.UserName)? iValue.session.UserName:"Anonimus";
            },
            Title: "",
            Lng:SiteLng
          }
      }
  }
</script>