<div class="row">
  {{#rows:r}}
  {{#if(format.hasView(., kind))}}
  <div class="col-xs-12 col-md-6 col-lg-3 dd-card">
    <a href="#{{.guid}}">
      <div style="border-left: 3px solid #{{format.Color(.title)}};" on-click="@this.fire('doUrl')">
        {{#if(icon)}}<img src={{format.Src(icon)}} width="48" height="48" class="pull-right">{{/if}}
        <h4 class="grey-900">{{{.title}}}</h4>
        {{>content}}
      </div>
    </a>
  </div>
  {{/if}}
  {{/}}
  <div class="col-xs-12">
    <Element-Cmd Action={{Action}} doAction={{doAction}} kind={{kind}}></Element-Cmd>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      self.on('setAction', function (iAction) {
        self.set('doAction', '');
        self.set('doAction', iAction);
      });
    },
    data: function () {
      return {
        rows: {},
        row: {},
        kind: "",
        icon: "",
        Action: undefined,
        doAction: "",
        Lng: SiteLng,
        canChange: function(iRow){
          if(Global&&Global.Session&&Global.Session.UserUID&&(iRow.rev==0)){
            return true;
          }
          if(Global&&Global.Session&&iRow&&iRow.session&&(Global.Session.UserUID==iRow.session.UserUID)){
            return true;
          }
          if(Global&&Global.Session&&Global.Session.UserAdmin&&this.get('kind')&&(Global.Session.UserAdmin[this.get('kind').toLocaleLowerCase()])){
            return true;
          }
          return false;
        },
        isAction: function(iValue){
          return (iValue&&this.get('Action').toLocaleLowerCase().indexOf(iValue.toLocaleLowerCase())!=-1);
        }
      }
    }
  }
</script>