<ul class="pagination" style="margin: 0px;">
  <li class="page-item {{#if(page==0)}}disabled{{/if}}">
    <a class="page-link" href="javascript:void(0);" on-click="@this.fire('doPage', -1)">&laquo;</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="javascript:void(0);">{{page+1}}/{{PageCount+1}}</a>
  </li>
  <li class="page-item {{#if(PageCount<=page)}}disabled{{/if}}">
    <a class="page-link" href="javascript:void(0);" on-click="@this.fire('doPage', 1)">&raquo;</a>
  </li>
</ul>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      self.on('doPage', function (iInc) {
        var fPage = self.get('Page');
        if(0<=(fPage + iInc)){
          fPage = fPage + iInc;
        }
        self.set('page', fPage);
      });
      self.observe('rows', function (n,o) {
        if(n){
          var fCount = Format.getCount(n);
            self.set('PageCount', Math.round(fCount/50));
        }
      });
    },
    data: function () {
      return {
        rows: [],
        page: 0,
        PageCount: 0,
        Lng: SiteLng,
        getCount: function(){
          if(fRows = this.get('rows')){
            var fCount = Format.getCount(fRows);
            return Math.round(fCount/50);
          }

          return '?';
        }
      }
    }
  }
</script>