<div class="text-right">
  <a href="javascript:void(0);" on-click="@this.fire('doAirCheck')">proveri audio i video opremu&nbsp;<i class="fa fa-headphones" aria-hidden="true"></i></a> 
</div>
<div class="row">
  <div class="col-4 col-sm-3 col-xs-6">
    <div class="dd-user-active">
      <div>
        <strong><i class="fa fa-user-circle" style="color: #{{format.Color(UserActive.UserUID)}};"></i>&nbsp;{{{UserActive.UserName}}}</strong>
        <span class="label label-success pull-right">{{{UserActive.aircount}}}</span>
      </div>
      <video id="UserActiveVideo" autoplay=""></video>
    </div>
    {{#if(isMe(UserActive))}}
    {{#if(AirMe.Active)}}
    <button class="btn btn-sm btn-block btn-danger text-uppercase" on-click="@this.fire('doTalkMute')"><i class="fa fa-microphone-slash"></i>&nbsp;Mutiraj</button> 
    {{else}}
    <button class="btn btn-sm btn-block btn-success text-uppercase" on-click="@this.fire('doTalk')"><i class="fa fa-microphone"></i>&nbsp;Pricaj{{#if(UserActive.start_ttl)}}&nbsp;&nbsp;&nbsp;<span class="badge up">{{{UserActive.start_ttl}}}</span>{{/if}}</button> 
    {{/if}}
    <button class="btn btn-sm btn-block btn-warning text-uppercase" on-click="@this.fire('doTalkLeave', UserWaiting)"><i class="fa fa-times"></i>&nbsp;otkazi{{#if(UserActive.cancel_ttl)}}&nbsp;&nbsp;&nbsp;<span class="badge up">{{{UserActive.cancel_ttl}}}</span>{{/if}}</button> 
    {{else}}
    <button class="btn btn-sm btn-block btn-default text-uppercase" on-click="@this.fire('doReq', 'Talk')"><i class="fa fa-bullhorn"></i>&nbsp;Rec</button> 
    <button class="btn btn-sm btn-block btn-default text-uppercase" on-click="@this.fire('doReq', 'Reply')"><i class="fa fa-reply"></i>&nbsp;Replika</button> 
    {{/if}}  
    </div>
  <div class="col-8 col-sm-9 col-xs-6">
    {{#UserWaiting:w}}
    {{#if(.Action=="Reply")}}
    <button class="btn btn-xs btn-default" on-click="@this.fire('doReqShow', .)"><i class="fa fa-reply" style="color: #{{format.Color(.User.UserUID)}};"></i>&nbsp;{{{format.Name(.User.UserEmail)}}}</button>&nbsp;
    {{/if}}
    {{#if(.Action=="Talk")}}
    <button class="btn btn-xs btn-default" on-click="@this.fire('doReqShow', .)"><i class="fa fa-bullhorn" style="color: #{{format.Color(.User.UserUID)}};"></i>&nbsp;{{{format.Name(.User.UserEmail)}}}</button>&nbsp;
    {{/if}}
    {{/}}
  </div>
</div>
<div style="margin-bottom: 3px;margin-top: 10px;">
  <button class="btn btn-xs btn-default" on-click="@this.fire('doAuthListShow', Parcipients)"><i class="fa fa-user-secret"></i></button>
  {{#row.moderators:m}}&nbsp;
    {{#if(isSame(UserMe.UserEmail, .))}}
    <button class="btn btn-xs btn-info" on-click="@this.fire('doUserShow', .)"><i class="fa fa-user-circle" style="color: #{{format.Color(.)}};"></i>&nbsp;{{{format.Name(.)}}}</button>
    {{else}}
    <button class="btn btn-xs btn-default" on-click="@this.fire('doUserShow', .)"><i class="fa fa-user-circle" style="color: #{{format.Color(.)}};"></i>&nbsp;{{{format.Name(.)}}}</button>
    {{/if}}
  {{/}}
</div>
<div style="margin-bottom: 3px;margin-top: 3px;">
  <button class="btn btn-xs btn-default" on-click="@this.fire('doAuthListShow', Parcipients)"><i class="fa fa-users"></i></button>
  {{#row.parcipients:p}}&nbsp;
    {{#if(isSame(UserMe.UserEmail, .))}}
    <button class="btn btn-xs btn-info" on-click="@this.fire('doUserShow', .)"><i class="fa fa-user-circle" style="color: #{{format.Color(.)}};"></i>&nbsp;{{{format.Name(.)}}}</button>
    {{else}}
    <button class="btn btn-xs btn-default" on-click="@this.fire('doUserShow', .)"><i class="fa fa-user-circle" style="color: #{{format.Color(.)}};"></i>&nbsp;{{{format.Name(.)}}}</button>
    {{/if}}
  {{/}}
</div>
<div id="UserShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">Ucesnik</h4>
        <small><i class="fa fa-hashtag"></i>{{{UserItem}}}</small>
      </div>
      <div class="modal-body">
        {{{UserItem}}}
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.CancelSB.Class}}" data-dismiss="modal">{{{Lng.Dialog.CancelSB.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<div id="ReqShow" class="modal fade modal-info in" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">Akcije</h4>
        <small><i class="fa fa-hashtag"></i>&nbsp;{{{ReqItem.guid}}}</small>
      </div>
      <div class="modal-body">
        <span>{{{ReqItem.Action}}}</span>
        <br>
        <span style="font-size: larger; font-weight: bold;">{{{ReqItem.User.UserName}}}</span>
        <br>
        <small>{{format.Ago(ReqItem.date)}}</small>
        <br>
        {{#if(format.hasMod(row, kind))}}
        <button class="{{Lng.Dialog.Save.Class}}" on-click="@this.fire('doReqFirst', ReqItem)">{{{Lng.Dialog.Save.Text}}}</button>
        <button class="{{Lng.Dialog.Delete.Class}}" on-click="@this.fire('doReqDelete', ReqItem)">{{{Lng.Dialog.Delete.Text}}}</button>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button class="{{Lng.Dialog.CancelSB.Class}}" data-dismiss="modal">{{{Lng.Dialog.CancelSB.Text}}}</button>
      </div>
    </div>
  </div>
</div>
<div id="AirCheckShow" class="modal fade modal-primary in" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-uppercase">Provera</h4>
      </div>
      <div class="modal-body">
        <small>Audio</small>
        <select class="form-control" value={{AirCheck.audioId}}>
          <option value="">(none)</option>
          {{#AirCheck.audioList:a}}
          <option value="{{.deviceId}}">{{.label}}</option>
          {{/}}
        </select>
        <small>Video</small>
        <select class="form-control" value={{AirCheck.videoId}}>
          <option value="">(none)</option>
          {{#AirCheck.videoList:a}}
          <option value="{{.deviceId}}">{{.label}}</option>
          {{/}}
        </select>
        <video id="me" autoplay="" style="width: 100%;"></video>
        <small>
          <button on-click="@this.fire('doAirStart', AirCheck)">G</button> 
          <button on-click="@this.fire('doAirStop', AirCheck)">E</button>
        </small>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success waves-effect waves-light" on-click="@this.fire('doMediaSave')"><span><i class="fa fa-check" aria-hidden="true"></i>&nbsp;prihvati</span></button>
      </div>
    </div>
  </div>
</div>
<script>
  component.exports = {
    onrender: function (options) {
      var self = this;
      var AirMe = Client.Air;
      var noSleep = new NoSleep();
      noSleep.enable();
      self.set('AirMe', AirMe);
      var SrvViewers = { Name: 'Disc-Viewers',  Rows: 'Viewers' };
      var SrvReq = { Name: 'Disc-Req',  Rows: 'UserWaiting' };
      self.set('UserMe', Global.Session);
      if(!Global.Display.Callbacks){
        Global.Display.Callbacks = {};
      }
      if(!Global.Display.Callbacks.Events){
        Global.Display.Callbacks.Events = {};
      }
      Global.Display.Callbacks.Events['Parlament'] = this;
      self.on('doEvent', function (iMessage, iData, iFrom, iTo) {
        if(self.isEcho()) console.log('doEvent2222', iMessage, iData, iFrom, iTo);
        switch (iMessage) {
          case "Disc.Req":
            if(iData.pguid==self.get('row.guid')){
              self.set(SrvReq.Rows, iData.Reqs);
            }
          break;
        }
      });
      self.on('doUserShow', function (iRow) {
        self.set('UserItem', iRow);
        $('#UserShow').modal('show');
      });
      self.on('doReq', function (iAction) {
        self.sync.Sync(self, SrvReq, iAction, { Action: iAction, guid: Global.Session.UserEmail, pguid: self.get('Disc.guid'), date: Client.getNow() });
      });
      self.on('doReqDelete', function (iReq) {
        self.sync.Sync(self, SrvReq, 'delete', iReq);
      });
      self.on('doTalkLeave', function (iReqs) {
        AirMe.stop();
        self.set('AirMe', AirMe);
        for (var key in iReqs) {
            if(fFirst=iReqs[key]){
              if(fFirst.User.UserUID==Global.Session.UserUID){
                self.sync.Sync(self, SrvReq, 'delete', fFirst);
              }else{
                return false;
              }
            }
          }
      });
      self.on('doReqShow', function (iRow) {
        self.set('ReqItem', iRow);
        $('#ReqShow').modal('show');
      });
      self.on('doViewers', function (iRow) {
        var fRow = iRow? iRow:self.get('row');
        if(fRow&&fRow.guid){
          //self.sync.Sync(self, SrvViewers, undefined, { pguid: fRow.guid });
        }
      });
      self.on('doTalk', function (iRow) {
        AirMe.stop();
        AirMe.Media.video = document.querySelector('#UserActiveVideo');
        AirMe.start();
        self.set('AirMe', AirMe);
      });
      self.on('doTalkMute', function (iRow) {
        AirMe.stop();
        self.set('AirMe', AirMe);
      });
			self.observe('row', function(n,o){
				if(n&&n.guid){
          self.fire('doViewers', n);
          self.sync.Sync(self, SrvReq, undefined, { pguid: n.guid });
				}
      });

/*       function gotDevices(deviceInfos) {
        window.deviceInfos = deviceInfos; // make available to console
        console.log('Available input and output devices:', deviceInfos);
        for (const deviceInfo of deviceInfos) {
          const option = document.createElement('option');
          option.value = deviceInfo.deviceId;
          if (deviceInfo.kind === 'audioinput') {
            option.text = deviceInfo.label || `Microphone ${audioSelect.length + 1}`;
            audioSelect.appendChild(option);
          } else if (deviceInfo.kind === 'videoinput') {
            option.text = deviceInfo.label || `Camera ${videoSelect.length + 1}`;
            videoSelect.appendChild(option);
          }
        }
      } */
      var AirMe = Client.Air;
      AirMe.getDevices();

      self.on('doAirCheck', function () {
        $('#AirCheckShow').modal('show');

        AirMe.Media.video = document.querySelector('#me');
        AirMe.start();
        self.set('AirCheck', AirMe);
      });
      self.on('doAirStart', function (iRow) {
        iRow.start();
      });
      self.on('doAirStop', function (iRow) {
        iRow.stop();
      });
      var AirMeInterval;
      var AirMeCountdown = function(){
        var fUserCountdown = self.get('UserActive');
        fUserCountdown.aircount = fUserCountdown.aircount+1;
        if(fUserCountdown.start_ttl){
          fUserCountdown. start_ttl = fUserCountdown.start_ttl-1;
          if(fUserCountdown. start_ttl<1){
            self.fire('doTalk', AirMe);
          }
        }
        if(fUserCountdown.cancel_ttl){
          fUserCountdown.cancel_ttl = fUserCountdown.cancel_ttl-1;
          if(fUserCountdown.cancel_ttl<1){
            self.fire('doTalkLeave', self.get('UserWaiting'));
          }
        }
        if((fUserCountdown.cancel_ttl==0)&&((fUserCountdown.airmax-fUserCountdown.aircount)<10)){
            fUserCountdown.cancel_ttl = (fUserCountdown.airmax-fUserCountdown.aircount);
        }
        self.set('UserActive', fUserCountdown);
      }
      self.on('doAirChange', function (iRow, iShowMessage) {
        var fIsMe = (iRow.User.UserUID==Global.Session.UserUID);
              //self.set('UserIsMe', fIsMe);
        if(fIsMe){
          var fUserActive = self.get("UserActive");
          if(iShowMessage){
            var fMsg = {
                Title: "Vi ste na redu",
                Text: "Pritisnite pricaj ili sacekajte 10 sekundi"
              };
            Client.MessageShow(fMsg, { type:"desktop", timeOut: 5000 });
          }
          var fAirMax = 10;
          if(iRow.Action=="Talk"){
            fAirMax = self.get('row.parlament_talk');
          }
          if(iRow.Action=="Reply"){
            fAirMax = self.get('row.parlament_reply');
          }
          fUserActive.airmax = fAirMax,
          fUserActive.aircount = 0;
          fUserActive.airtime = 0;
          fUserActive.cancel_ttl = 0;
          fUserActive.start_ttl = 3;
          fUserActive.date = Client.getNow();
          
          self.set('UserActive', fUserActive);
          if(AirMeInterval){
            clearInterval(AirMeInterval);
          }
          AirMeInterval = setInterval(AirMeCountdown, 1000);
        }
      });
			self.observe('refresh', function(n,o){
        if(n){
          self.fire('doViewers');
        }
      });
      self.observe('UserWaiting', function(n,o){
        if(n){
          console.log('n', n, self.get('row'));
          var fUserChange = false;
          for (var key in n) {
            if(fFirst=n[key]){
              if(self.get('UserActive.UserUID')!=fFirst.User.UserUID){
                fUserChange = true;
              }
              self.set('UserActive', fFirst.User);
              self.fire('doAirChange', fFirst, fUserChange);
              return ;
            }
          }
          self.set('UserActive', {});
        }else{
          self.set('UserActive', {});
        }
			});
    },
    data: function () {
      return {
        kind: "Disc",
        Moderators: [],
        Parcipients: [],
        Viewers: [],
        UserActive: {},
        UserCountdown: {},
        UserWaiting: [],
        Auth: { 
          email: '',
          pin: '',
          checkpin: ''
        },
        row: {},
        AirCheck: {},
        UserMe: {},
        UserState: "",
        Lng: SiteLng,
        refresh: 0,
        isOnline: function(iLogin, iCheck){
          return (iLogin==iCheck);
        },
        isSame: function(iLogin, iCheck){
          return (iLogin==iCheck);
        },
        isMe: function(iUser){
          return (iUser.UserUID==Global.Session.UserUID);

          for (var key in iReqs) {
            if(fFirst=iReqs[key]){
              return (fFirst.User.UserUID==Global.Session.UserUID);
            }
          }

          return false;
        },
        isLog: function(iLogin){
          return (iLogin);
        },
        isAdmin: function(iLogin){
          return (iLogin);
        }
      }
    }
  }
</script>