<a class="btn btn-icon btn-pure" href="https://twitter.com/intent/tweet?text=https://dd.in.rs{{Link}}"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
<a class="btn btn-icon btn-pure" href="https://www.facebook.com/sharer/sharer.php?u=https://dd.in.rs{{Link}}"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;Facebook</a>
<script>
component.exports ={
  onrender: function ( options ) {
    var self = this;
  },
  data:function() {
    return { 
      Row: {},
      Link: "",
      MsgCount: 0,
      Lng:SiteLng
    }
  }
}
</script>