{{#if(isTab('home'))}}
<div class="panel">
  <div class="panel-heading text-uppercase"></div>
  <div class="panel-body">
    <div class="{{Lng.Ribbon.Home.Class}}">
      <span class="ribbon-inner">{{{Lng.Ribbon.Home.Text}}}</span>
    </div>
    <br><br>
  </div>
</div>
{{/if}}
{{#if(isTab('preview'))}}
<div class="panel">
  <div class="panel-heading text-uppercase"></div>
  <div class="panel-body">
    <div class="{{Lng.Ribbon.Preview.Class}}">
      <span class="ribbon-inner">{{{Lng.Ribbon.Preview.Text}}}</span>
    </div>
    <br><br>
    <dl class="dl-horizontal">
        {{^toggle}}{{>viewHtml}}{{/}}
    </dl>
  </div>
</div>
{{/if}}
{{#if(isTab('edit'))}}
<div class="panel">
    <div class="panel-body">
      <div class="{{Lng.Ribbon.Edit.Class}}">
        <span class="ribbon-inner">{{{Lng.Ribbon.Edit.Text}}}</span>
      </div>
      <br><br>
      {{>content}}
  </div>
  <div class="panel-footer  text-right">
    <a href="javascript:void(0)" class="{{Lng.Link.Delete.Class}}" data-toggle="modal" data-target="#DeleteShow">{{{Lng.Link.Delete.Text}}}</a>
    <button class="{{Lng.Button.Save.Class}}" on-click="@this.fire('doSave')">{{{Lng.Button.Save.Text}}}</button>
  </div>
</div>
{{/if}}

<script>
  component.exports ={
    onrender: function ( options ) {
      var self = this;

      self.on('cmdRefresh', function (e){
        var ObjectFields;
        var fControl = "";
        var TypeView = self.get('TypeView');
        if((!ObjectFields)&&(Array.isArray(TypeView))) ObjectFields = TypeView;
        if((!ObjectFields)&&(typeof JSON.parse(TypeView)==='object')) ObjectFields = JSON.parse(TypeView);			
        if((!ObjectFields)&&(typeof self.get('ObjectFields')==='object')) ObjectFields = self.get('ObjectFields');			
        if(!ObjectFields) {
          ObjectFields=[];
        }

        for(i=0; i<ObjectFields.length; i++){
          var fRow = ObjectFields[i];
          if(fRow.Update){
            switch(fRow.Type.toLowerCase()){
              case 'color':
                  fControl = fControl+'<dt>'+fRow.Caption+'</dt><dd><i class="fa fa-circle" style="color:{{format.Color("", row.'+fRow.Name+')}};"></i></dd>';
                break;
              case 'date':
                  fControl = fControl+"<dt>"+fRow.Caption+"</dt><dd>{{formatDate(row."+fRow.Name+")}}</dd>";
                break;
              default:
                  fControl = fControl+"<dt>"+fRow.Caption+"</dt><dd>{{row."+fRow.Name+"}}</dd>";
                break;
            }
          }
        }
        if(self.isEcho()) console.log('Dynamic html', fControl);
        self.partials.viewHtml = fControl;
        self.resetPartial();
        self.set('toggle', true).then(function(){
          self.set('toggle', false);
        });
      });
      // self.observe('TypeView', function(n,o){
      //   self.fire('cmdRefresh');
      // });
    },
    partials: { viewHtml:'' },
    data:function() {
      return { 
            TypeUID:"", TypeView:"", OldView:"", ChangeCount:0, row:{}
          , ObjectFields:[]
          , myChange:false
          , Lng:SiteLng
          , tab:"home"
          , isHome: function(){
            var fTab = this.get('tab');
            return (fTab=="home");
          }
          , isTab: function(iValue){
            var fTab = this.get('tab');
            console.log(fTab);
            return (fTab==iValue);
          }
        }
    }
  }
</script>